.imeg {
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  overflow: visible;
  margin-left: 85%;
  width: 200px;
  padding: 20px;
  left: 10px;
  right: 0;
  top: 70px;
  object-fit: cover;
  
}
/*
.publicidad-clasificados{
  width: 300px;
  height: 50px;
}

@media screen and (max-width:768px){
  .publicidad-clasificados{
    width: 10%;
    height: 50%;
  }
}*/
