<div id="agregar">
<h1 mat-dialog-title>Agregar vehículo</h1>
<button _ngcontent-c7="" class="btn cerrar-filtro active"  [mat-dialog-close]=""><i _ngcontent-c7="" class="material-icons">close</i></button>
<div mat-dialog-content>
  
    <form [formGroup]="busquedaForm"  class="ui form row"  >
        

        <mat-form-field class="col-12">
            <mat-select formControlName="marca" placeholder="Marca" (change)="onChange('1');">
                    <mat-option value="">Seleccione..</mat-option>
                <mat-option  *ngFor="let data of lovMarca" value="{{data.codigo}}">{{data.descripcion}}({{data.cantidad}})</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-12">
            <mat-select formControlName="familia" placeholder="Familia" (change)="onChange('2');">
                <mat-option value="">Seleccione..</mat-option>
                <mat-option  *ngFor="let data of lovFamilia" value="{{data.codigo}}">{{data.descripcion}}({{data.cantidad}})</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-12">
            <mat-select formControlName="modelo" placeholder="Modelos" (change)="onChange('3');">
                <mat-option value="">Seleccione..</mat-option>
                <mat-option  *ngFor="let data of lovAnno" value="{{data.codigo}}">{{data.descripcion}}({{data.cantidad}})</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-12">
            <mat-select formControlName="linea" placeholder="Linea" (change)="onChange('4');">
                    <mat-option value="">Seleccione..</mat-option>
                <mat-option  *ngFor="let data of lovLinea" value="{{data.codigo}}">{{data.descripcion}}({{data.cantidad}})</mat-option>
            </mat-select>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions class="col-12">
	
	<button mat-button (click)="addVehiculo()"  class="btn btn-primary center">Agregar</button>
</div>
</div>