<div id="aviso-privacidad">
    <div class="title-section">
        Aviso de Privacidad
    </div>
    <div class="content-text">
        <p><strong><em>PROCESSOFT S.A.S.</em></strong> (en adelante la «EMPRESA»), con domicilio principal en la Calle 64 N # 5B
            -146 Local 2 3 del municipio de
            Santiago de Cali (Valle del Cauca), identificada con el NIT 900.941.137- 2 , se permite informar que en desarrollo
            de su objeto social y
            en cumplimiento de la normatividad vigente, podrá realizar recolección, almacenamiento, uso, procesamiento,
            transmisión y/o
            transferencia nacional e internacional de datos personales de conformidad con lo establecido en la Política de
            Tratamiento de Datos
            Personales (en adelante «PTDP») adoptada por la EMPRESA.</p>
        <p><strong><em>1. ¿Cuáles son las finalidades del Tratamiento de los datos personales recolectados por la
                    EMPRESA?</em></strong></p>
        <p>La finalidad del Tratamiento de los datos personales recolectados por la EMPRESA dependerá de la naturaleza del
            relacionamiento
            contractual y/o legal existente entre la EMPRESA y el titular del dato personal. De acuerdo a la PDTP vigente, se
            han definido las
            siguientes finalidades:</p>
        <p><span class="subrayar">Tratamiento de Datos personales de personas vinculadas a procesos de selección laboral, Empleados y ex Empleados:</span> Se
            realiza para cumplir con las obligaciones laborales a cargo de la EMPRESA, tales como pagos de nómina, reportes de Seguridad
            y Salud en el Trabajo, pagos y reportes al sistema general de seguridad social, DIAN y demás organismos de control, otorgar
            beneficios al empleado y a sus familiares, atención de consultas, peticiones, solicitudes, acciones y reclamos, hechas por el
            Titular de la información o por las personas autorizadas por este o la Ley, o por entidades del sistema general de seguridad
            social a los que el Titular esté o hubiere estado vinculado. El Tratamiento de información de exempleados se realiza con el fin de
            mantener un contacto para requerimiento de una labor desempeñada, constancias de vinculación, pagos a la seguridad social, soportes
            tributarios, atendiendo necesidades contractuales, legales o judiciales. Por su parte, el Tratamiento de los datos personales de
            las personas que se vinculen a procesos de selección laboral serán utilizados para las actividades propias de dicho proceso tales
            como solicitud de información, envío de información, verificaciones de referencias, realización de exámenes médicos y pruebas
            aptitudinales y, almacenamiento de la información para contacto ante futuras vacantes.</p>
        <p><span class="subrayar">Tratamiento de Datos personales de Empleados / Visitantes que acceden a las instalaciones de la EMPRESA:</span> La EMPRESA
            captura y almacena las grabaciones de las personas naturales que ingresan las instalaciones de la EMPRESA, entendidas como
            datos biométricos. Asimismo, ejerce controles de registro de ingreso de equipos, vehículos y demás. El Tratamiento de
            estos datos personales se efectúa para fines de seguridad, control de ingreso y salida de empleados y visitantes.</p>
        <p><span class="subrayar">Tratamiento de Datos personales de Contratistas personas naturales y personas naturales vinculadas a los
            Contratistas:</span> Este Tratamiento tiene como finalidades permitir a la EMPRESA la adecuada gestión de las actividades comerciales y/o
            contractuales que se establezcan, tales como verificar la información comercial y financiera del Titular, realizar reportes de
            información contable y financiera, realizar la asignación y control de elementos tecnológicos, materiales y equipos en general, entrada y
            salida de las diferentes instalaciones, seguimiento a cumplimiento de obligaciones contractuales y legales a cargo de
            Contratistas, atención de eventuales emergencias, atención respuesta de consultas, peticiones, solicitudes, acciones y reclamos, hechas por el
            Titular de la información o las personas legitimadas.</p>
        <p><span class="subrayar">Tratamiento de Datos personales de Proveedores personas naturales y personas naturales vinculadas al Proveedor:</span>
            Permite el cumplimiento de obligaciones contractuales a cargo de la EMPRESA, tales como pagos de honorarios, reportes de pagos,
            reportes de información contable y financiera, verificaciones de la información financiera del Titular, reportes o interacciones
            que por ley o por políticas internas tiene la obligación de realizar, atención de consultas, peticiones, solicitudes, acciones y
            reclamos, hechas por el Titular de la información o por sus legitimarios.</p>
        <p><span class="subrayar">Tratamiento de Datos personales de Clientes personas naturales y personas naturales vinculadas al Cliente:</span> El
            Tratamiento de datos personales de Clientes que son personas naturales, tiene el propósito de que la EMPRESA pueda cumplir con las
            obligaciones contractuales a su cargo, tales como facturación, reportes de pagos, reportes de información contable y financiera,
            difusión de información relevante respecto de los productos y servicios adquiridos de la EMPRESA, comunicar y ejecutar las
            actividades posventa a que haya lugar, así como la gestión de información que por ley o por políticas internas tiene la obligación de
            realizar. De igual forma, los Datos personales serán utilizados para que la EMPRESA pueda cumplir con las solicitudes de productos y/o de
            servicios, brindar un correcto manejo a las relaciones comerciales con clientes, suministrar información y material relacionado con el
            portafolio de productos y servicios de la EMPRESA, así como de noticias y nuevos lanzamientos por cualquier canal de comunicación,
            realizar gestión comercial, de mercadeo y publicidad de los productos y servicios ofrecidos por la EMPRESA por cualquier
            canal.</p>
        <p><span class="subrayar">Tratamiento de Datos personales de Prospectos de Clientes personas naturales y personas naturales vinculadas al
            Prospecto de Cliente:</span> El Tratamiento de datos personales de Prospectos de Clientes que son personas naturales, tiene el propósito
            de que la EMPRESA pueda cumplir con las solicitudes de productos y/o de servicios, realizar verificaciones de la información
            financiera del Titular, brindar un correcto manejo a las relaciones comerciales con Prospectos de Clientes, suministrar información
            y material relacionado con el portafolio de productos y servicios de la EMPRESA, así como de noticias y nuevos lanzamientos por
            cualquier</p>
        <p>canal de comunicación, realizar gestión comercial, de mercadeo y publicidad de los productos y servicios ofrecidos
            por LA EMPRESA por cualquier canal.</p>
        <p><span class="subrayar">Tratamiento de Datos personales de Accionistas, Representantes legales, Administradores de personas naturales o
            jurídicas:</span> Tiene el propósito de que la EMPRESA pueda cumplir con las obligaciones contractuales a su cargo, así como para identificar
            factores de riesgo y salud financiera de las empresas de las cuales hacen parte.</p>
        <p><strong><em>2. ¿Cuáles son los mecanismos dispuestos por la EMPRESA para el acceso y consulta de la
                    PTDP?</em></strong></p>
        <p>La PTDP de la EMPRESA se encuentra disponible para pública consulta en la página Web <a href="http://www.processoft.com.co" target="_blank">http://www.processoft.com.co</a> también podrá
            solicitarse copia de la misma a través de solicitud remitida al correo electrónico
    
            <a href="mailto:serviciocliente@processoft.com.co">serviciocliente@processoft.com.co</a>.</p>
        <p><strong><em>3. ¿Cuáles son los derechos que la ley le asisten a los titulares de los datos personales objeto de
                    Tratamiento por parte de</em></strong>
            <strong><em>la EMPRESA?</em></strong></p>
        <p>Los titulares de la información personal capturada por la EMPRESA tienen derecho a: (i) acceder, conocer, actualizar
            y/o rectificar sus
            datos personales, (ii) ser informado acerca del uso que se le da a los datos personales, (iii) presentar quejas ante
            la Superintendencia
            de Industria y Comercio, previo agotamiento del requisito de procedibilidad, ante presuntas infracciones de la Ley
            1581 de 2012 y
            normas reglamentarias y, (iv) revocar la autorización y/o solicitar la supresión de sus datos personales. Todo lo
            anterior conforme a la PTDP adoptada por la empresa.</p>
    </div>
</div>
