/* ################################################# PAGINACION ################################################# */
.pag{
    border-radius: 5px;
    background: #fff;
    padding: 0px;
    margin: 0 3px;
    font-size: 13px;
    cursor: pointer;
}
.paginador {
    margin-top: 20px;
}
.paginador > .pagination {
    display: inline-flex;
    list-style: none;
    text-align: center;
}
.pag.active {
    background: #212b4b;
    color: #fff;
}
.pag a{
    line-height: 25px;
    font-weight: 600;
    width: 26px;
    height: 26px;
    display: block;
}
.pag.disabled {
    background: #cecece;
    color: #8a8a8a;
    font-weight: 100 !important;
}
/* ################################################# FIN PAGINACION ################################################# */