/**************************************
comentarios.css
Indicar Expertos en vehículos.

******************************************/



/********        1# - Comentarios componente       *******/

.conversacion mat-expansion-panel-header{
  height: auto !important;
  min-height: 48px;
  padding: .5rem 1rem;
} 
.conversacion .mat-expansion-panel-body {
    background: #eee;
}
.conversacion .nombre_usuario{
   text-transform: capitalize;
}

.conversacion .mat-expansion-panel-body{
  padding: 0 1rem 1rem;
}

.conversacion label{
    font-size: 14px;
    color: darkgray;
    margin-left: 4px;
    position: absolute;
    right: 0;
}

.comentario{
    max-width: 50%;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.comentario span{
    width: 100%;
    opacity: 0.5;
    font-size: 12px;
    display: block;

}

.pregunta .comentario{
  background: #0262ba;
  color:#fff;
  border-top-left-radius: 0;
}

.pregunta .comentario:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #0262ba transparent transparent;
    content: '';
    position: absolute;
    top: 0px;
    left: -10px;
}
.respuesta .comentario{
  background: #fff;
  color:#333;
  margin: auto;
  border-top-right-radius: 0;
}

.respuesta .comentario:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #fff transparent transparent transparent;
    content: '';
    position: absolute;
    top: 0px;
    right: -10px;
}
.alerta_notificacion span{
    background: #ff0100;
    width: 16px;
    height: 16px;
    color: #fff;
    font-weight: 700;
    padding: 4px;
    line-height: 1.2;
    border-radius: 50%;
    display: block;
    font-size: 14px;
    text-align: center;
}

.pregunta {
    width: 100%;
    margin-bottom: 20px;
    
}
.respuesta {
    width: 100%;
    margin-bottom: 30px;
    text-align: right;
}

.responder {
    width: 100%;
}

.responder .chat {
    font-size: 16px;
    width: calc(100% - 120px);
    margin-right: 20px;
    padding: 9px 10px;
    border: 0;
    border-radius: 8px;
    color:#333;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

.conversacion .mat-expansion-panel-body {
    background: #eee;
}

.foto-conversacion{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;

}
.foto-conversacion img{
    margin: 0 auto;
    height: 100%;
    width: auto
}

a{
  color: #212529;
}

body{
    background: red;
}

.fecha-creacion{
    background: red;
}

table {
  width: 100%;
}

.mat-header-row, .mat-row{
  flex-wrap: wrap;
  position: relative;
  padding: 0 12px;
}

.mat-header-row{
  background: #dcdcdc;
}

.modal-header{
    background: #d6d6d6;
}


textarea.mat-input-element{
  min-height: 50px;
}
mat-header-cell.mat-header-cell {
    font-size: 1rem;
    color: #013b8e;
}

.btn-enviar{
  text-transform: uppercase;
  color: #013b8e;
}

button.close{
    position: relative;
    text-align: right;
    float: right;
    display: block;
    width: 100%;
}

.mat-cell{
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex: 0 0 9%;
  max-width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}



.mat-column-cod, .mat-column-clifav_codigo{
  flex: 0 0 10%;
  display: block;
  position: relative;
  max-width: 55px;

}

.mat-column-picture, .mat-column-foto_url{
	flex: 0 0 12%;
  display: block;
  position: relative;
  max-width: 100px;
}

.mat-column-picture img, .mat-column-foto_url img{
	width: 100%;
}

.mat-column-name, .mat-column-linea_nombre{
  flex: 0 0 30%;
  display: block;
  position: relative;
  padding: 0 1rem;
}

.mat-column-clifav_fecha_creacion{
  flex: 0 0 17%;
  margin-right: 0;
}

.favoritos mat-header-cell.mat-header-cell{
  margin-right: 0;
}



.clasificado .mat-column-name, .mat-column-linea_nombre{
  flex: 0 0 30%;
}

.favoritos .mat-column-name,.favoritos .mat-column-linea_nombre{
  flex: 0 0 50%;
}

.mat-column-fecha{
  flex: 0 0 12%;
  display: block;
  position: relative;

}

.mat-column-comentario{
  flex: 0 0 27%;
  display: block;
  position: relative;
  max-height: 50px;

}

.mat-column-boton{
  flex: 0 0 10%;
  display: block;
  position: relative;
  text-align: right;
}

.favoritos .mat-column-boton{
    flex: 0 0 8%;
}

.mat-column-boton i.material-icons{
  font-size: 20px;
}

.clasificado .mat-column-boton{
  flex: 9%;
}

.mat-column-visitas{
  flex: 0 0 7%;
  margin-right: 0rem;

}

.mat-row.leido{
  background: #f2f2f2;
}

.mat-row.leido .link-button{
  color: gray;
}

.mat-row.leido .mat-cell{
  color: gray;
}

.mat-row{
  padding: 5px 12px;
}

.link-button{
  background: none;
  border: none;
  float: right;
}

.clasificado .link-button, .favoritos .link-button {
  color: gray;
}

.clasificado .link-button:hover, .favoritos .link-button:hover{
  color: #013b8e;
}


#dialogo p{
  margin: 0;
}

#dialogo{
  padding: .5rem 3px;
}
@media only screen and (max-width: 1170px) {

  .favoritos .mat-column-name,.favoritos .mat-column-linea_nombre{
    flex: 0 0 48%;
  }

  .clasificado .mat-column-name, .mat-column-linea_nombre{
    flex: 0 0 27%;
  }

}


@media only screen and (max-width: 1080px) {

    mat-header-row.mat-header-row{
      display: none;
    }
    .telefonos mat-header-row.mat-header-row{
      display: flex;
    }
    
    .mat-form-field{
      padding: 0 1rem;
    }

    .mat-column-picture, .mat-column-foto_url {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
      flex: none;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      margin-top: 1rem;
    }

    .mat-column-picture img, .mat-column-foto_url img{
      margin: 0 auto;
      height: 100%;
      width: auto;
    }

    .mat-column-cod, .mat-column-clifav_codigo{
      flex: 0 0 100%;
      margin-bottom: .5rem;
      color: #828282;
      font-size: 12px;
      position: absolute;
      top: 5rem;
    }

    .clasificado .mat-column-cod{
      position: relative;
      top: 0;
    }

    .clasificado .mat-column-boton, .favoritos .mat-column-boton{
      flex: auto;
      width: inherit;
      position: relative;
    }

    .clasificado .mat-column-boton button, .favoritos .mat-column-boton button{
      background: none;
      border: none;
      color: gray;
      width: auto;
      height: 100%;
    }

    .mat-column-visitas:before{
      content: "Visto: "

    }

    .clasificado .mat-column-boton button:hover, .favoritos .mat-column-boton button:hover{
      color: #013b8e;
    }

    .mat-column-cod:before, .mat-column-clifav_codigo:before {
      content: "#";
    }

    .mat-column-name{
      flex: 0 0 calc(100% - 50px);
      padding-right: 0;
      font-weight: 500;
      margin-top: 1rem;
    }

    .mat-column-fecha{
      flex: 0 0 30%;
      position: absolute;
      top: 7px;
      right: 1rem;
      color: #828282;
      font-size: 12px;
    }

    .mat-column-comentario{
      margin-left: 80px;
      flex: 0 0 calc(100% - 80px);
      color: gray;
    }

    .mat-column-boton {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
      flex: 0 0 100%;
      display: block;
      position: absolute;
      text-align: right;
      width: calc(100% - 50px);
      height: calc(100% - 1rem);
    }

    .mat-column-boton .link-button{
        background: none;
        border: none;
        color: #0000ff00;
        width: 100%;
        height: 100%;
    }

    .mat-row.leido .mat-column-boton .link-button{
       color: #0000ff00;
    }

    .clasificado .mat-row.leido .mat-column-boton .link-button{
       color: gray;
    }

    .mat-form-field {
      width: 100%;
    }
      

  .clasificado .mat-table .mat-row, .favoritos .mat-table .mat-row{
    padding: 5px 12px;
  }

  .favoritos .mat-table .mat-row{
      padding-bottom: 29px;
  }

  .clasificado .mat-column-name, .favoritos .mat-column-linea_nombre{
    flex: 0 0 80%;
    top: 18px;
  }

  .mat-column-visitas{
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 12px;
    color: #828282;
  }

  .clasificado .mat-column-cod, .favoritos .mat-column-clifav_codigo{
    position: absolute;
    top: 10px;
  }

  .mat-column-picture, .mat-column-foto_url{
    position: relative;
    /*top: 18px;*/
  }

  .mat-cell.mat-column-venta_matricula_placa, .mat-cell.mat-column-venta_kilometraje, .mat-column-clifav_fecha_creacion, 
  .mat-column-tipo_favorito, .mat-column-ano_modelo{
    position: absolute;
    font-size: 12px;
    color: #828282;
  }

  .mat-cell.mat-column-venta_matricula_placa, .mat-column-clifav_fecha_creacion{
    top: 10px;
    left: 65px;
  }

  .mat-cell.mat-column-venta_matricula_placa:before{
    content: "Placa:"
  }

  .mat-cell.mat-column-venta_kilometraje, .mat-column-tipo_favorito{
    top: 10px;
    left: 170px;
  }

  .mat-cell.mat-column-venta_kilometraje:before{
    content: "km:"
  }

  .mat-column-ano_modelo{
    left: 250px;
    top: 10px;
  }

  .mat-column-ano_modelo:before{
  content: "Modelo:"
  }

  .clasificado .mat-column-boton{
    top: 10px;
  }

}
@media only screen and (max-width: 768px) {
  .conversacion .nombre_usuario{
    flex: 100%;
  }

  .conversacion label{
    position: initial
  }

  .responder{
    margin-bottom: 1rem
  }
}

@media only screen and (max-width: 475px) {

   .mat-column-ano_modelo{
    right: 14px;
    top: 10px;
  }

   .favoritos .mat-table .mat-row{
      padding-bottom: initial;
  }

  .mat-column-visitas{
        bottom: 10px;
    left: 12px;
    top: inherit;
  }
}



    