.header-comparador{
    background: url("/assets/images/bg_comparador.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

.titulo-seccion{
	padding-top:2rem;
	padding-bottom: 1rem;
	background: #fbf9f9;
	text-align: center;
}

#infor-carro label{
	font-weight: bold;
	color: #5f5f5f;
}
.comparador {
	min-height: 80vh;
}
#infor-carro.comparador .card p{
	margin: 0;
}

.comparador .card-header{
	padding: .75rem .5rem;
}

.comparador .nuevo.tarjeta-imagen img{
	    object-fit: contain;
}

#infor-carro.comparador .card-header a{
	font-size: 1.2rem;
}

.tarjeta-carro{
 	background: white;
 	margin-left: 5px;
 }

.tarjeta-imagen{
	float: inherit;
}

.contenido-comparador {
    margin-left: -15px;
    margin-right: -15px;
}

.contenido-comparador div{
	width: 100%;
    padding: .5rem 1rem;
}

.comparador h4{
	white-space: normal;
	margin-top: .5rem;
}

.contenido-comparador div:nth-child(even) {
	background: #f3f3f3}

.contenido-comparador div:nth-child(odd) {
	background: #fff}

.tarjeta-carro .fixedStyle{
    position: absolute;
    z-index: 1;
    top: 85px;
    background: white;
     -webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.31);
	-moz-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.31);
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.31);
	padding-left: 15px;
	padding-right: 15px;
    margin-left: -1rem;
    width: 100%;
    height: 130px;

}

.cambiarVehiculo{
	text-align: center;
    width: 100%;
    margin-top: 1rem;
    background: none;
    border: none;
    color: blue;
}
.agregarCarro {
	text-align: center;
}

.agregarCarro h3{
    margin-top: .5rem;
    font-size: 26px;
}

.agregarCarro i{
	width: 100%;
}
.agregarCarro button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #013b8e;
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
}

@media (min-width: 1310px){
	.tarjeta-carro .fixedStyle{
		max-width: 317px;
	}
}

@media (max-width: 991px){

	.tarjeta-carro .fixedStyle {
		width: 100%;
	    padding-top: 1rem;
    	padding-bottom: 1rem;
    	height: 150px;
	}

	.slider .rowslide{
	    overflow-x: auto;
	    white-space: nowrap;
	    display: block;
	    overflow-wrap: break-word;
	    word-wrap: break-word;
	}

	.slider .contenedor-tarjeta{
		display: inline-block;
    	margin-left: 5px;
    	vertical-align:top;
    	min-height: -webkit-stretch;
	}


}

@media (max-width: 768px){
	.comparador .tarjeta-imagen{
		max-width: initial;
		width: 100%;
	}
}


@media (min-width: 992px){
	.col-lg-3.comparador {
	    -ms-flex: 0 0 25%;
	    -webkit-box-flex: 0;
	    flex: 0 0 25%;
	    max-width: 24%;
	}
}
