/**************************************
filtros.css
Indicar Expertos en vehículos.

******************************************/



/********        1# - Inicio        *******/
.mat-option{
    height: 2.5em !important;
}

.subtitle{
    font-size: 18px;
    flex: 50%;
}


span.mat-option-text {
    font-size: 14px;
    line-height: 2.5em !important;
}

section.barra-opciones{
    background: #fff;
    width: 100%;
    padding: 5px 15px;
    height: auto;
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 50;
}
section.filtros.active {
    display: block;
}


.boton-filtros i {
    font-size: 16px;
    line-height: 0px;
    bottom: -3px;
    position: relative;
    padding-right: 5px;
}

.boton-filtros.filtrar.active{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 10;
    left: 0;
}

.filtros{
    width: 325px;
    float: left;
}

.filtros.inactive{
    display: none;
}

.filtros.active {
    background: rgba(33, 43, 75, 0.95);
    position: fixed;
    width: 100%;
    height: calc(100% - 90px);
    z-index: 50;
    top: 90px;
    bottom: 0;
    left: 0;
    right: 0;

}
.boton-filtros.inactive > span:nth-child(2) {
    display: none;
}

.boton-filtros.active > span:nth-child(1) {
    display: none;
}

.filtros-contenido {
    padding-top: 1rem;
    padding-bottom: 15px;
    padding: 0 1rem;
}

.filtros-contenido hr{
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

.remover-filtro {
    position: absolute;
    top: inherit;
    margin-top: -35px;
    right: 18px;
    background: #fff;
    width: 30px;
    height: 30px;
    padding: 3px;
    z-index: 10;
    cursor: pointer;

} 

.boton-filtros {
    background: transparent;
    color: #202a4b;
    border: 0px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.sin-fondo{
    background: none;
    box-shadow: none;
}

.filtros-contenido[_ngcontent-c2] .form-group[_ngcontent-c2] label[_ngcontent-c2]{
    font-size: 1rem;
    color: #222c4b;
}

.filtro-busqueda{
    height: auto;
    overflow-y: hidden;
    max-height: 243px;
}

.filtro-busqueda.active, .familia .filtro-busqueda.active{
    height: auto;
    overflow-y: hidden;
    max-height: inherit;
    transition: 300ms linear height;
}

.boton-ver-mas{
    background: none;
    border: none;
    font-size: 1rem;
    color: #222c4b;
    padding: 0;
    padding-top: 5px;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    text-align: left;
}

.boton-ver-mas.inactive>span:nth-child(2),.boton-ver-mas.active>span:nth-child(1){
    display: none;
} 

.boton-ver-mas.active>span:nth-child(1),.boton-ver-mas.inactive>span:nth-child(2){
    display: none;
} 

label.mas-opciones{
    cursor: pointer;
    width: 100%;
}

.boton-ver-mas:before,label.mas-opciones:before, .titulo-familia:before {
    right: 25px;
    content: 'add';
    position: absolute;
    font-size: 1rem;
    color: white;
    top: inherit;
    margin-top: 0px;
    float: right;
    pointer-events: none;
    font-family: "Material Icons";
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    background: #222c4b;
    border-radius: 50px;
}

.boton-ver-mas.active:before{
     content: 'remove';
}

label.mas-opciones.inactive:before, .titulo-familia.inactive:before{
    color: gray;
    content: "";
}

label.mas-opciones.active:before, .titulo-familia:before{
    content: 'remove';
     color: white;
}


.precio-form .form-select{
    padding: 0;
    padding-right: 5px;
}

.precio-form .form-select:before{
    content: none;
}

.precio-form .bt-ok{
    padding: 0;
}

.precio-form select{
    padding: 0 5px;
}

.precio-form button{
    height: 100%;
    background: #013588;
    color: white;
    border-radius: 8px;
    border: 0;
}

.titulo-familia{
    display: block;
    font-size: 14px;
    color: #636a7f;
    margin-top: 0rem;
}

.familia>.titulo-familia:nth-child(5){
    margin-top: 1rem;
}

.familia .filtro-busqueda{
    max-height: 243px;
}
/* Los estilos continuan en style line 962*/

.filtros{
    display: block;
    background: #efefef;
    border-radius: 5px;
    position: relative;
}

.filtros-contenido .form-group label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #013b8e;
    font-weight: 600;
}
.btn {
    font-weight: 600;

}
.btn:hover {
    opacity: 0.8;
}
.filtros-contenido .limpiar{
       position: relative;
    display: inline-block;
    float: right;
    text-decoration: underline;
}

.titulo-filtros{
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

.titulo-filtros label{
    font-size: 18px !important;
    text-transform: uppercase;
    padding-top: 7px;
}




@media only screen and (max-width : 768px) {

    .filtros{
        width: 100%;
        border-radius: 0; 
     }

     .boton-ver-mas:before,label.mas-opciones:before, .titulo-familia:before {
        right: 0;
     }

      .boton-busqueda {
        right: 45px !important;   
     }
 }

@media only screen and (min-width : 767px) {
 .tarjeta-contenido {
        width: 100%;
        min-height: 129px;
    }

    .tarjeta-imagen {
        width: 100%;
        border-bottom-left-radius: 0px;
    }

    .tarjeta-imagen img {
        width: 100%;
        object-fit: cover;

    }
}