.header-financieras{
    background: url("fondo_filtro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}


.calculadora{
	padding: 1rem;
	background: white;
	top: -3rem;
    position: relative;
    border-radius: 1rem 1rem 0 0;
}

.valorFinanciar label{
	color: gray;
    margin-bottom: 0;
}

.valorFinanciar p{
	font-size: 1.2rem;
    font-weight: 500;
    color: #013b8e;
}

.calculadora button{
	width: 70%;
    margin: 1.3rem auto;
    display: block;
}

.calculadora h3{
	margin: 1rem 0;
	font-size: 1.5rem;
}

.header-financieras h1{
	color: white;
    text-align: center;
    padding-top: 7rem;
    position: relative
}

.calculadora form{
	font-size: 14px;
}

.texto-financiera p{
	position: relative;
    display: block;
    top: calc(50% - 150px);
    margin: auto;
    font-size: 1rem;
    text-align: justify;
 }

 .texto-financiera .btn{
 	position: relative;
    display: block;
    top: calc(60% - 150px);
    float: right;
 }

.texto-financiera .texto-credito{
    top: calc(50% - 150px);
 }


.valor-cuota{
    display: none
}

.valor-cuota{
    text-align: center;
    margin-top: 2rem;
}

.valor-cuota p{
    text-align: center;
}

.valor-cuota h1{
    margin: 1rem 0;
}

.valor-cuota label{
    text-align: center;
    color: gray;
}

.cuota .texto-financiera .btn{
    margin-top: 2rem;
    top: inherit;
}

.cuota .btn{
    width: 70%;
    margin: 2rem 15%;
}

.cuota .valor-cuota{
    display: block
}

.mat-header-row{
    background: #245099;
}

mat-header-cell.mat-header-cell{
    font-size: 1rem;
    color: white;

}

.mat-cell, .mat-header-cell{
    padding: 0 1rem;
}

.mat-cell img{
    width: 100%;
}

.tabla-financiera a.btn.btn-primary {
    margin: 0;
    width: 100%;
}

.mat-form-field{
    font-size: 14px;
}

.tabla-financiera .mat-column-entidad{
    flex: 0 0 18%;
}

.mat-cell{
    text-align: center;
}

.tabla-financiera mat-form-field{
    padding: 0;
}



.tabla-financiera .mat-header-row, .mat-row {
    border-bottom-color: rgba(38, 79, 153, 0.31);
}

.ddesc{
    padding-left: 12px;
}
.dterm{
    padding-left: 22px;
}
.btn-anchor{
    background: transparent;
    border: 0px;
    padding: 0px;
    color:#007bff;
}
.btn-anchor:hover{
    color: #0056b3;
}
.section-ol > ol > li{
    padding-bottom:20px;
}
.subrayar{
    text-decoration: underline;
}
.title-processoft{
    color: #333333;
    padding-bottom: 30px;
}

@media only screen and (max-width : 1100px) {
    mat-cell.mat-cell.cdk-column-entidad.mat-column-entidad.ng-star-inserted{
        display: none;
    }

    mat-header-cell.mat-header-cell.cdk-column-entidad.mat-column-entidad.ng-star-inserted{
        display: none;
    }

    .tabla-financiera mat-form-field{
        padding: 0  1rem;
    }
}

@media only screen and (max-width : 768px) {

    mat-header-row{
        display: none;
    }
    mat-row{
        position: relative;
        min-height: 80px;
        padding-bottom: .5rem;
    }

    mat-cell.mat-cell.cdk-column-logo.mat-column-logo.ng-star-inserted{
        flex: 0 0 20%;
        padding: 0;
        position: relative;
        padding-bottom: .5rem;
        height: 35px;
        top: -5px;
        border-bottom: 1px solid #eaeaea;
        padding-right: 5px;
    }

    mat-cell.mat-cell.cdk-column-entidad.mat-column-entidad.ng-star-inserted{
        display: none;
    }

    mat-cell.mat-cell.cdk-column-producto.mat-column-producto.ng-star-inserted{
        position: relative;
        top: -5px;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: .5rem;
        height: 35px
    }

    mat-cell.mat-cell.cdk-column-interesMin.mat-column-interesMin.ng-star-inserted{
        position: absolute;
        top: 60px;
        left: 22%;
        font-weight: bold;
        color: #828282;
    }

    mat-cell.mat-cell.cdk-column-interesMin.mat-column-interesMin.ng-star-inserted:before {
        content: "Tasa de";
        font-weight: normal;
    }

    mat-cell.mat-cell.cdk-column-interesMax.mat-column-interesMax.ng-star-inserted{
        position: absolute;
        top: 60px;
        left: calc(22% + 97px);
        font-weight: bold;
        color: #828282;
    }

    mat-cell.mat-cell.cdk-column-interesMax.mat-column-interesMax.ng-star-inserted:before {
        content: "hasta";
        font-weight: normal;
    }

    mat-cell.mat-cell.cdk-column-plazo.mat-column-plazo.ng-star-inserted{
        position: absolute;
        top: 60px;
        right: 21px;
        font-weight: bold;
        color: #828282;
    }

    mat-cell.mat-cell.cdk-column-boton.mat-column-boton.ng-star-inserted{
        position: absolute;
        width: 100%;
        padding: 0;
        left: 0;
        height: 100%;
        top: 2px;
    }
    
    mat-cell.mat-cell.cdk-column-boton.mat-column-boton.ng-star-inserted a{
        height: 96%;
        color: transparent;
        background: none;
        border:none;
    }

}
@media only screen and (max-width : 563px) {
    mat-cell.mat-cell.cdk-column-interesMax.mat-column-interesMax.ng-star-inserted{
        left: 105px;    }
    
    mat-cell.mat-cell.cdk-column-interesMin.mat-column-interesMin.ng-star-inserted{
        left: 7px;
    }

    mat-cell.mat-cell.cdk-column-logo.mat-column-logo.ng-star-inserted{
         top: -5px;
        border-bottom: 1px solid #eaeaea;
    }

}
/*
@media only screen and (max-width : 1050px) {

    .mat-header-row{
        display: none;
    }

    .mat-column-plazo{
            position: absolute;
        top: 4rem;
        right: 190px;
        height: 32px;
    }

    .mat-column-boton{
            position: relative;
        background: none;
        height: 6rem;
        top: 1rem;
    }

    .mat-column-interesMax{
            position: absolute;
        top: 4rem;
        right: 7rem;
    }

    .mat-column-interesMin{
            position: absolute;
        top: initial;
    }

    .mat-column-entidad{
        display: none
    }

    .mat-column-producto{
        flex: 0 0 80%;
    }

    mat-cell.mat-cell.cdk-column-plazo.mat-column-plazo.ng-star-inserted:before {
        content: "plazo maximo";
        position: relative;
        right: -67px;
        top: 1rem;
    }

    .mat-row{
        position: relative;
    }

    .mat-column-logo{
        flex: 0 0 21%;
        position: relative;
        padding: 0;
    }

}*/