::ng-deep snack-bar-container.custom-class {
    background: yellowgreen;
  }
  
  ::ng-deep .custom-class .mat-simple-snackbar {
    color: green;
  }

   ::ng-deep .img-ul-drag-box-msg {
    position: absolute;
    top: 10px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    right: 15px;
    width: auto;
    font-weight: 400 !important;
}