
.form-group{
	margin-bottom: 0;
}

.form-group p {
    font-size: 14px;
    color: #013b8e;
}

.recuperar{
	max-width: 550px
}

.cuadro-registro{
	max-width: 580px;
	width: 100%;
	-webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.15);
}

.formulario-registro{
	font-size: 14px;
}

.cuadro-registro.login{
	width: 400px;
}



@media only screen and (min-width: 768px){
	.titulo-registro{
		text-align: center;
		margin-top: 8rem;
    	margin-bottom: 1rem;
	}

}