.header-scredito{
	/*background-image: url("callCenter.jpg");*/
   background-image: url("/assets/images/bg_credito.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 200px;
}

.titulo-seccion{
	padding-top:2rem;
	padding-bottom: 1rem;
	background: #fbf9f9;
	text-align: center;
}

form{
	width: 100%;
	max-width: 580px;
	margin: 0 auto;

}

.subtitle{
	text-align: center;
    width: 100%;
    color: #717171;
}

.logos-financiera img{
	max-width: 300px;
	width: 100%;
}

