<div class="container-fluid fix">
<div class="row">
   <section class=" col-xl-4 col-lg-4 col-md-3 col-sm-12 col-12">
   </section>
   <section class="comentarios  col-xl-8 col-lg-8 col-md-9 col-sm-12 col-12">
      <div class="row titulo-item">
      </div>
      <div class="row comentarios-items">
         <div class="col-lg-12 extendido no-padding">
            <div class="tarjeta row">
               <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4">
                  <div class="tarjeta-imagen">
                     <img src="https://d1wx0q0ct4xanw.cloudfront.net/LA/LINEAS/uja4bUuN-5LZHdYG6FgHC0yU1XJJ_B6VemEevsj6Ee0/uja4bUuN-5LZHdYG6FgHC0yU1XJJ_B6VemEevsj6Ee0xGJ4XukfAJKAPdHEBn0PZd87ZD0tRng595yu2SHQgDM.jpg" alt="" >
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5 col-md-5 col-sm-9 col-8">
                  <div class="tarjeta-contenido">
                     <p>#434214124</p>
                     <h4 class="tarjeta-titulo">
                        NISSAN  NEW SENTRA SENSE 4P NB AUT GSL 1800 CC FE ABS 2 AB PRT
                     </h4>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-2 col-sm-6 col-6">
                  <div class="fecha-creacion">
                     <span class="hidden-md-up">Creado:</span>02/22/2018
                  </div>
               </div>
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                  <div class="dias-restantes">
                     18
                  </div>
               </div>
            </div>
            <div class="tarjeta row">
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
                  <div class="tarjeta-imagen">
                     <img src="https://d1wx0q0ct4xanw.cloudfront.net/LA/LINEAS/uja4bUuN-5LZHdYG6FgHC0yU1XJJ_B6VemEevsj6Ee0/uja4bUuN-5LZHdYG6FgHC0yU1XJJ_B6VemEevsj6Ee0xGJ4XukfAJKAPdHEBn0PZd87ZD0tRng595yu2SHQgDM.jpg" alt="" >
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5 col-md-5 col-sm-9 col-9">
                  <div class="tarjeta-contenido">
                     <h4 class="tarjeta-titulo">
                        NISSAN  NEW SENTRA SENSE 4P NB AUT GSL 1800 CC FE ABS 2 AB PRT
                     </h4>
                     <span>#434214124</span>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-2 col-sm-6 col-6">
                  <div class="fecha-creacion">
                     02/22/2018
                  </div>
               </div>
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                  <div class="dias-restantes">
                     18
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
</mat-form-field>

 <mat-table #table [dataSource]="dataSource" matSort ng-class="myVar">
    <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.value}} </mat-header-cell>
      <mat-cell *matCellDef="let element">

       <img src="https://d1wx0q0ct4xanw.cloudfront.net/LA/LINEAS/uja4bUuN-5LZHdYG6FgHC0yU1XJJ_B6VemEevsj6Ee0/uja4bUuN-5LZHdYG6FgHC0yU1XJJ_B6VemEevsj6Ee0xGJ4XukfAJKAPdHEBn0PZd87ZD0tRng595yu2SHQgDM.jpg" *ngIf="column.id=='picture'" >
       <button class="link-button" (click)="open(content)" *ngIf="column.id=='boton'" 
       ng-class="myVar='my-class'">Responder</button>
       {{element[column.id]}} </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.classleido" (click)="onEdit(row)"></mat-row>
  </mat-table>

<!--  modal correo -->
  <ng-template #content let-c="close" let-d="dismiss">
     <div class="modal-header">
       <h4 class="modal-title">Modal title</h4>
       <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <p>One fine body&hellip;</p>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
     </div>
</ng-template>





