<div class="header-comparador">
</div>
<div class="col-12 titulo-seccion">
    <div class="container-fluid">
        <h3 class="titulo mb-3">Comparador</h3>
        <p>Compara precios e información técnica de vehículos que están en el mercado</p>
    </div>
</div>

<div class="container-fluid fix cuota slider">
    <div class="row rowslide">
    	<div class="col-lg-3 col-md-4 col-9 tarjeta-carro comparador contenedor-tarjeta">
            <div [class.fixedStyle]="fixed" class="agregarCarro" [ngStyle]="tituloCarro" *ngIf="listVehiculo[0].linea_codigo==''" >
                <h3>Agregar vehículo</h3>
                <button mat-raised-button (click)="agregarVehiculo(1)" ><i class="material-icons">add</i></button>
            </div>

            <div class="contenido-carro" *ngIf="listVehiculo[0].linea_codigo!=''" >
        		<div [class.fixedStyle]="fixed" [ngStyle]="tituloCarro">
        		    <h4 class="tarjeta-titulo">
                       {{listVehiculo[0].linea_nombre}}
                    </h4>

                     <div class="tarjeta-tags">
                        <span>{{listVehiculo[0].linea_traccion}}</span>
                        <span>{{listVehiculo[0].linea_caja}}</span>
                        <span>{{listVehiculo[0].linea_tipomotor}}</span>
                        <span>{{listVehiculo[0].linea_capacidadmotor}}</span>
                    </div>

                    <div class="tarjeta-precio text-center">
                        {{listVehiculo[0].linea_valor | currency:'COP':'symbol-narrow':'2.0-1'}}
                    </div>
        		</div>
                
        	    <div class="nuevo tarjeta-imagen image-list">
                    <img src="{{listVehiculo[0].linea_foto}}">


                </div>

                <button mat-raised-button (click)="agregarVehiculo(1)" class="cambiarVehiculo" >Cambiar vehículo</button>
                <button mat-raised-button *ngIf="remover[0]" (click)="removerVehiculo(1)" class="cambiarVehiculo" >Remover vehículo</button>

                <ngb-accordion #acc="ngbAccordion" id="infor-carro" [activeIds]="activeIds"  (panelChange)="clickCategoria($event)">
                    <ngb-panel title="Motor" id="motor_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                                <div>                
                                    <label>Tipo de combustible:</label>
                                    <p>{{listVehiculo[0].tipocombustible}}</p>
                                </div>
                                
                                <div> 
                                    <label>Potencia máxima:</label>
                                    <p>{{listVehiculo[0].potenciamaxima}}</p>  
                                </div> 

                                <div>                     
                                    <label>Núm. cilindros y disposición</label>
                                    <p>{{listVehiculo[0].numcilindros}}</p>  
                                </div> 

                                <div>                                        
                                    <label>Torque</label>
                                    <p>{{listVehiculo[0].torque}}</p>
                                </div> 

                                <div>                     
                                    <label>Cilindraje</label>
                                    <p>{{listVehiculo[0].cilindrada}}</p>
                                </div> 
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Tracción" id="traccion_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                                <div>                
                                    <label>Tipo:</label>
                                    <p>{{listVehiculo[0].traccion}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Caja de cambios" id="caja_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                                <div>                
                                    <label>Núm. velocidades:</label>
                                    <p>{{listVehiculo[0].cajavelocidades}}</p>
                                </div>
                                <div>                
                                    <label>Tipo:</label>
                                    <p>{{listVehiculo[0].cajatipo}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Dirección" id="direccion_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Tipo:</label>
                                    <p>{{listVehiculo[0].direcciontipo}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Suspensión" id="suspension_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Trasera:</label>
                                    <p>{{listVehiculo[0].suspenciontra}}</p>
                                </div>
                                 <div>                
                                    <label>Delantera:</label>
                                    <p>{{listVehiculo[0].suspenciondel}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Dimensiones" id="dimension_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Distancia entre ejes:</label>
                                    <p>{{listVehiculo[0].dimdistanciaejes}}</p>
                                </div>
                                 <div>                
                                    <label>Largo total:</label>
                                    <p>{{listVehiculo[0].dimlargo}}</p>
                                </div>
                                <div>                
                                    <label>Alto total:</label>
                                    <p>{{listVehiculo[0].dimalto}}</p>
                                </div>
                                <div>                
                                    <label>Ancho total:</label>
                                    <p>{{listVehiculo[0].dimancho}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Pesos y capacidades" id="peso_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Capacidad de pasajeros:</label>
                                    <p>{{listVehiculo[0].cappasajeros}}</p>
                                </div>
                                 <div>                
                                    <label>Peso vacío:</label>
                                    <p>{{listVehiculo[0].capvacio}}</p>
                                </div>
                                <div>                
                                    <label>Capacidad de carga:</label>
                                    <p>{{listVehiculo[0].capcarga}}</p>
                                </div>
                                <div>                
                                    <label>Fila de asientos:</label>
                                    <p>{{listVehiculo[0].capfila}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Seguridad" id="seguridad_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Airbags:</label>
                                    <p>{{listVehiculo[0].segairbagscapfila}}</p>
                                </div>
                                 <div>                
                                    <label>Sist. frenos antibloqueo:</label>
                                    <p>{{listVehiculo[0].segabs}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                      
                    <ngb-panel title="Equipamiento y confort" id="equipamiento_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Espejos Electricos</label>
                                    <p>{{listVehiculo[0].equiespejoselec}}</p>
                                </div>
                                <div>                
                                    <label>Aire Acondiconado</label>
                                    <p>{{listVehiculo[0].equiaire}}</p>
                                </div>
                                <div>                
                                    <label>Bloqueo Central</label>
                                    <p>{{listVehiculo[0].equibloqueo}}</p>
                                </div>
                                 
                            </div>
                        </ng-template>
                    </ngb-panel>

                
                </ngb-accordion>
            </div>
    	</div>

        <div class="col-lg-3 col-md-4 col-9 tarjeta-carro comparador contenedor-tarjeta">
            <div [class.fixedStyle]="fixed" class="agregarCarro" [ngStyle]="tituloCarro" *ngIf="listVehiculo[1].linea_codigo==''">
                <h3>Agregar vehículo</h3>
                <button mat-raised-button (click)="agregarVehiculo(2)" ><i class="material-icons">add</i></button>
            </div>

            <div class="contenido-carro" *ngIf="listVehiculo[1].linea_codigo!=''" >
        		<div [class.fixedStyle]="fixed" [ngStyle]="tituloCarro">
        		    <h4 class="tarjeta-titulo">
                       {{listVehiculo[1].linea_nombre}}
                    </h4>

                     <div class="tarjeta-tags">
                        <span>{{listVehiculo[1].linea_traccion}}</span>
                        <span>{{listVehiculo[1].linea_caja}}</span>
                        <span>{{listVehiculo[1].linea_tipomotor}}</span>
                        <span>{{listVehiculo[1].linea_capacidadmotor}}</span>
                    </div>

                    <div class="tarjeta-precio text-center">
                        {{listVehiculo[1].linea_valor | currency:'COP':'symbol-narrow':'2.0-1'}}
                    </div>
        		</div>
                
        	    <div class="nuevo tarjeta-imagen image-list">
                    <img src="{{listVehiculo[1].linea_foto}}">


                </div>

                <button mat-raised-button (click)="agregarVehiculo(2)" class="cambiarVehiculo" >Cambiar vehículo</button>
                <button mat-raised-button *ngIf="remover[1]" (click)="removerVehiculo(2)" class="cambiarVehiculo" >Remover vehículo</button>

                <ngb-accordion #acc="ngbAccordion" id="infor-carro" [activeIds]="activeIds"  (panelChange)="clickCategoria($event)">
                    <ngb-panel title="Motor" id="motor_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                                <div>                
                                    <label>Tipo de combustible:</label>
                                    <p>{{listVehiculo[1].tipocombustible}}</p>
                                </div>
                                
                                <div> 
                                    <label>Potencia máxima:</label>
                                    <p>{{listVehiculo[1].potenciamaxima}}</p>  
                                </div> 

                                <div>                     
                                    <label>Núm. cilindros y disposición</label>
                                    <p>{{listVehiculo[1].numcilindros}}</p>  
                                </div> 

                                <div>                                        
                                    <label>Torque</label>
                                    <p>{{listVehiculo[1].torque}}</p>
                                </div> 

                                <div>                     
                                    <label>Cilindraje</label>
                                    <p>{{listVehiculo[1].cilindrada}}</p>
                                </div> 
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Tracción" id="traccion_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                                <div>                
                                    <label>Tipo:</label>
                                    <p>{{listVehiculo[1].traccion}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Caja de cambios" id="caja_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                                <div>                
                                    <label>Núm. velocidades:</label>
                                    <p>{{listVehiculo[1].cajavelocidades}}</p>
                                </div>
                                <div>                
                                    <label>Tipo:</label>
                                    <p>{{listVehiculo[1].cajatipo}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Dirección" id="direccion_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Tipo:</label>
                                    <p>{{listVehiculo[1].direcciontipo}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Suspensión" id="suspension_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Trasera:</label>
                                    <p>{{listVehiculo[1].suspenciontra}}</p>
                                </div>
                                 <div>                
                                    <label>Delantera:</label>
                                    <p>{{listVehiculo[1].suspenciondel}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Dimensiones" id="dimension_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Distancia entre ejes:</label>
                                    <p>{{listVehiculo[1].dimdistanciaejes}}</p>
                                </div>
                                 <div>                
                                    <label>Largo total:</label>
                                    <p>{{listVehiculo[1].dimlargo}}</p>
                                </div>
                                <div>                
                                    <label>Alto total:</label>
                                    <p>{{listVehiculo[1].dimalto}}</p>
                                </div>
                                <div>                
                                    <label>Ancho total:</label>
                                    <p>{{listVehiculo[1].dimancho}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Pesos y capacidades" id="peso_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Capacidad de pasajeros:</label>
                                    <p>{{listVehiculo[1].cappasajeros}}</p>
                                </div>
                                 <div>                
                                    <label>Peso vacío:</label>
                                    <p>{{listVehiculo[1].capvacio}}</p>
                                </div>
                                <div>                
                                    <label>Capacidad de carga:</label>
                                    <p>{{listVehiculo[1].capcarga}}</p>
                                </div>
                                <div>                
                                    <label>Fila de asientos:</label>
                                    <p>{{listVehiculo[1].capfila}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Seguridad" id="seguridad_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Airbags:</label>
                                    <p>{{listVehiculo[1].segairbagscapfila}}</p>
                                </div>
                                 <div>                
                                    <label>Sist. frenos antibloqueo:</label>
                                    <p>{{listVehiculo[1].segabs}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                      
                    <ngb-panel title="Equipamiento y confort" id="equipamiento_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Espejos Electricos</label>
                                    <p>{{listVehiculo[1].equiespejoselec}}</p>
                                </div>
                                <div>                
                                    <label>Aire Acondiconado</label>
                                    <p>{{listVehiculo[1].equiaire}}</p>
                                </div>
                                <div>                
                                    <label>Bloqueo Central</label>
                                    <p>{{listVehiculo[1].equibloqueo}}</p>
                                </div>
                                 
                            </div>
                        </ng-template>
                    </ngb-panel>

                
                </ngb-accordion>
            </div>

        </div>

        <div class="col-lg-3 col-md-4 col-9 tarjeta-carro comparador contenedor-tarjeta">
            <div [class.fixedStyle]="fixed" class="agregarCarro" [ngStyle]="tituloCarro" *ngIf="listVehiculo[2].linea_codigo==''">
                <h3>Agregar vehículo</h3>
                <button mat-raised-button (click)="agregarVehiculo(3)" ><i class="material-icons">add</i></button>
            </div>

            <div class="contenido-carro" *ngIf="listVehiculo[2].linea_codigo!=''" >
        		<div [class.fixedStyle]="fixed" [ngStyle]="tituloCarro">
        		    <h4 class="tarjeta-titulo">
                       {{listVehiculo[1].linea_nombre}}
                    </h4>

                     <div class="tarjeta-tags">
                        <span>{{listVehiculo[2].linea_traccion}}</span>
                        <span>{{listVehiculo[2].linea_caja}}</span>
                        <span>{{listVehiculo[2].linea_tipomotor}}</span>
                        <span>{{listVehiculo[2].linea_capacidadmotor}}</span>
                    </div>

                    <div class="tarjeta-precio text-center">
                        {{listVehiculo[2].linea_valor | currency:'COP':'symbol-narrow':'2.0-1'}}
                    </div>
        		</div>
                
        	    <div class="nuevo tarjeta-imagen image-list">
                    <img src="{{listVehiculo[2].linea_foto}}">


                </div>

                <button mat-raised-button (click)="agregarVehiculo(3)" class="cambiarVehiculo" >Cambiar vehículo</button>
                <button mat-raised-button *ngIf="remover[2]" (click)="removerVehiculo(3)" class="cambiarVehiculo" >Remover vehículo</button>

                <ngb-accordion #acc="ngbAccordion" id="infor-carro" [activeIds]="activeIds"  (panelChange)="clickCategoria($event)">
                    <ngb-panel title="Motor" id="motor_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                                <div>                
                                    <label>Tipo de combustible:</label>
                                    <p>{{listVehiculo[2].tipocombustible}}</p>
                                </div>
                                
                                <div> 
                                    <label>Potencia máxima:</label>
                                    <p>{{listVehiculo[2].potenciamaxima}}</p>  
                                </div> 

                                <div>                     
                                    <label>Núm. cilindros y disposición</label>
                                    <p>{{listVehiculo[2].numcilindros}}</p>  
                                </div> 

                                <div>                                        
                                    <label>Torque</label>
                                    <p>{{listVehiculo[2].torque}}</p>
                                </div> 

                                <div>                     
                                    <label>Cilindraje</label>
                                    <p>{{listVehiculo[2].cilindrada}}</p>
                                </div> 
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Tracción" id="traccion_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                                <div>                
                                    <label>Tipo:</label>
                                    <p>{{listVehiculo[2].traccion}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Caja de cambios" id="caja_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                                <div>                
                                    <label>Núm. velocidades:</label>
                                    <p>{{listVehiculo[2].cajavelocidades}}</p>
                                </div>
                                <div>                
                                    <label>Tipo:</label>
                                    <p>{{listVehiculo[2].cajatipo}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Dirección" id="direccion_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Tipo:</label>
                                    <p>{{listVehiculo[2].direcciontipo}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Suspensión" id="suspension_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Trasera:</label>
                                    <p>{{listVehiculo[2].suspenciontra}}</p>
                                </div>
                                 <div>                
                                    <label>Delantera:</label>
                                    <p>{{listVehiculo[2].suspenciondel}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Dimensiones" id="dimension_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Distancia entre ejes:</label>
                                    <p>{{listVehiculo[2].dimdistanciaejes}}</p>
                                </div>
                                 <div>                
                                    <label>Largo total:</label>
                                    <p>{{listVehiculo[2].dimlargo}}</p>
                                </div>
                                <div>                
                                    <label>Alto total:</label>
                                    <p>{{listVehiculo[2].dimalto}}</p>
                                </div>
                                <div>                
                                    <label>Ancho total:</label>
                                    <p>{{listVehiculo[2].dimancho}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Pesos y capacidades" id="peso_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Capacidad de pasajeros:</label>
                                    <p>{{listVehiculo[2].cappasajeros}}</p>
                                </div>
                                 <div>                
                                    <label>Peso vacío:</label>
                                    <p>{{listVehiculo[2].capvacio}}</p>
                                </div>
                                <div>                
                                    <label>Capacidad de carga:</label>
                                    <p>{{listVehiculo[2].capcarga}}</p>
                                </div>
                                <div>                
                                    <label>Fila de asientos:</label>
                                    <p>{{listVehiculo[2].capfila}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Seguridad" id="seguridad_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Airbags:</label>
                                    <p>{{listVehiculo[2].segairbagscapfila}}</p>
                                </div>
                                 <div>                
                                    <label>Sist. frenos antibloqueo:</label>
                                    <p>{{listVehiculo[2].segabs}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                      
                    <ngb-panel title="Equipamiento y confort" id="equipamiento_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Espejos Electricos</label>
                                    <p>{{listVehiculo[2].equiespejoselec}}</p>
                                </div>
                                <div>                
                                    <label>Aire Acondiconado</label>
                                    <p>{{listVehiculo[2].equiaire}}</p>
                                </div>
                                <div>                
                                    <label>Bloqueo Central</label>
                                    <p>{{listVehiculo[2].equibloqueo}}</p>
                                </div>
                                 
                            </div>
                        </ng-template>
                    </ngb-panel>

                
                </ngb-accordion>
            </div>

        </div>

        <div class="col-lg-3 col-md-4 col-9 tarjeta-carro comparador contenedor-tarjeta">
            <div [class.fixedStyle]="fixed" class="agregarCarro" [ngStyle]="tituloCarro"*ngIf="listVehiculo[3].linea_codigo==''">
                <h3>Agregar vehículo</h3>
                <button mat-raised-button (click)="agregarVehiculo(4)" ><i class="material-icons">add</i></button>
            </div>

            <div class="contenido-carro" *ngIf="listVehiculo[3].linea_codigo!=''" >
        		<div [class.fixedStyle]="fixed" [ngStyle]="tituloCarro">
        		    <h4 class="tarjeta-titulo">
                       {{listVehiculo[3].linea_nombre}}
                    </h4>

                     <div class="tarjeta-tags">
                        <span>{{listVehiculo[3].linea_traccion}}</span>
                        <span>{{listVehiculo[3].linea_caja}}</span>
                        <span>{{listVehiculo[3].linea_tipomotor}}</span>
                        <span>{{listVehiculo[3].linea_capacidadmotor}}</span>
                    </div>

                    <div class="tarjeta-precio text-center">
                        {{listVehiculo[3].linea_valor | currency:'COP':'symbol-narrow':'2.0-1'}}
                    </div>
        		</div>
                
        	    <div class="nuevo tarjeta-imagen image-list">
                    <img src="{{listVehiculo[3].linea_foto}}">


                </div>

                <button mat-raised-button (click)="agregarVehiculo(4)" class="cambiarVehiculo" >Cambiar vehículo</button>
                <button mat-raised-button *ngIf="remover[3]" (click)="removerVehiculo(4)" class="cambiarVehiculo" >Remover vehículo</button>

                <ngb-accordion #acc="ngbAccordion" id="infor-carro" [activeIds]="activeIds"  (panelChange)="clickCategoria($event)">
                    <ngb-panel title="Motor" id="motor_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                                <div>                
                                    <label>Tipo de combustible:</label>
                                    <p>{{listVehiculo[3].tipocombustible}}</p>
                                </div>
                                
                                <div> 
                                    <label>Potencia máxima:</label>
                                    <p>{{listVehiculo[3].potenciamaxima}}</p>  
                                </div> 

                                <div>                     
                                    <label>Núm. cilindros y disposición</label>
                                    <p>{{listVehiculo[3].numcilindros}}</p>  
                                </div> 

                                <div>                                        
                                    <label>Torque</label>
                                    <p>{{listVehiculo[3].torque}}</p>
                                </div> 

                                <div>                     
                                    <label>Cilindraje</label>
                                    <p>{{listVehiculo[3].cilindrada}}</p>
                                </div> 
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Tracción" id="traccion_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                                <div>                
                                    <label>Tipo:</label>
                                    <p>{{listVehiculo[3].traccion}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Caja de cambios" id="caja_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                                <div>                
                                    <label>Núm. velocidades:</label>
                                    <p>{{listVehiculo[3].cajavelocidades}}</p>
                                </div>
                                <div>                
                                    <label>Tipo:</label>
                                    <p>{{listVehiculo[3].cajatipo}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Dirección" id="direccion_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Tipo:</label>
                                    <p>{{listVehiculo[3].direcciontipo}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Suspensión" id="suspension_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Trasera:</label>
                                    <p>{{listVehiculo[3].suspenciontra}}</p>
                                </div>
                                 <div>                
                                    <label>Delantera:</label>
                                    <p>{{listVehiculo[3].suspenciondel}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Dimensiones" id="dimension_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Distancia entre ejes:</label>
                                    <p>{{listVehiculo[3].dimdistanciaejes}}</p>
                                </div>
                                 <div>                
                                    <label>Largo total:</label>
                                    <p>{{listVehiculo[3].dimlargo}}</p>
                                </div>
                                <div>                
                                    <label>Alto total:</label>
                                    <p>{{listVehiculo[3].dimalto}}</p>
                                </div>
                                <div>                
                                    <label>Ancho total:</label>
                                    <p>{{listVehiculo[3].dimancho}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Pesos y capacidades" id="peso_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Capacidad de pasajeros:</label>
                                    <p>{{listVehiculo[3].cappasajeros}}</p>
                                </div>
                                 <div>                
                                    <label>Peso vacío:</label>
                                    <p>{{listVehiculo[3].capvacio}}</p>
                                </div>
                                <div>                
                                    <label>Capacidad de carga:</label>
                                    <p>{{listVehiculo[3].capcarga}}</p>
                                </div>
                                <div>                
                                    <label>Fila de asientos:</label>
                                    <p>{{listVehiculo[3].capfila}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Seguridad" id="seguridad_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Airbags:</label>
                                    <p>{{listVehiculo[3].segairbagscapfila}}</p>
                                </div>
                                 <div>                
                                    <label>Sist. frenos antibloqueo:</label>
                                    <p>{{listVehiculo[3].segabs}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                      
                    <ngb-panel title="Equipamiento y confort" id="equipamiento_01">
                        <ng-template ngbPanelContent>
                            <div class="row contenido-comparador">
                           
                                <div>                
                                    <label>Espejos Electricos</label>
                                    <p>{{listVehiculo[3].equiespejoselec}}</p>
                                </div>
                                <div>                
                                    <label>Aire Acondiconado</label>
                                    <p>{{listVehiculo[3].equiaire}}</p>
                                </div>
                                <div>                
                                    <label>Bloqueo Central</label>
                                    <p>{{listVehiculo[3].equibloqueo}}</p>
                                </div>
                                 
                            </div>
                        </ng-template>
                    </ngb-panel>

                
                </ngb-accordion>
            </div>

        </div>



        
    </div>
</div>
