<section class="miCuenta configuracion">
	<div class="row">
		<div class="menu-lateral">
			<app-menu-lateral-usuario></app-menu-lateral-usuario>
		</div>

	    <div class="col container-fluid fix">
	        <div class="text-left">
	            <h1 class="mt-4">Configuración</h1>
	        </div>

	        <section class="contenido">
	        	<div id="sec-cuenta">
			        <h5>Datos de cuenta</h5>
			        <hr>
					<div class="input-group row">
						<label for="usuario" class="col-sm-2 col-form-label">Usuario:</label>
						<div class="col-sm-10">
					      <input type="text" class="form-control-plaintext" id="user-login" value="email@example.com">
					    </div>
					</div> 

					<div class="input-group row">
						<label for="password" class="col-sm-2 col-form-label">Contraseña:</label>
						<div class="col-sm-10">
					      <input type="password" class="form-control-plaintext" id="user-password" value="email@example.com">
					    </div>
					</div> 
			        
		        </div>

		        <div id="sec-personales">
			        <h5>Datos personales</h5>
			        <hr>
					<div class="input-group row">
						<label for="nombre" class="col-sm-3 col-form-label">Nombre y apellido:</label>
						<div class="col-sm-9">
					      <input type="text" class="form-control-plaintext" id="user-name" value="Pepe Perez">
					    </div>
					</div> 
					<div class="input-group row">
						<label for="documento" class="col-sm-3 col-form-label">Documento:</label>
						<div class="col-sm-1">
					     <div _ngcontent-c2="" class="custom-dropdown">
		                    <select _ngcontent-c2="" class="clean-style" id="documento" name="documento">
		                        <option _ngcontent-c2="" value="" ng-reflect-value="">C.C</option>
		                        <option _ngcontent-c2="" value="" ng-reflect-value="">T.I</option>
		                        <option _ngcontent-c2="" value="" ng-reflect-value="">C.E</option>
		                    </select>
		                </div>
					    </div>
					    <div class="col-sm-8">
					      <input type="text" class="form-control-plaintext" id="user-name" value="Pepe Perez">
					    </div>
					</div> 
					<div class="input-group row">
						<label for="nacimiento" class="col-sm-3 col-form-label">Fecha de nacimiento:</label>
						<div class="col-sm-9">
					      <input type="date" class="form-control-plaintext" id="nacimiento" value="03/09/1989">
					    </div>
					</div> 
					<div class="input-group row">
						<label for="tel" class="col-sm-3 col-form-label">Teléfono:</label>
						<div class="col-sm-9">
					      <input type="text" class="form-control-plaintext" id="tel" value="318-5555555">
					    </div>
					</div> 
					
		        </div>

		         <div id="sec-finaciamiento">
			        <h5>Datos para financiamiento</h5>
			        <hr>
			        <div class="input-group row">
						<label for="perfil" class="col-sm-3 col-form-label">Perfil:</label>
						<div class="col-sm-9">
						     <div _ngcontent-c2="" class="custom-dropdown">
			                    <select _ngcontent-c2="" class="clean-style" id="perfil" name="perfil">
			                        <option _ngcontent-c2="" value="" ng-reflect-value="">Asalariado</option>
			                        <option _ngcontent-c2="" value="" ng-reflect-value="">Pensionado</option>
			                        <option _ngcontent-c2="" value="" ng-reflect-value="">Independiente</option>
			                    </select>
			                </div>
					    </div>
					</div> 
					<div class="input-group row">
						<label for="cotnrato" class="col-sm-3 col-form-label">Tipo de contrato:</label>
						<div class="col-sm-9">
					    	 <div _ngcontent-c2="" class="custom-dropdown">
			                    <select _ngcontent-c2="" class="clean-style" id="contrato" name="contrato">
			                        <option _ngcontent-c2="" value="" ng-reflect-value="">Indefinido</option>
			                        <option _ngcontent-c2="" value="" ng-reflect-value="">Definido</option>
			                        <option _ngcontent-c2="" value="" ng-reflect-value="">Prestacion</option>
			                        <option _ngcontent-c2="" value="" ng-reflect-value="">Pensionado</option>
			                    </select>
			                </div>
					    </div>
					</div> 
					<div class="input-group row">
						<label for="incorporacion" class="col-sm-3 col-form-label">Fecha de incorporación:</label>
						<div class="col-sm-9">
					      <input type="date" class="form-control-plaintext" id="incorporacion" value="03/09/1989">
					    </div>
					</div> 
					<div class="input-group row">
						<label for="ingresos" class="col-sm-3 col-form-label">Ingresos demostrables:</label>
						<div class="col-sm-9">
					      <input type="text" class="form-control-plaintext" id="ingresos" value="$ 3`000.000">
					    </div>
					</div> 

		        </div>

				<div _ngcontent-c2="" class="col-md-12 col-sm-12 text-right pt-3">
	                <button _ngcontent-c2="" class="btn-material btn-red" data-target="guardar" data-toggle="pill">
	                    Guardar</button>
	            </div>

		    </section>

	    </div>
    </div>
</section>