
<div class="container-fluid fix vehiculos-nuevos">
   <div class="col-12 titulo-seccion no-padding">
      <h3 class="titulo"> <a href="">Comentarios</a></h3>
   </div>
   <mat-form-field>
     <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar con palabra clave">
     <i _ngcontent-c6="" class="material-icons busqueda-abrir">search</i>
   </mat-form-field>

    <mat-table #table [dataSource]="dataSource" matSort ng-class="myVar" >
       <ng-container matColumnDef="cod"> 
          <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.cod}}
          </mat-cell>
        </ng-container>  

        <ng-container matColumnDef="picture"> 
          <mat-header-cell *matHeaderCellDef>Publicación</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a href="/clasificados/detalle/{{element.venta_codigo}}" target="_blank">
             <img src="{{element.picture}}">
           </a>
          </mat-cell>
        </ng-container>  

        <ng-container matColumnDef="name"> 
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a href="/clasificados/detalle/{{element.venta_codigo}}" target="_blank">
              {{element.name}}
            </a>
          </mat-cell>
        </ng-container>  

        <ng-container matColumnDef="fecha"> 
          <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.fecha}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="comentario"> 
          <mat-header-cell *matHeaderCellDef>Comentario</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.comentario}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="boton"> 
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
             <button *ngIf="visible_responder" class="link-button" ng-class="myVar='my-class'"  (click)="onEdit(element)">Responder</button>
   
          </mat-cell>
        </ng-container>



       <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
       <!--
       <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.classleido" (click)="onEdit(row)" (click)="openLg(content,row)" ></mat-row>
       -->
       <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.classleido" ></mat-row>
     </mat-table>

  <!-- enviarMensaje --->
    <!-- ************* el modal de responder comentario esta en el component *********** -->

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
