<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<ul *ngIf="items">
    <li>
        <dl *ngFor="let datos of items" >
            <dd (click)='detail(datos.id,datos.tipo,datos.linea_modelo)'>codgio:{{datos.id}}</dd>
            <dd>venta estado:{{datos.venta_estado}}</dd>
            <dd>venta codigo:{{datos.venta_codigo}}</dd>
            <dd>linea:{{datos.linea_nombre}}</dd>
            <dd>img nombre:{{datos.imagen_nombre}}</dd>
            <dd>img ruta:{{datos.imagen_ruta}}</dd>
            <dd>id:{{datos.id}}</dd>
            <dd>tipo:{{datos.tipo}}</dd>
        </dl>
    </li>
</ul>
   