<div class="container-fluid fix vehiculos-nuevos">
   <div class="col-12 titulo-seccion no-padding">
      <h3 class="titulo"> <a href="">Clasificados {{subtitulo}}</a></h3>
   </div>   
</div>

<div class="clasificado" >

   <mat-form-field>
     <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar con palabra clave">
     <i _ngcontent-c6="" class="material-icons busqueda-abrir">search</i>
   </mat-form-field>
   <mat-toolbar color="primary">
    
      <mat-toolbar-row>
        <span></span>
        <span class="example-spacer" style="flex: 1 1 auto;"></span>
      
        <button *ngIf="visible_vendido" class="link-button" ng-class="myVar='my-class'" (click)='detail_selected("VENDIDO")' matTooltip="Vendido Seleccionados" matTooltipShowDelay="300" matTooltipHideDelay="300"><i _ngcontent-c5="" class="material-icons">gavel</i></button> 
        <button *ngIf="visible_anular" class="link-button" ng-class="myVar='my-class'" (click)='detail_selected("ANULAR")' matTooltip="Inactivar Seleccionados" matTooltipShowDelay="300" matTooltipHideDelay="300"><i _ngcontent-c5="" class="material-icons">visibility_off</i></button>        
        <button *ngIf="visible_reactivar" class="link-button" ng-class="myVar='my-class'" (click)='detail_selected("REACTIVAR")' matTooltip="Reactivar Seleccionados" matTooltipShowDelay="300" matTooltipHideDelay="300"><i _ngcontent-c5="" class="material-icons">replay</i></button>        
        <button *ngIf="visible_eliminar" class="link-button" ng-class="myVar='my-class'" (click)='detail_selected("ELIMINAR")' matTooltip="Eliminar Seleccionados"  matTooltipShowDelay="300" matTooltipHideDelay="300"><i _ngcontent-c5="" class="material-icons">delete_forever</i></button>
       
        
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-table #table [dataSource]="dataSource" matSort ng-class="myVar" >
        <ng-container matColumnDef="select"> 
            <mat-header-cell *matHeaderCellDef  fxFlex="50px"></mat-header-cell>
            <mat-cell *matCellDef="let element"  fxFlex="50px">
                <mat-checkbox [checked]="element.select" [(ngModel)]="element.select"></mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cod"> 
          <mat-header-cell *matHeaderCellDef  fxFlex="100px">Cod</mat-header-cell>
          <mat-cell *matCellDef="let element"  fxFlex="100px">
            {{element.cod}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="venta_matricula_placa"> 
          <mat-header-cell *matHeaderCellDef>Placa</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.venta_matricula_placa}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="venta_kilometraje"> 
          <mat-header-cell *matHeaderCellDef>Km</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.venta_kilometraje}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="visitas"> 
          <mat-header-cell *matHeaderCellDef>Visitas</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.visitas}}
          </mat-cell>
        </ng-container> 
        <ng-container matColumnDef="picture"> 
          <mat-header-cell *matHeaderCellDef>Vehículo</mat-header-cell>
          <mat-cell *matCellDef="let element" style='cursor:pointer;' (click)='detail(element.codEncriptado,"VER",true)'>
            <!-- <a href="/clasificados/detalle/{{element.codEncriptado}}?p_admin=true" > -->
               <img src="{{element.picture}}">
             <!-- </a> -->
          </mat-cell>
        </ng-container> 
        <ng-container matColumnDef="name"> 
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element" style='cursor:pointer;' (click)='detail(element.codEncriptado,"VER",true)'>
            <!-- <a href="/clasificados/detalle/{{element.codEncriptado}}?p_admin=true" > -->
              {{element.name}}
            <!-- </a> -->
          </mat-cell>
        </ng-container>  
         <ng-container matColumnDef="ano_modelo"> 
          <mat-header-cell *matHeaderCellDef>Modelo</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.ano_modelo}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="boton" > 
          <mat-header-cell *matHeaderCellDef >Acciones</mat-header-cell>
          <mat-cell *matCellDef="let element" class="accion_class">  
            
            <!--button *ngIf="visible_eliminar" class="link-button" ng-class="myVar='my-class'" (click)='detail(element.cod,"ELIMINADO")' matTooltip="Eliminar" matTooltipShowDelay="300" matTooltipHideDelay="300"><i _ngcontent-c5="" class="material-icons">delete_forever</i></button--> 
            <!-- <button *ngIf="visible_vendido" class="link-button" ng-class="myVar='my-class'" (click)='detail(element.cod,"VENDIDO")' matTooltip="Vendido" matTooltipShowDelay="300" matTooltipHideDelay="300"><i _ngcontent-c5="" class="material-icons">gavel</i></button>  -->
            <button *ngIf="visible_vendido" class="link-button" ng-class="myVar='my-class'" (click)='detail(element.codEncriptado,"VENDIDO")' matTooltip="Vendido" matTooltipShowDelay="300" matTooltipHideDelay="300"><i _ngcontent-c5="" class="material-icons">gavel</i></button> 
            <button *ngIf="visible_anular" class="link-button" ng-class="myVar='my-class'" (click)='detail(element.codEncriptado,"ANULAR")' matTooltip="Inactivar" matTooltipShowDelay="300" matTooltipHideDelay="300"><i _ngcontent-c5="" class="material-icons">visibility_off</i></button>
            <button *ngIf="visible_reactivar" class="link-button" ng-class="myVar='my-class'" (click)='detail(element.codEncriptado,"REACTIVAR")' matTooltip="Reactivar" matTooltipShowDelay="300" matTooltipHideDelay="300"><i _ngcontent-c5="" class="material-icons">replay</i></button>
            <button *ngIf="visible_editar" class="link-button" ng-class="myVar='my-class'" (click)='detail(element.codEncriptado,"EDITAR")' matTooltip="Editar" matTooltipShowDelay="300" matTooltipHideDelay="300"><i _ngcontent-c5="" class="material-icons">mode_edit</i></button>
            <button *ngIf="visible_ver" class="link-button" ng-class="myVar='my-class'" (click)='detail(element.codEncriptado,"VER",true)' matTooltip="Ver"  matTooltipShowDelay="300" matTooltipHideDelay="300"><i _ngcontent-c5="" class="material-icons">visibility</i></button>
            <button *ngIf="visible_eliminar" class="link-button" ng-class="myVar='my-class'" (click)='detail(element.codEncriptado,"ELIMINAR")' matTooltip="Eliminar"  matTooltipShowDelay="300" matTooltipHideDelay="300"><i _ngcontent-c5="" class="material-icons">delete_forever</i></button>
              
          </mat-cell>
        </ng-container>
       <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
       <mat-row  *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.classleido" (click)="onEdit(row)" ></mat-row>
     </mat-table>
     <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<style>
  @media(min-width:767px){
    .accion_class{
	    flex: 15% !important;
    }
  }
</style>