   <section class="miCuenta" *ngFor="let datos of items">
    <div class="row">

        <div class="col container-fluid fix">
            <div class="text-left">
                <h1 class="mt-4">Mi cuenta</h1>
            </div>

            <section class="contenido">
                <div id="sec-comentarios">
                    <h5><i class="material-icons pr-2">message</i>Comentarios</h5>
                    <hr>

                    <ul class="list-group">
                      <li class="list-group-item justify-content-between align-items-center">
                        <a href="/cuenta/(cuenta-opcion:comentario)"> Comentarios pendientes</a>                     
                        <span class="badge badge-primary badge-pill">{{datos.cant_comentarios}}</span>
                      </li>
                    </ul>
                </div>

                <div id="sec-favoritos">
                    <h5><i class="material-icons pr-2">favorite</i>Mis favoritos</h5>
                    <hr>

                    <ul class="list-group">
                      <li class="list-group-item justify-content-between align-items-center">
                        <a href="/cuenta/(cuenta-opcion:favorito)"> Mis favoritos</a>
                        <span class="badge badge-primary badge-pill">{{datos.cant_favoritosnuevos}}</span>
                      </li>
                    </ul>
                </div>

                  <div id="sec-favoritos">
                    <h5><i class="material-icons pr-2">label</i>Mis clasificados</h5>
                    <hr>

                    <ul class="list-group">
                      <li class="list-group-item justify-content-between align-items-center">
                        <a href="/cuenta/(cuenta-opcion:clasificado/P)"> En aprobación</a>
                        <span class="badge badge-primary badge-pill"></span>
                      </li>
                      <li class="list-group-item justify-content-between align-items-center">
                        <a href="/cuenta/(cuenta-opcion:clasificado/A)"> Aprobados</a>
                        <span class="badge badge-primary badge-pill"></span>
                      </li>
                      <li class="list-group-item justify-content-between align-items-center">
                        <a href="/cuenta/(cuenta-opcion:clasificado/R)"> Vencidos</a>
                        <span class="badge badge-primary badge-pill"></span>
                      </li>
                      <li class="list-group-item justify-content-between align-items-center">
                        <a href="/cuenta/(cuenta-opcion:clasificado/I)"> Rechazados</a>
                        <span class="badge badge-primary vacio badge-pill"></span>
                      </li>
                      <li class="list-group-item justify-content-between align-items-center">
                        <a href="/cuenta/(cuenta-opcion:clasificado/V)"> Vendidos</a>
                        <span class="badge badge-primary vacio badge-pill"></span>
                      </li>
                    </ul>
                </div>

                <!--div id="sec-configurar">
                   <h5><i class="material-icons pr-2">settings</i> Configurar mi cuenta</h5>
                    <hr>
                    <ul class="list-group">
                      <li class="list-group-item justify-content-between align-items-center">
                        <a href="/cuenta/(cuenta-opcion:configurar)"> Configurar mi cuenta</a>
                      </li>
                    </ul>
                </div-->
  
                <!--div id="sec-creditos">
                    <h5><i class="material-icons pr-2">monetization_on</i> Mis solicitudes de crédito</h5>
                    <hr>

                    <ul class="list-group">
                      <li class="list-group-item justify-content-between align-items-center">
                        <a href=""> Créditos solicitados </a>                      
                        <span class="badge badge-primary badge-pill">{{datos.cant_solicitudes}}</span>
                      </li>
                    </ul>
                </div-->

            </section>

        </div>
    </div>
</section>