<div class="container-fluid fix vehiculos-nuevos">
        <div class="col-12 titulo-seccion no-padding">
           <h3 class="titulo"> <a href="">Favoritos</a></h3>
        </div>   
     </div>
     <div class="favoritos" >
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar con palabra clave">
          <i _ngcontent-c6="" class="material-icons busqueda-abrir">search</i>
        </mat-form-field>
         <mat-table #table [dataSource]="dataSource" matSort ng-class="myVar" >
             <ng-container matColumnDef="clifav_codigo"> 
               <mat-header-cell *matHeaderCellDef>Cod</mat-header-cell>
               <mat-cell *matCellDef="let element">
                 {{element.clifav_codigo}}
               </mat-cell>
             </ng-container> 

             <ng-container matColumnDef="clifav_fecha_creacion"> 
               <mat-header-cell *matHeaderCellDef>Fecha Creación</mat-header-cell>
               <mat-cell *matCellDef="let element">
                 {{element.clifav_fecha_creacion}}
               </mat-cell>
             </ng-container> 

             <ng-container matColumnDef="linea_nombre"> 
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.linea_nombre}}
                </mat-cell>
             </ng-container> 

             <ng-container matColumnDef="foto_url"> 
               <mat-header-cell *matHeaderCellDef>Vehículo</mat-header-cell>
               <mat-cell *matCellDef="let element">
                  <img src="{{element.foto_url}}">
               </mat-cell>
             </ng-container> 

             <ng-container matColumnDef="tipo_favorito"> 
               <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
               <mat-cell *matCellDef="let element">
                 {{element.tipo_favorito}}
               </mat-cell>
             </ng-container>  

             <ng-container matColumnDef="boton" > 
               <mat-header-cell *matHeaderCellDef ></mat-header-cell>
               <mat-cell *matCellDef="let element" >
                    <button *ngIf="visible_favorito"  class="link-button" ng-class="myVar='my-class'" (click)='deleteFavorito(element.codigointerno,element.tipo_favorito,"VER")' matTooltip="Eliminar"><i _ngcontent-c5="" class="material-icons">delete_outline</i></button>                 
                    <button *ngIf="visible_favorito"  class="link-button" ng-class="myVar='my-class'" (click)='detail(element.codigointerno,element.tipo_favorito,"VER")' matTooltip="Ver"><i _ngcontent-c5="" class="material-icons">remove_red_eye</i></button>                                                   
               </mat-cell>
             </ng-container>
             
            <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
            <mat-row  *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.classleido" (click)="onEdit(row)" ></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
     </div>

<!--
<div class="container-fluid fix vehiculos-nuevos">

    <div class="col-12 titulo-seccion p-0">
        <h3 class="titulo"> <a href="">Favoritos</a></h3>    
    </div>  

    <mat-form-field class="buscador">
     <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar con palabra clave">
     <i _ngcontent-c6="" class="material-icons busqueda-abrir">search</i>
   </mat-form-field>

    <mat-tab-group>
        <mat-tab label="Usados">
            <br>
            <div class="contenedor-tarjeta row" *ngIf="items"> 
                <div class="" *ngFor="let datos of items" [ngClass]="vista  ? 'extendido  col-sm-12 col-md-12 col-lg-12 col-xl-12' : 'normal col-sm-12 col-md-6 col-lg-4 col-xl-4'" >
                    <div class="tarjeta" (click)='detail(datos.linea_codigo,datos.linea_modelo)' [ngClass]="tarjetaCont ? 'active' : 'inactive'">  

                        <button class="tarjeta-favorito" (click)="tarjetaFav=!tarjetaFav"  [ngClass]="tarjetaFav ? 'active' : 'inactive'" type="button">
                            <i class="material-icons fav">favorite</i>
                            <i class="material-icons nofav">favorite_border</i>
                        </button>

                        <div class="tarjeta-imagen image-list" >
                            <img src="{{datos.imagen_ruta}}" alt="{{datos.marca_nombre}} {{datos.linea_nombre}}" >
                        </div>  

                        <div class="tarjeta-contenido">

                           
                            <h4 class="tarjeta-titulo">
                               {{datos.marca_nombre}} {{datos.linea_nombre}}  
                            </h4>

                            <div class="tarjeta-tags">
                                <span></span>
                                <span>{{datos.clase_nombre}}</span>
                                <span>{{datos.linea_modelo}}</span>
                            </div>

                            <div class="tarjeta-precio">
                                {{datos.linea_precio | currency:'COP':'symbol-narrow':'2.0-1'}} 
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Nuevos">
            <br>Content 2</mat-tab>
    </mat-tab-group>


    
</div>
-->