<!-- ENCABEZADO -->
<!-- ESCRITORIO -->
<!-- <header class="encabezado" *ngIf="responsive=='desktop' || responsive == 'tab'"> -->
    <header class="encabezado">
    <!-- LOGO DE ESCRITORIO -->
    <div class="logo">
        <a routerLink="/">
            <img class="logo_blanco" src="assets/images/indicar.svg" title="Indicar" alt="Indicar Logo">
        </a>
    </div>
    <!-- BARRA BUSQUEDA ESCRITORIO -->
    <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 busqueda-contenido busqueda-contenido-desktop"> -->
    <div class="busqueda-contenido busqueda-contenido-desktop">
        <div class="input-icon-end">
            <div class="barra-busqueda" [ngClass]="toggleSearch ? 'active' : 'inactive'">
                <input type="text"  #buscador id="buscador" [(ngModel)]="palabra" placeholder="Busca tu vehículo" (keyup)="searchData($event)">
            </div>
            <button class="input-icon btn-encabezado">
                <i class="material-icons">search</i>
            </button>
        </div>
    </div>
    <!-- SECCION BOTONES HEADER LOGUEADO Y NO LOGUEADO -->
    <!-- NO LOGUEADO -->
    <div class="options-header">
        <div class="section-publicar-gratis">
            <button mat-button class="btn-red" [routerLink]="['/publicar']">Publica Gratis</button>
        </div>
    </div>
    <div class="options-header">
        <!--  NO LOGUEADO -->
        <div *ngIf="!isLogged else logged" class="login-section" (click)="login()">
            <div class="icon-login">
                <img src="assets/template/icono-user.svg" alt="sign in">
            </div>
            <div class="text-login">
                <span>INGRESO</span>
                <span>REGISTRO</span>
            </div>
        </div>
        <!-- LOGUEADO -->
        <ng-template #logged>
            <div ngbDropdown class="d-inline-block" id="cuentaDown">
                <button id="logueado" ngbDropdownToggle>
                    <div class="img-user">
                        <img src="{{avatar}}" alt="{{user}}" title="{{user}}">
                    </div>
                    <span class="menu-icon"></span>
                </button>
                <div class="alerta_notificacion" *ngIf="totalMensajes > 0">
                    <span>!</span>
                </div>
                <!-- MENU DESPLEGABLE -->
                <div ngbDropdownMenu aria-labelledby="logueado"  id="cuenta-opc">
                    <span class="cuenta-name">{{user}}</span>
                    <div class="opc-down">
                        <button class="dropdown-item" [routerLink]="['/usuario',{ outlets: { 'cuenta-opcion': ['conversaciones'] } }]" >
                            <img class="item-img" src="assets/template/icono-mensajes.svg" alt="Mensajes">
                            <span class="item-span">Mensajes</span>
                            <!-- <i class="material-icons">message</i> Mensajes</button>       -->
                        </button>
                        <div class="alerta_notificacion" *ngIf="totalMensajes>0">
                            <span>{{totalMensajes}}</span>
                            <div class="nueva_alerta"></div>
                        </div>
                    </div>
                    <button class="dropdown-item"  [routerLink]="['/usuario', { outlets: {'cuenta-opcion':['clasificado','A']} }]" >
                        <i class="material-icons">directions_car</i>
                        <span class="item-span">Mis clasificados</span>
                        <!-- <i class="material-icons">directions_car</i> Mis clasificados -->
                    </button>
                    <button class="dropdown-item"  [routerLink]="['/usuario',{ outlets: { 'cuenta-opcion': ['favoritos'] } }]" >
                        <!-- <i class="material-icons">favorite</i> Mis favoritos -->
                        <img class="item-img" src="assets/template/icono-favoritos.svg" alt="Favoritos">
                        <span class="item-span">Favoritos</span>
                    </button>
                    <!-- <button class="dropdown-item"  [routerLink]="['/comparador']" *ngIf="comparador">
                        <i class="material-icons">compare</i> Comparador
                    </button> -->
                        <!-- <img class="item-img" src="assets/template/icono-favoritos.svg" alt="Comparador">
                        <span class="item-span">Comparador</span> -->
                    <button class="dropdown-item"  [routerLink]="['/clasificados']" [queryParams]="{p_cliente: cuser.codigo}"  *ngIf="cuser.tipocliente=='02'">
                        <i class="material-icons">web</i> Mi micrositio
                    </button>
                    <button class="dropdown-item" [routerLink]="['usuario',{ outlets: { 'cuenta-opcion': ['cuenta'] } }]">
                        <!-- <i class="material-icons">person</i> Mi cuenta -->
                        <img class="item-img" src="assets/template/icono-configurar.svg" alt="Configurar">
                        <span class="item-span">Mi Cuenta</span>
                    </button>
                    <!-- <hr> -->
                    <button class="dropdown-item" (click)="logout();">
                        <!-- <i class="material-icons">exit_to_app</i>Salir -->
                        <img class="item-img" src="assets/template/icono-logout.svg" alt="Salir">
                        <span class="item-span">Salir</span>
                    </button>
                </div>
            </div>
        </ng-template>
    </div>
</header>
<nav class="main-menu">
    <div class="menu">
        <button class="menu-item" mat-button [routerLink]="['/inicio']">Inicio</button>
        <button class="menu-item" mat-button [routerLink]="['/clasificados']">Clasificados</button>
        <button class="menu-item" mat-button [matMenuTriggerFor]="Financiamiento">Financiamiento</button>
        <button class="menu-item" mat-button [routerLink]="['/ValoraTuVehiculo']">Valorador</button>
        <button class="menu-item" mat-button [routerLink]="['/guiaPrecio']">Guia de precio</button>


        <mat-menu #Financiamiento="matMenu" yPosition="below">
          <button [routerLink]="['/financiamiento/calcular-cuota']" mat-menu-item>Calcula tu cuota</button>
          <button [routerLink]="['/financiamiento/solicitar-credito']" mat-menu-item>Solicitar crédito</button>
        </mat-menu>
        <!-- <button class="menu-item" mat-button [routerLink]="['/comparador']">Comparador</button> -->
    </div>
</nav>



<!-- / ENCABEZADO -->
<!-- SUB HEADER -->

<!-- / SUB HEADER -->
<div class="content-app" [ngClass]="{'mobile':responsive=='mobile'}">
    <router-outlet></router-outlet>
</div>
<!-- AVISO DE COOKIES -->
<div class="cookies-msg" *ngIf="cookies">
    <div (click)="closeCookies()" class="close-cookies"> &times;</div>
    <span>Utilizamos cookies propias y de terceros para obtener datos estadísticos de la navegación de nuestros usuarios y mejorar nuestros servicios. Si continúa navegando, consideramos que acepta su uso.</span>
</div>
<!-- RECOMENDADOR -->
<!-- <div class="btn-recomendador">
    <img src='assets/images/recomendador.png' (click)="openRecomendador()" alt='Recomendador Indicar' title='Recomendador de indicar'>
</div> -->
<!-- loading -->
<div class="load-content" *ngIf="loading">
    <div class="content-spinner">
        <mat-spinner></mat-spinner>
    </div>
</div>



