<!-- hacer visible la tabla -->
<!-- <div class="header-financieras">
    <div class="container-fluid fix">
        <h1>
            FINANCIA TU VEHÍCULO
        </h1>
    </div>
</div> -->

<div class="container-fluid fix cuota" style="margin-top: 120px !important;">
    <div class="row p-3">
        <div class="calculadora col-md-6 col-lg-5">
            <h3>Calcula tu cuota</h3>

            <form [formGroup]="form_calculador">
                <mat-form-field class="input-full-width">
                    <input matInput formControlName="valor_vehiculo" placeholder="Valor del vehículo" [textMask]="{mask: numberMask, guide: false, modelClean: true}"
                        (change)="onChange($event)" maxlength="11">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>


                <mat-form-field class="input-full-width">
                    <input matInput formControlName="cuota_inicial" placeholder="Cuota inicial" [textMask]="{mask: numberMask, guide: false, modelClean: true}"
                        (change)="onChange($event)" maxlength="11">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>

                <mat-form-field class="input-full-width">
                    <mat-select formControlName="tipo_vehiculo" placeholder="Tipo de vehículo" >
                        <mat-option value="NU">Nuevo</mat-option>
                        <mat-option value="US">Usado</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="input-full-width">
                    <mat-select formControlName="tipo_servicio" placeholder="Clase de vehículo" >
                        <mat-option value="PA">Particular</mat-option>
                        <mat-option value="PU">Público</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="valorFinanciar">
                    <label>Valor a financiar</label>
                    <p>$ {{valor_financiar | number : '1.0-1'}}</p>
                    <hr>
                </div>


                <mat-form-field class="input-full-width">
                    <mat-select  placeholder="Plazo en años" formControlName="plazos">

                        <mat-option value="1">1 Año</mat-option>
                        <mat-option value="2">2 Años</mat-option>
                        <mat-option value="3">3 Años</mat-option>
                        <mat-option value="4">4 Años</mat-option>
                        <mat-option value="5">5 Años</mat-option>
                        <mat-option value="6">6 Años</mat-option>
                    </mat-select>
                </mat-form-field>

                <alert></alert>
                <button mat-button class="btn btn-primary" (click)="onCalcular()">Calcular</button>
            </form>
        </div>
        <div class="col-md-6 col-lg-7 texto-financiera">
            <h1 class="text-center">
                FINANCIA TU VEHÍCULO
            </h1>
            <p class="texto-credito" *ngIf="!isValidCuota">
                Si ya visitaste nuestras vitrinas
                <a href="">Precios de nuevos</a> o
                <a href="/clasificados" target="_blanck">Clasificados</a> y elegiste tu vehículo ideal; ahora puedes calcular el valor aproximado de las cuotas a pagar
                con nuestra
                <b>Calculadora de Crédito.</b>
                <br>
                <br> Te invitamos a consultar la tabla de financieras y solicitar tu crédito.
            </p>


            <div class="valor-cuota" *ngIf="isValidCuota">
                <p>El valor aproximado de la cuota mensual es de:</p>
                <h1>${{cuota_financiar| number : '1.0-0'}}</h1>
                <ul class="list-unstyled">
                    <li>Valor a financiar de:$ {{valor_financiar | number : '1.0-1'}}</li>
                    <li>Tasa de: {{tasa_financiar}}% M.V</li>
                    <li>Plazo de: {{plazo_financiar}} años</li>

                </ul>

                <label>Este valor es solo de financiación, no se tiene en cuenta valor de seguros entre otros. *Recuerde que este
                    valor es aproximado y de referencia</label>
            </div>
            <a mat-button class="btn btn-primary" routerLink="/solicitar-credito" *ngIf="isValidCuota">Solicitar crédito</a>

        </div>
    </div>
<!--
    <div class="tabla-financiera mb-3">
      <div class="example-header">

         <mat-form-field class="col-md-6">
           <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar con palabra clave">
           <i _ngcontent-c6="" class="material-icons busqueda-abrir">search</i>
         </mat-form-field>

      </div>
      <mat-table #table [dataSource]="dataSource">
        
        <ng-container matColumnDef="logo">
          <mat-header-cell *matHeaderCellDef> Entidad </mat-header-cell>
          <mat-cell *matCellDef="let element"> <img src="assets/images/banco.jpg"></mat-cell>
        </ng-container>

        <ng-container matColumnDef="entidad">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.entidad}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="producto">
          <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.producto}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="interesMin">
          <mat-header-cell *matHeaderCellDef class="text-center"> Tasa de interes mínima </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.interesMin}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="interesMax">
          <mat-header-cell *matHeaderCellDef class="text-center"> Tasa de interes máxima  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.interesMax}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="plazo">
          <mat-header-cell *matHeaderCellDef> Plazo máximo  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.plazo}} </mat-cell>
        </ng-container>

         <ng-container matColumnDef="boton">
          <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
          <mat-cell *matCellDef="let element"> <a href="" class="btn btn-primary">Ver detalles</a> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
      </mat-paginator>
    </div>-->
</div>
