
<div class="cont-buscafacil " >


    <form [formGroup]="busquedaForm"  class="ui form row"  >
        
        <mat-form-field class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 ">
            <mat-select formControlName="clase" placeholder="Clases" >
                <mat-option value="">Todas las clases</mat-option>
                <mat-option  *ngFor="let data of lovClase" value="{{data.codigo}}">{{data.descripcion}}({{data.cantidad}})</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 ">
            <mat-select formControlName="marca" placeholder="Marca" >
                <mat-option value="">Todas las marcas</mat-option>
                <mat-option  *ngFor="let data of lovMarca" value="{{data.codigo}}">{{data.descripcion}}({{data.cantidad}})</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 ">
            <mat-select formControlName="familia" placeholder="Familia" >
                <mat-option value="">Todas las Familias</mat-option>
                <mat-option  *ngFor="let data of lovFamilia" value="{{data.codigo}}">{{data.descripcion}}({{data.cantidad}})</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 ">
            <mat-select formControlName="tipo" placeholder="Clasificados" >
                <mat-option value="">Todos los Clasificados</mat-option>
                <mat-option  *ngFor="let data of lovTipoClasificado" value="{{data.codigo}}">{{data.descripcion}}({{data.cantidad}})</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 ">
            <mat-select formControlName="modelo" placeholder="Modelos" >
                <mat-option value="">Todos los Modelos</mat-option>
                <mat-option  *ngFor="let data of lovAnno" value="{{data.codigo}}">{{data.descripcion}}({{data.cantidad}})</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 ">
            <mat-select formControlName="departamento" placeholder="Ubicación" >
                <mat-option value="">Todos los Departamentos</mat-option>
                <mat-option  *ngFor="let data of lovDepartamento" value="{{data.codigo}}">{{data.descripcion}}({{data.cantidad}})</mat-option>
            </mat-select>
        </mat-form-field>

        <!--
        <div class="form-group col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 busquedaForm.controls" [class.error]="!busquedaForm.controls['clase'].valid&&busquedaForm.controls['clase'].touched">            
            <div class="form-select">
                <select id="id_clase" name="clase" placeholder="Clase" [formControl]="busquedaForm.controls['clase']" [(ngModel)]="p_filtros['p_clase']"> 
                    <option value="">Todas las clases</option>
                    <option *ngFor="let data of lovClase" value="{{data.codigo}}"   >{{data.descripcion}}({{data.cantidad}})</option>
                        
                </select>
            </div>
        </div>        
        <div class="form-group col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 busquedaForm.controls" [class.error]="!busquedaForm.controls['marca'].valid&&busquedaForm.controls['marca'].touched">
            <div class="form-select">
                <select id="id_marca" name="marca" placeholder="Marca" [formControl]="busquedaForm.controls['marca']"> 
                    <option value="">Todas las marcas</option>
                    <option *ngFor="let data of lovMarca" value="{{data.codigo}}"   >{{data.descripcion}}({{data.cantidad}})</option>                        
                </select> 
            </div>
        </div>

        <div class="form-group col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 busquedaForm.controls" [class.error]="!busquedaForm.controls['familia'].valid&&busquedaForm.controls['familia'].touched">            
            <div class="form-select">
                <select id="id_familia" name="familia" placeholder="Familia" [formControl]="busquedaForm.controls['familia']"> 
                    <option value="">Todas las familias</option>
                    <option *ngFor="let data of lovFamilia" value="{{data.codigo}}"   >{{data.descripcion}}({{data.cantidad}})</option>
                </select> 
            </div>
        </div>
    
        
        <div class="form-group col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="form-select">
                <select id="id_tipo" name="tipo" placeholder="Tipo Vehiculo" 
                    [formControl]="busquedaForm.controls['tipo']">                    
                    <option value="">Todos los Clasificados</option>
                    <option *ngFor="let data of lovTipoClasificado" value="{{data.codigo}}"   >{{data.descripcion}}({{data.cantidad}})</option>
                </select>
            </div>
        </div>

         <div class="form-group col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 busquedaForm.controls" [class.error]="!busquedaForm.controls['modelo'].valid&&busquedaForm.controls['modelo'].touched">                    

            <div class="form-select">
                <select id="id_modelo" name="modelo" placeholder="Modelo" [formControl]="busquedaForm.controls['modelo']" [(ngModel)]="p_filtros['p_anno']"> 
                    <option value="">Todos los modelos</option>
                    <option *ngFor="let data of lovAnno" value="{{data.codigo}}"   >{{data.descripcion}}({{data.cantidad}})</option>
                        
                </select> 
            </div>
        </div>

        <div class="form-group col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 busquedaForm.controls" [class.error]="!busquedaForm.controls['departamento'].valid&&busquedaForm.controls['departamento'].touched">                    

            <div class="form-select">
                <select id="id_departamento" name="departamento" placeholder="departamento" [formControl]="busquedaForm.controls['departamento']" [(ngModel)]="p_filtros['p_departamento']"> 
                    <option value="">Todo el país</option>
                    <option *ngFor="let data of lovDepartamento" value="{{data.codigo}}"> {{data.descripcion}}({{data.cantidad}})</option>
                        
                </select>
            </div>
        </div>
    -->
        
        <!--
        <div class="form-group col-xl-12 busquedaForm.controls" [class.error]="!busquedaForm.controls['precio'].valid&&busquedaForm.controls['precio'].touched">
            

            <div class="form-select">
                <select id="id_precio" name="precio" placeholder="Precio" [formControl]="busquedaForm.controls['precio']" [(ngModel)]="p_filtros['p_precio']"> 
                    <option value="">Selecciona precio</option>
                    <option *ngFor="let data of lovPrecios" value="{{data.codigo}}">{{data.descripcion}}({{data.cantidad}})</option>
                        
                </select>
            </div>
        </div>
    -->

        <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12  col-xl-12 text-center">

        
            <button class="btn-busqueda btn btn-material btn btn-red btn-fullwidth ui button" type="button" (click)="sendSearch()"  >Buscar</button>

        </div>

    </form>
      
</div>



<!--div class="ui raised segment">
    <h2 class="ui header">Filtros Inicio</h2>
    <form [formGroup]="busquedaForm"
          (ngsubmit)="onSubmit(busquedaForm.value)"
          class="ui form"
          [class.error]="!busquedaForm.valid&&busquedaForm.touched">
        
        <div class="busquedaForm.controls"
             [class.error]="!busquedaForm.controls['tipo'].valid&&busquedaForm.controls['tipo'].touched">
            <label for="id_tipo">Tipo</label>

            <select id="id_tipo" name="tipo" placeholder="Tipo Vehiculo" 
            [formControl]="busquedaForm.controls['tipo']"> 
                <option value="">Seleccion Tipo Vehiculo</option>
                <option value="N">Nuevos</option>
                <option value="U">Usados</option>
            </select>    
<!--
            <input type="combobox"
                   id="id_tipo"
                   placeholder="Tipo Vehiculo"
                   [formControl]="busquedaForm.controls['tipo']">
-->
            <!--div *ngIf="busquedaForm.controls.tipo.invalid" class="ui error message">Tipo Vehiculo invalido</div>
            <div *ngIf="busquedaForm.controls['tipo'].hasError('required')" class="ui error message">Tipo Vehiculo es requerido</div>
        </div>

        <div class="busquedaForm.controls"
             [class.error]="!busquedaForm.controls['marca'].valid&&busquedaForm.controls['marca'].touched">
            <label for="id_marca">Marca</label>
            <select id="id_marca" name="marca" placeholder="Marca" 
            [formControl]="busquedaForm.controls['marca']"> 
                <option value="">Seleccion Tipo Vehiculo</option>
                <option *ngFor="let data of lovMarca" value="{{data.codigo}}"   >{{data.descripcion}}({{data.cantidad}})</option>
                    
            </select> 
            <div *ngIf="!busquedaForm.controls['marca'].valid" class="ui error message">Marca invalido</div>
            <div *ngIf="busquedaForm.controls['marca'].hasError('required')" class="ui error message">Marca es requerido</div>
        </div>

        <div class="busquedaForm.controls"
             [class.error]="!busquedaForm.controls['familia'].valid&&busquedaForm.controls['familia'].touched">
            <label for="id_familia">Familia</label>

            <select id="id_familia" name="familia" placeholder="Familia" 
            [formControl]="busquedaForm.controls['familia']"> 
                <option value="">Seleccion Tipo Vehiculo</option>
                <option *ngFor="let data of lovFamilia" value="{{data.codigo}}"   >{{data.descripcion}}({{data.cantidad}})</option>
                    
            </select> 

            
            <div *ngIf="!busquedaForm.controls['familia'].valid" class="ui error message">Familia invalido</div>
            <div *ngIf="busquedaForm.controls['familia'].hasError('required')" class="ui error message">Familia es requerido</div>
        </div>

        <div class="busquedaForm.controls"
             [class.error]="!busquedaForm.controls['modelo'].valid&&busquedaForm.controls['modelo'].touched">
            <label for="id_modelo">Modelo</label>
            <input type="text"
                   id="id_modelo"
                   placeholder="Modelo"
                   [formControl]="busquedaForm.controls['modelo']">
            <div *ngIf="!busquedaForm.controls['modelo'].valid" class="ui error message">Modelo invalido</div>
            <div *ngIf="busquedaForm.controls['modelo'].hasError('required')" class="ui error message">Modelo es requerido</div>
        </div>

        <div class="busquedaForm.controls"
             [class.error]="!busquedaForm.controls['departamento'].valid&&busquedaForm.controls['departamento'].touched">
            <label for="id_departamento">departamento</label>
            <input type="text"
                   id="id_departamento"
                   placeholder="departamento"
                   [formControl]="busquedaForm.controls['departamento']">
            <div *ngIf="!busquedaForm.controls['departamento'].valid" class="ui error message">departamento invalido</div>
            <div *ngIf="busquedaForm.controls['departamento'].hasError('required')" class="ui error message">departamento es requerido</div>
        </div>

        <div class="busquedaForm.controls"
             [class.error]="!busquedaForm.controls['clase'].valid&&busquedaForm.controls['clase'].touched">
            <label for="id_clase">Clase</label>
            <input type="text"
                   id="id_clase"
                   placeholder="Clase"
                   [formControl]="busquedaForm.controls['clase']">
            <div *ngIf="!busquedaForm.controls['clase'].valid" class="ui error message">Clase invalido</div>
            <div *ngIf="busquedaForm.controls['clase'].hasError('required')" class="ui error message">Clase es requerido</div>
        </div>

         <div class="busquedaForm.controls"
             [class.error]="!busquedaForm.controls['precio_inicial'].valid&&busquedaForm.controls['precio_inicial'].touched">
            <label for="id_precio_inicial">Precio Inicial</label>
            <input type="text"
                   id="id_precio_inicial"
                   placeholder="Precio Inicial"
                   [formControl]="busquedaForm.controls['precio_inicial']">
            <div *ngIf="!busquedaForm.controls['precio_inicial'].valid" class="ui error message">Precio Inicial invalido</div>
            <div *ngIf="busquedaForm.controls['precio_inicial'].hasError('required')" class="ui error message">Precio Inicial es requerido</div>
        </div>

        <div class="busquedaForm.controls"
                [class.error]="!busquedaForm.controls['precio_final'].valid&&busquedaForm.controls['precio_final'].touched">
            <label for="id_precio_final">Precio Final</label>
            <input type="text"
                    id="id_precio_final"
                    placeholder="Precio Final"
                    [formControl]="busquedaForm.controls['precio_final']">
            <div *ngIf="!busquedaForm.controls['precio_final'].valid" class="ui error message">Precio Final invalido</div>
            <div *ngIf="busquedaForm.controls['precio_final'].hasError('required')" class="ui error message">Precio Final es requerido</div>
        </div>

        


        <div *ngIf="!busquedaForm.valid" class="ui error message">Formulario con errores</div>
        <button type="submit" class="ui button">Submit</button>
    </form>   
</div-->