<div class="libro-azul-header">
	<div class="container-fluid fix">
		<img src="assets/images/logo-login-libroazul.png" alt="libro-azul">
		<hr>
		<h2>NUEVOS</h2>
	</div>
</div>

<div class="container-fluid fix libro-azul nuevo dis-flex" [class.fixedStyle]="fixed" >

	<!--div class="filtro-btn">
        <button class="btn filtro-icon-responsive" (click)="mapaR=!mapaR" [ngClass]="mapaR ? 'active' : 'inactive'"><i class="material-icons">tune</i></button>
    </div-->

 
	<!--div class="overlay-mapa" (click)="mapaR=!mapaR" [ngClass]="mapaR ? 'active' : 'inactive'"></div-->
	<div class="filtro-btn">
        <button mat-raised-button  class="btn filtro-icon-responsive" (click)="snav.toggle()"><i class="material-icons">tune</i></button>
    </div>

	<mat-sidenav-container class="example-sidenav-container rihgtResponsive" >
        <!-- menu abierto-->
      	<mat-sidenav [ngStyle]="categoriaMapa" #snav [mode]="  mobileQuery.matches ? 'over' : 'side'"
         [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened="screenWidth<768"  (window:resize)="$event.target.innerWidth<769? snav.close(): snav.open()" position="end" class="mapa-libro-azul" >

        	<div class="">
				<div class="header">
					<h3>Categorias</h3>
					
				</div>
				<div class="content">
					<h5>Automóvil</h5>
					<ul>
						<li><button (click)="setStep(0)">4x2</button> </li>
						<li><button (click)="setStep(1)">4x4</button> </li>
					</ul>
					<hr>
					<h5>Camioneta</h5>
					<ul class="mb-0">
						<li class="sub-categoria">
							<h5>Pick Up</h5>
							<ul>
								<li><button (click)="setStep(0)">4x2</button> </li>
								<li><button (click)="setStep(1)">4x4</button> </li>
							</ul>
						</li>

						<li class="sub-categoria">
							<h5>Suv</h5>
							<ul>
								<li><button (click)="setStep(0)">4x2</button> </li>
								<li><button (click)="setStep(1)">4x4</button> </li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
        </mat-sidenav>

        <mat-sidenav-content>

			<mat-accordion class="col datos-tabla p-0" >

				<mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
				    <mat-expansion-panel-header>
				      <mat-panel-title>
				        AUTOMÓVIL 4X2
				      </mat-panel-title>
				    </mat-expansion-panel-header>

				    <!-- marca-->
					<div class="libro-azul-marca">
					    <h5 class="titulo-marca">audi</h5>

					    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 table-striped">

						  <!-- Linea -->
						  <ng-container matColumnDef="linea">
						    <!--mat-header-cell *matHeaderCellDef> linea </mat-header-cell-->
						    <mat-cell *matCellDef="let element"> {{element.linea}} </mat-cell>
						  </ng-container>

						  <!-- Valor -->
						  <ng-container matColumnDef="valor" >
						    <!--mat-header-cell *matHeaderCellDef> valor </mat-header-cell-->
						    <mat-cell *matCellDef="let element" class="valor"> {{element.valor}} </mat-cell>
						  </ng-container>

						  <!--mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row-->
						  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
						</mat-table>
					</div>

					<!-- fin marca-->

					 <!-- marca-->

				    <h5 class="titulo-marca">BMW</h5>

				    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 table-striped">

					  <!-- Linea -->
					  <ng-container matColumnDef="linea">
					    <!--mat-header-cell *matHeaderCellDef> linea </mat-header-cell-->
					    <mat-cell *matCellDef="let element"> {{element.linea}} </mat-cell>
					  </ng-container>

					  <!-- Valor -->
					  <ng-container matColumnDef="valor">
					    <!--mat-header-cell *matHeaderCellDef> valor </mat-header-cell-->
					    <mat-cell *matCellDef="let element" class="valor"> {{element.valor}} </mat-cell>
					  </ng-container>

					  <!--mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row-->
					  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					</mat-table>

					<!-- fin marca-->

				</mat-expansion-panel>


				<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
				    <mat-expansion-panel-header>
				      <mat-panel-title>
				        AUTOMÓVIL 4X4
				      </mat-panel-title>
				    </mat-expansion-panel-header>

				    <!-- marca-->
					<div class="libro-azul-marca">
					    <h5 class="titulo-marca">audi</h5>

					    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 table-striped">

						  <!-- Linea -->
						  <ng-container matColumnDef="linea">
						    <!--mat-header-cell *matHeaderCellDef> linea </mat-header-cell-->
						    <mat-cell *matCellDef="let element"> {{element.linea}} </mat-cell>
						  </ng-container>

						  <!-- Valor -->
						  <ng-container matColumnDef="valor" >
						    <!--mat-header-cell *matHeaderCellDef> valor </mat-header-cell-->
						    <mat-cell *matCellDef="let element" class="valor"> {{element.valor}} </mat-cell>
						  </ng-container>

						  <!--mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row-->
						  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
						</mat-table>
					</div>

					<!-- fin marca-->

					 <!-- marca-->

				    <h5 class="titulo-marca">audi</h5>

				    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 table-striped">

					  <!-- Linea -->
					  <ng-container matColumnDef="linea">
					    <!--mat-header-cell *matHeaderCellDef> linea </mat-header-cell-->
					    <mat-cell *matCellDef="let element"> {{element.linea}} </mat-cell>
					  </ng-container>

					  <!-- Valor -->
					  <ng-container matColumnDef="valor">
					    <!--mat-header-cell *matHeaderCellDef> valor </mat-header-cell-->
					    <mat-cell *matCellDef="let element" class="valor"> {{element.valor}} </mat-cell>
					  </ng-container>

					  <!--mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row-->
					  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					</mat-table>

					<!-- fin marca-->

				</mat-expansion-panel>
			
			</mat-accordion>

        </mat-sidenav-content>
    </mat-sidenav-container>

	
	<!--div class="mapa-libro-azul fadeInRight" [ngClass]="mapaR ? 'active' : 'inactive'">
		<div class="header">
			<h3>Categorias</h3>
			<button class="bt_cerrar" (click)="mapaR=!mapaR" [ngClass]="mapaR ? 'active' : 'inactive'">
				<i class="material-icons">close</i>
			</button>
		</div>
		<div class="content">
			<h5>Automóvil</h5>
			<ul>
				<li><button (click)="setStep(0)">4x2</button> </li>
				<li><button (click)="setStep(1)">4x4</button> </li>
			</ul>
			<hr>
			<h5>Camioneta</h5>
			<ul class="mb-0">
				<li class="sub-categoria">
					<h5>Pick Up</h5>
					<ul>
						<li><button (click)="setStep(0)">4x2</button> </li>
						<li><button (click)="setStep(1)">4x4</button> </li>
					</ul>
				</li>

				<li class="sub-categoria">
					<h5>Suv</h5>
					<ul>
						<li><button (click)="setStep(0)">4x2</button> </li>
						<li><button (click)="setStep(1)">4x4</button> </li>
					</ul>
				</li>
			</ul>
		</div>
	</div-->

	
</div>