    <div class="container">
         <h3 class="titulo-registro">Bienvenido a Indicar</h3>
        <div class="row mb-5">
            <div class="bg-light mx-auto p-3 cuadro-registro login">
      
                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                    <div class="form-group input" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            

                        <mat-form-field class="input-full-width"  appearance="outline">
                            <mat-label>Correo electrónico</mat-label>
                            <input matInput placeholder="Correo electrónico"  name="username" [(ngModel)]="model.username" #username="ngModel" required>
                            <mat-error *ngIf="f.submitted && !username.valid">Ingresa un correo válido</mat-error>
                        </mat-form-field>

                    </div>
                    <div class="form-group input" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        
                        <!--password nuevo-->
                          <mat-form-field class="input-full-width"  appearance="outline">
                            <input matInput placeholder="Ingresa tu contraseña" type="password"  name="password" [(ngModel)]="model.password" #password="ngModel" [type]="password_type" required [type]="hide ? 'password' : 'text'">
                            <!--mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon-->
                          </mat-form-field>

                    </div>
                    <div class="row">

                        <div class="col-12 p-0">
                            <a routerLink="/recuperar-contrasena"  class="olvidar-contra" style="font-size: 12px">Olvidé mi contraseña</a>
                        </div>
                        
                        <div class="col-12">
                            <div class="form-group button">
                                <button [disabled]="loading" class="btn-busqueda btn-material btn btn-red ">Inicia Sesión</button>
                                <div *ngIf="loading" class="lds-ring"><div></div><div></div><div></div><div></div></div>
                            </div>
                        </div>
                      
                    </div>
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>

                    <hr>
                    <p class="crear-una">¿No tienes cuenta? <a routerLink="/registro" >¡Crea una!</a></p>
                  
                </form>
            </div>
        </div>
    </div>  

