
<div class="vehiculos-nuevos">


    <div class="col-12 titulo-seccion mb-4">
        <div class="row">
            <div class="col-lg-9 col p-0">
                <p class="subtitulo responsive">
                    Concesionario<br>
                    <span style="color: red">{{totalregsitros}}</span>
                    <label>concesionarios</label>
                <h3 class="titulo">
                    <a href="">Concesionario</a>
                </h3>
                <p class="subtitulo">
                    <span style="color: red">{{totalregsitros}}</span> opciones de concesionarios</p>

            </div>
            <div class="col-lg-3 col-5 p-0 ordenar">
                <!--hacerlo funcinal-->
                <mat-form-field>
                  <mat-select placeholder="Ordenar por:" [(ngModel)]="filtros['p_orderby']" (change)="change()">
                    <mat-option value="RE">Recientes</mat-option>
                    <mat-option value="CB">Alfabético</mat-option>
                  </mat-select>
                </mat-form-field>

            </div>

        </div>

        <hr>
    </div>


    <div class="contenedor-tarjeta row concesionarios" *ngIf="totalregsitros>0">
        <div class="normal col-4 col-sm-4 col-md-4 col-lg-4 col-xl-3 pr-0" *ngFor="let datos of item"  id="tarjeta">                
            <div class="" >
               
                <div class="tarjeta-imagen image-list"  [routerLink]="['/clasificados']" [queryParams]="{p_cliente:datos.codigo}"  >
                    <img src="{{datos.imagen}}">                    
                </div>            




            </div>

        </div>

    </div>