<div id="menu_lateral_user">
    <ul class="list-group list-group-flush">
        <li class="list-group-item active">
            <a href="">Mi cuenta</a>
        </li>
        <li class="list-group-item">
            <a href="">Comentarios</a>
        </li>
        <li class="list-group-item">
            <a href="">Mis favortios</a>
        </li>
        <li class="list-group-item acordeon">
            <ngb-accordion [closeOthers]="true" activeIds="static-1" id="misClasificados" >
              <ngb-panel id="static-1" title="Mis clasificados" >
                <ng-template ngbPanelContent>
                     <ul class="list-group">
                         <li class="list-group-item">
                             <a href="">En aprobación</a><span></span>
                         </li>
                          <li class="list-group-item">
                             <a href="">Aprobados</a><span></span>
                         </li>
                          <li class="list-group-item">
                             <a href="">Vencidos</a><span></span>
                         </li>
                          <li class="list-group-item">
                             <a href="">Rechazados</a><span></span>
                         </li>
                     </ul>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
        </li>
         <!--<li class="list-group-item">
            <a href="">Mis solicitudes de crédito</a>
        </li>-->
         <li class="list-group-item">
            <a href="">Configurar</a>
        </li>
         <li class="list-group-item">
            <a href="">Salir</a>
        </li>
      
    </ul>
</div>

        
            





<!-- Herramientas -->


<!--section class="buscafacil" [ngClass]="buscaFacil ? 'active' : 'inactive'">

    <div class="simple-modal-header">
        <button class="close-modal" (click)="buscaFacil=!buscaFacil" >
            <i class="material-icons">arrow_back</i>
        </button>

        <h1 class="titulo-header">Busca Fácil</h1>
    </div>
    
</section-->

               