<div class="valorizador">
    <div class="header-valorador noticia">
        <div class="container-fluid fix">
            <h1>
                Noticias
            </h1>
        </div>
    </div>
    <div class="container-fluid fix noticias detalle" >

        <div class="row">

            <div class="col-12 col-md-8 col-lg-8">

                <div class="tarjeta-contenido bg-white mb-3" *ngFor="let data of item">
                    <h3 class="mb-4">{{data.noticia_titulo}}</h3>

                    <div class="tarjeta-imagen">
                        <img src="{{data.noticia_url_portada}}">
                    </div>
                    
                    <div class="tarjeta-info detalle pt-4">
                        <div class="row">
                        
                            <div class="datos-noticia">
                                <label><i class="material-icons">calendar_today</i>{{data.noticia_fecha_creacion}}</label>
                                <label><i class="material-icons">person</i>{{data.grupo_nombre}}</label>
                            </div>
                            <div class="redes">
                                <ul>
                                    <li>
                                        <fb-like url={{url}} id="face"></fb-like>
                                    </li>
                                    <!--
                                    <li>
                                        <google-plus url={{url}}></google-plus>
                                    </li>
                                    <li>
                                        <linkedin-share url={{url}}></linkedin-share>
                                    </li>
                                    <li>
                                         <pin-it url={{url}} media={{imageUrl}} description={{text}}></pin-it>
                                    </li-->
                                </ul>

                            </div>
                        </div>
                      
                       
                        <p [innerHTML]="data.noticia_contenido"></p>
                      
                    </div>
               
                </div>
            </div>


            <div class="tarjeta-contenido col-12 col-md-4 col-lg-4 bg-white publicidad">
                <div class="mb-3">
                    <a href="/solicitar-credito" target="_blank"> <img src="/assets/images/credito.jpg"> </a>
                </div>

                <div>
                    <a href="/valora" target="_blank"> <img src="/assets/images/valora.jpg"> </a>
                </div>

                 <div>
                    <a href="/comparador" target="_blank"> <img src="/assets/images/compare.jpg"> </a>
                </div>


                <div  *ngIf="totalitems_gangas">

                    <hr>

                    <div class="clasificado"> 
                        <div class="titulo-seccion">
                            <h2>CLASIFICADOS</h2>
                        </div>

                        <div class="normal pr-0 ng-star-inserted" *ngFor="let datos of items_gangas"> 
                            <div class="tarjeta" [routerLink]="['/clasificados/detalle',  datos.venta_codigo]">
                                <div class="tarjeta-imagen"  lazy-load-images>
                                    <img  alt="{{datos.fotosventa_nombre}}"  src="assets/images/dots.png" attr.data-src="{{datos.fotosventa_ruta}}"  >
                                </div>  
                               
                                <div class="tarjeta-contenido">

                                    <a [routerLink]="['/clasificados/detalle',  datos.venta_codigo]">
                                        <!-- <a routerLink="/clasificados/detalle" [queryParams]="{ p_codigo: datos.venta_codigo}"> -->
                                        <h4 class="tarjeta-titulo">
                                            {{datos.linea_nombrecorto}}
                                        </h4>
                                    </a>
                                     <div class="tarjeta-precio">
                                        {{datos.venta_valor | currency:'COP':'symbol-narrow':'2.0-1'}}
                                    </div>
                                    <div class="tarjeta-tags">
                                        <span>{{datos.venta_kilometraje | number : '1.0-1'}} Km</span>
                                        <span>{{datos.venta_modelo}}</span>
                                        <span>{{datos.traccion_nombre}}</span>
                                        <span id="capacidad">{{datos.capacidadmotor_nombre}}</span>
                                        <!--span id="nombre">{{datos.tipomotor_nombre}}</span-->
                                        

                                    </div>
                                     <div class="tarjeta-tags ciudad">
                                        <span>{{datos.ciudad_nombre}}</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <a href="/clasificados" target="_blank"> Ver más</a>
                        </div>
                    </div>
               
                </div>
               
            </div>

        </div>
    </div>
</div>