<div class="valorizador">
    <div class="container-fluid fix noticias" >
        <div class="row">
            <div class="col-12 col-md-7 col-lg-8">
                <div class="header">
                    <h1>Gran remate de fin de año en vehículos usados en AUTOMOTORES COMAGRO</h1>
                </div>
                
            </div>

            <div class="col-12 col-md-5 col-lg-4 bg-white">
                <h1>Gran remate de fin de año en vehículos usados en AUTOMOTORES COMAGRO</h1>
                <div class="row">
                    <div class="panel-heading col-xs-12 col-sm-3 col-md-3">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <div class="field field-name-changed-date field-type-ds field-label-hidden"><div class="field-items"><div class="field-item even">Dic 12, 2018</div></div></div> 
                    </div>
                    <div class="panel-heading col-xs-12 col-sm-9 col-md-9">
                      Redacción Carroya.com
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>