<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>    
</div>
<div class="container-fluid fix pt-4">
	<div class="row">
		<app-nuevo-filtro class="filtro-pc"></app-nuevo-filtro>
		
		<app-nuevo-filtro-responsive class="filtro-responsive fadeInRight"  [ngClass]="filtroR ? 'active' : 'inactive'" ></app-nuevo-filtro-responsive>
		
		<div class="filtro-btn">
			<button class="btn filtro-tablet"  (click)="filtroR=!filtroR"  [ngClass]="filtroR ? 'active' : 'inactive'">Filtros</button>

			<button class="btn filtro-icon-responsive"  (click)="filtroR=!filtroR" [ngClass]="filtroR ? 'active' : 'inactive'"><i class="material-icons">tune</i></button>
		</div>


		<!--div>
			<button class="btn cerrar-filtro" (click)="filtroR=!filtroR" [ngClass]="filtroR ? 'active' : 'inactive'">
				<i class="material-icons">close</i>
			</button>
		</div-->

		<div class="overlay-busqueda" #hola (click)="filtroR=!filtroR"  [ngClass]="filtroR ? 'active' : 'inactive'"></div>


		<div class="col nuevo-item">
			<app-nuevo-item [item]="items" [filtros]="p_filtros" [totalregsitros]="total_items"></app-nuevo-item>
			<app-paginador [total_items]="total_items" (eventPaginador)="setPage($event)"></app-paginador>
		</div>

	</div>

</div>

