<div class="vehiculos-nuevos">
    <div class="col-12 titulo-seccion mb-4">
        <div class="row">
            <div class="col-lg-9 col p-0">
                <p class="subtitulo responsive">
                    Vitrina de Nuevos<br>
                    <span style="color: red">{{totalregsitros}}</span>
                    <label>vehículos</label>
                  </p>
                <h3 class="titulo">
                    <a href="">Vitrina de nuevos</a>
                </h3>
                <p class="subtitulo">
                    <span style="color: red">{{totalregsitros}}</span> opciones de vehículos nuevos</p>
            </div>
            <div class="col-lg-3 col-5 pr-0 ordenar">
                <!--hacerlo funcinal-->
                 <mat-form-field>
                  <mat-select placeholder="Ordenar por:" [(ngModel)]="filtros['p_orderby']" (change)="change()">
                    <mat-option value="PB">Precio Bajo</mat-option>
                    <mat-option value="PA">Precio Alto</mat-option>
                    <mat-option value="RE">Recientes</mat-option>
                  </mat-select>
                </mat-form-field>

            </div>

        </div>

        <hr>
    </div>



    <div class="contenedor-tarjeta nuevo row" *ngIf="item">
        <div class="normal col-sm-12 col-md-6 col-lg-6 col-xl-4 pr-0" *ngFor="let datos of item;let i = index">

              <button class="tarjeta-favorito" (click)="setFavorito(datos.linea_codigo,datos.linea_modelo,i)" [ngClass]="datos.isfavorito=='S' ? 'active' : 'inactive'" type="button" *ngIf="codigo_usuario!=''">
                <i class="material-icons fav">favorite</i>
                <i class="material-icons nofav">favorite_border</i>
            </button>
           
            <div class="tarjeta" (click)='detail(datos.linea_codigo,datos.linea_modelo)' [ngClass]="tarjetaCont ? 'active' : 'inactive'">



                <div class="nuevo tarjeta-imagen image-list" lazy-load-images>
                    <img src="assets/images/dots.png" attr.data-src="{{datos.fotoslinea_ruta}}" alt="{{datos.marca_nombre}} {{datos.linea_nombre}}">

                </div>

                <div class="tarjeta-contenido">
                    <h4 class="tarjeta-titulo">
                        {{datos.linea_nombrecorto}}
                    </h4>

                    <div class="tarjeta-precio">
                        {{datos.linea_precio | currency:'COP':'symbol-narrow':'2.0-1'}}
          
                    </div>

                    <div class="tarjeta-tags">
                        <span>{{datos.traccion_nombre}}</span>
                        <span>{{datos.cajacambios_nombre}}</span>
                        <span>{{datos.tipomotor_nombre}}</span>
                        <span>{{datos.capacidadmotor_nombre}}</span>
                        <span>{{datos.linea_modelo}}</span>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>