<div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 add-bottom">
        <!-- TARJETA LINEA -->
        <div class="item card" itemscope itemtype="http://schema.org/Vehicle" >
    
            <!-- ANO MODELO -->
            <div class="corner">
                <p class="modelo c2018">
                    {{linea_codigo}}			</p>
            </div>
    
            <!-- IMG LINEA -->
            <a href="/vitrina/nuevo/chevrolet+captiva+ls+automatica+gasolina+2018-__-SAxbZ6Z_JUET0u2oiTvZiUoc0pS-CLE3o0vja5Qg2aQ" data-analytic-click="tarjeta+busqueda+nuevo_2033_2018_1">
                <div class="img-car">
                    <div class="img-responsive" alt="">
                        <img src="https://d1wx0q0ct4xanw.cloudfront.net/LA/LINEAS/OhLD-E99qKGfNVV1-Py0TMOn4wzA5IBjitqVS0NsP78/OhLD-E99qKGfNVV1-Py0TMOn4wzA5IBjitqVS0NsP78ynwHgixi-iyWn5dKR9D1RzScNpK1OgqcVdg_YGNrA3Y.jpg" alt="CHEVROLET CAPTIVA LS 5P 4X2 AUT GSL 2400 CC FE ABS 6 AB PRT">
                    </div>
                                </div>
            </a> 
    
    
    
            <!-- INFO -->
            <div class="title">
    
                <!-- IMG MARCA -->
                <div class="marca" title="CHEVROLET" >
                    <div alt="">
                        <img src="https://cdnprocessoft.s3.amazonaws.com/LA/MARCAS/XrnL8d1ueCsgi_pRVcqUh__C2iH4sel5WNxno9R92xM/XrnL8d1ueCsgi_pRVcqUh__C2iH4sel5WNxno9R92xMxGJ4XukfAJKAPdHEBn0PZd87ZD0tRng595yu2SHQgDM.jpg" alt="CHEVROLET" >
                    </div>
                </div>
    
                <div class="nombre-vehiculo">
                    <h4 itemprop="name">CHEVROLET  CAPTIVA LS 5P 4X2 AUT GSL 2400 CC FE ABS 6 AB PRT</h4>
                </div>
    
            </div>
    
    
    
            <!-- ICONOS DE LAS TARJETAS -->
                            <div class="caracteristica">
    
                        <span class="icon-motor" data-toggle="tooltip" data-placement="top" data-original-title="CILINDRADA"></span>
    
                        <p>2.400 CC</p>
    
                    </div>
                            <div class="caracteristica">
    
                        <span class="icon-gas" data-toggle="tooltip" data-placement="top" data-original-title="TIPO DE COMBUSTIBLE"></span>
    
                        <p>GASOLINA  </p>
    
                    </div>
                            <div class="caracteristica">
    
                        <span class="icon-tire" data-toggle="tooltip" data-placement="top" data-original-title="TIPO"></span>
    
                        <p>4X2  </p>
    
                    </div>
                            <div class="caracteristica">
    
                        <span class="icon-model" data-toggle="tooltip" data-placement="top" data-original-title="TIPO "></span>
    
                        <p>ASISTIDA  </p>
    
                    </div>
            
        
    
    
    
    
            <!-- MI GARAJE -->
            
            <div class="al-garaje">
                <input type="checkbox" id="2033_nuevo_2018_garaje" value="2033_nuevo_2018"   />
                <label for="2033_nuevo_2018_garaje">
                    Al Garaje			</label>
    
            </div>
    
                <!-- COMPARAR -->
            <div class="check-comparar">
    
                <input type="checkbox" id="2033_nuevo_2018" value="2033_nuevo_2018" estado="nuevo"  />
    
                <label style="z-index:2;" for="2033_nuevo_2018">
                    <span>Comparar</span>
                </label>
    
            </div>
    
    
    
            <!-- FINANCIACION -->
            <div  class="precio">
                <b>$</b> <b itemprop="price" class="number_precio">84200000</b>
    
                <div class="">
    
                    
                    <button id="btn-financiacion-vehiculo" class="btn-material btn-tiny " onclick="ventana('public/financiacion/solicitud_financiacion.php?financiar=vehiculo&tipo=nuevo&valores=2033-2018', '', 'financiacion');">
                        financia				</button>
    
                </div>
    
            </div>
    
        </div>
    
    </div>