  
<section class="filtros">
    
    <div class="container-fluid fix filtros-contenido p-0">

        <div class="">


            <!-- clases -->
            <div class="form-group col titulo-filtros">
                 <label>Filtros</label>
                <button 
                  mat-raised-button 
                  class="btn btn-limpiar" 
                  (click)="deselectAll()">
                  LIMPIAR
                </button>
            </div>

             <!-- clases -->
             <div class="form-group col">
                <label>Clases</label>

                <div class="check-filtro">
                    <mat-checkbox name="clase" 
                    *ngFor="let data of filtros.clase; let i=index" 
                    value="{{data.codigo}}" 
                    (change)="change()" 
                    [(ngModel)]="filtros.clase[i].selected" >{{data.descripcion}} ({{data.cantidad}})</mat-checkbox>
                </div>                
               
            </div>
            
             <!--marcas-->
             <div class="form-group col" >
                <label (click)="filmar=!filmar" [ngClass]="filmar ? 'active' : 'inactive'" class="mas-opciones">Marcas</label>

                <div class="check-filtro filtro-busqueda" [ngClass]="filmar ? 'active' : 'inactive'">
                        <mat-checkbox name="marca" 
                        *ngFor="let data of filtros.marca; let i=index" 
                        value="{{data.codigo}}" 
                        (change)="change()" 
                        [(ngModel)]="filtros.marca[i].selected" >{{data.descripcion}} ({{data.cantidad}})</mat-checkbox>                   
                </div>
                 <button *ngIf="verMarcas" (click)="filmar=!filmar" [ngClass]="filmar ? 'active' : 'inactive'" class="boton-ver-mas"><span>Ver más</span> <span>Ver menos</span></button>
                <hr>
                
            </div>

            <!-- familias -->
            <div class="form-group col familia">
                <label (click)="filfam=!filfam" [ngClass]="filfam ? 'active' : 'inactive'" class="mas-opciones">Familias</label>
                <div class="check-filtro filtro-busqueda" [ngClass]="filfam ? 'active' : 'inactive'">
                    <mat-checkbox name="familia" 
                    *ngFor="let data of filtros.familia; let i=index" 
                    value="{{data.codigo}}" 
                    (change)="change()" 
                    [(ngModel)]="filtros.familia[i].selected" >{{data.descripcion}} ({{data.cantidad}})</mat-checkbox>
                </div> 
                <button *ngIf="verFamilias" (click)="filfam=!filfam" [ngClass]="filfam ? 'active' : 'inactive'" class="boton-ver-mas"><span>Ver más</span> <span>Ver menos</span></button>               
                <hr>
            </div>

            <!-- precio -->
            <div class="form-group col">
                <label>Precio</label>
                <!-- precio minimo -->
                <div class="row precio-form">
                    <div class="form-select col">                        
                      
                         <mat-select placeholder="Mínimo" id="precio_desde" name="precio_desde" #precio_minimo [(ngModel)]="p_filtros['p_preciodesde']">
                            <mat-option *ngFor="let data of filtros.precio" value="{{data.codigo}}">
                              {{data.descripcion | currency:'COP':'symbol-narrow':'2.0-1'}} 
                            </mat-option>
                        </mat-select>


                    </div>                  
                    <!-- precio maximo -->
                    <div class="form-select col">
                         <mat-select placeholder="Máximo" id="precio_hasta" name="precio_hasta" #precio_hasta [(ngModel)]="p_filtros['p_preciohasta']" >
                            <mat-option *ngFor="let data of filtros.precio" value="{{data.codigo}}">{{data.descripcion | currency:'COP':'symbol-narrow':'2.0-1'}} 
                            </mat-option>
                        </mat-select>

                    </div>                    
                    <!-- precio button-->
                    <div class="col-2 bt-ok">
                        <button name="btn_consultaprecio" (click)="change()">OK</button>
                    </div>
                </div>
                
            </div>

            <!-- año ***** hacerlo funcional del minimo y hasta *****-->
            <div class="form-group col">
                <label>Año modelo</label>
                <!-- precio minimo -->
                <div class="row precio-form">
                    <div class="form-select col">

                        <mat-select placeholder="Mínimo" id="anno_minimo" name="anno_minimo" #anno_desde [(ngModel)]="p_filtros['p_modelodesde']">
                            <mat-option  *ngFor="let data of filtros.modelo" value="{{data.codigo}}">{{data.descripcion }} 
                            </mat-option>
                        </mat-select>
                    </div>                    
                    <!-- precio maximo -->
                    <div class="form-select col">
                         <mat-select placeholder="Máximo" id="anno_hasta" name="anno_hasta" #anno_hasta  [(ngModel)]="p_filtros['p_modelohasta']">
                            <mat-option  *ngFor="let data of filtros.modelo" value="{{data.codigo}}">{{data.descripcion }} 
                            </mat-option>
                        </mat-select>
                    </div>                    
                    <!-- precio button-->
                    <div class="col-2 bt-ok">
                        <button name="btn_consultamodelo" (click)="change()">OK</button>
                    </div>
                </div>                
            </div>

             <!-- formas -->
             <div class="form-group col">
                <label>Formas</label>
                    <div class="form-select">
                   
                        <mat-select placeholder="Todas" id="forma" name="forma" #forma  [(ngModel)]="p_filtros['p_forma']" (change)="change()">
                            <mat-option  *ngFor="let data of filtros.forma" value="{{data.codigo}}">{{data.descripcion }} 
                                ({{data.cantidad}})
                            </mat-option>
                        </mat-select>
                    </div>                
            </div>   


             <!--traccion -->
             <div class="form-group col">
                <label>Tracción</label>
                    <div class="form-select">
                        <mat-select placeholder="Todas" id="traccion" name="traccion" #traccion [(ngModel)]="p_filtros['p_traccion']" (change)="change()">
                            <mat-option  *ngFor="let data of filtros.traccion" value="{{data.codigo}}">{{data.descripcion }} 
                                ({{data.cantidad}})
                            </mat-option>
                        </mat-select>
                    </div>                
            </div>


            <!-- caja-->
            <div class="form-group col">
                <label>Caja</label>
                    <div class="form-select">
                        <mat-select placeholder="Todas" id="caja" name="caja" #caja  [(ngModel)]="p_filtros['p_caja']" (change)="change()">
                            <mat-option  *ngFor="let data of filtros.caja" value="{{data.codigo}}">{{data.descripcion }} ({{data.cantidad}})
                            </mat-option>
                        </mat-select>
                    </div>
                
            </div>

             <!-- motor-->
             <div class="form-group col">
                <label>Tipo de motor</label>
                    <div class="form-select">
                          <mat-select placeholder="Todos" id="tipomotor" name="tipomor" #tipomotor  [(ngModel)]="p_filtros['p_tipomotor']" (change)="change()">
                            <mat-option  *ngFor="let data of filtros.tipomotor"value="{{data.codigo}}">{{data.descripcion }}
                            ({{data.cantidad}}) 
                            </mat-option>
                        </mat-select>
                    </div>
                
            </div>

            <!-- capacidad motor ****** hacerlo funcional ******-->
            <div class="form-group col">
                <label>Capacidad del motor</label>
                <!-- precio minimo -->
                <div class="row precio-form">
                    <div class="form-select col">
                        <mat-select placeholder="Mínimo" id="capacidadmotor" name="capacidadmotor_desde" #capacidadmotor_desde  [(ngModel)]="p_filtros['p_capacidadmotordesde']">
                            <mat-option *ngFor="let data of filtros.capacidad" value="{{data.codigo}}">{{data.descripcion }} 
                            </mat-option>
                        </mat-select>

                    </div>
                    
                    <!-- precio maximo -->
                    <div class="form-select col">
                       <mat-select placeholder="Máximo" id="capacidadmotor" name="capacidadmotor_hasta" #capacidadmotor_hasta  [(ngModel)]="p_filtros['p_capacidadmotorhasta']">
                            <mat-option *ngFor="let data of filtros.capacidad" value="{{data.codigo}}">{{data.descripcion }} 
                            </mat-option>
                        </mat-select>
                    </div>
                     
                    <!-- precio button-->
                    <div class="col-2 bt-ok">
                        <button name="btn_consultacapacidad" (click)="change()">OK</button>
                    </div>
                </div>
            </div>

        </div>
   </div>  

</section>

