<div>
        <div class="container-fluid">
            <div class="paginador text-center">
                
     
                <!-- items being paged -->
                <div *ngFor="let item of pagedItems">{{item.name}}</div>
     
                <!-- paginador -->
                <ul *ngIf="paginador.pages && paginador.pages.length" class="pagination">
                    <li class="pag pag-primera" [ngClass]="{disabled:paginador.currentPage === 1}">
                        <a (click)="setPage(1)"><i class="material-icons">first_page</i></a>
                    </li>
                    <li class="pag pag-anterior" [ngClass]="{disabled:paginador.currentPage === 1}">
                        <a (click)="setPage(paginador.currentPage - 1)"><i class="material-icons">navigate_before</i></a>
                    </li>
                    <li class="pag" *ngFor="let page of paginador.pages" [ngClass]="{active:paginador.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li class="pag pag-siguiente" [ngClass]="{disabled:paginador.currentPage === paginador.totalPages}">
                        <a (click)="setPage(paginador.currentPage + 1)"><i class="material-icons">navigate_next</i></a>
                    </li>
                    <li class="pag pag-ultima" [ngClass]="{disabled:paginador.currentPage === paginador.totalPages}">
                        <a (click)="setPage(paginador.totalPages)"><i class="material-icons">last_page</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>