
<div class="my-container">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>    
    </div>
<div class="container">
    <h2 class="titulo-registro">Recuperar contraseña</h2>
     <div class="bg-light mx-auto p-3 recuperar">
        <div class="row mb-5">
            <div class="col-12 no-padding">
                 <form [formGroup]="form">
                    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

                    <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
                    <div class="form-group text-center"> 
                        <p>Ingresa tu correo electrónico y recibirás un email con los pasos a seguir</p>
                    </div>
                
                    <div class="form-group input">
                        <mat-form-field class="input-full-width">
                            <input type="email" matInput placeholder="Email"  formControlName="email" required>
                        </mat-form-field>
                    </div>
                    
                    <div class="form-group button">
                        <button  class="btn-busqueda btn-material btn btn-red" (click)="submit2()">Enviar</button>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
