<section id="blog">


    <div class="titulo-blog mb-5">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-blog">
                    <h2>Aviso de privacidad</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row mb-5">
            <div class="col-blog">
                <p>En cumplimiento de los deberes establecidos para el tratamiento de los datos e información de carácter personal de
                    titularidad de terceros por la Ley 1581 de 2012 “ <em>por la cual se dictan disposiciones generales para la
                        protección de datos
                        personales”</em> y en el Decreto Único Reglamentario del Sector Industria, Comercio y Turismo No. 1074 de fecha
                    del 26 de
                    mayo de 2015, circular externa 002 del 03 de noviembre de 2015 de la Super industria, así como en las demás normas
                    que la adicionen, modifiquen o reglamenten, <strong>PROCESSOFT S.A.S</strong> (en adelante « <strong>LA
                        EMPRESA</strong> »), sociedad comercial
                    legalmente constituida, con domicilio principal en la ciudad de Cali - Valle <strong>,</strong> departamento de
                    (Valle del Cauca), e
                    identificada con el NIT 900.941.137 - 2 , pone en conocimiento del público nuestra política de tratamiento de datos
                    personales (en adelante «PTDP»).</p>
                <p>El propósito de la PTDP es informar y definir tanto las reglas de tratamiento de la información y datos personales al
                    interior de nuestra empresa así como las pautas para que los titulares de los datos puedan ejercer de manera
                    oportuna y
                    efectiva sus derechos a la intimidad, buen nombre e información en los términos de los artículos 15 y 20 de la
                    Constitución Nacional de la República de Colombia, especialmente, en lo atinente a la facultad de todas las personas
                    de
                    “ <em>conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bases de datos o
                        archivos”</em> ,
                    recomendamos hacer una lectura juiciosa del presente documento.</p>
                <p><em>POLÍTICA DE TRATAMIENTO DE INFORMACIÓN Y DATOS PERSONALES</em></p>
                <p><em>PROCESSOFT S.A.S</em></p>
                <p><em>TABLA DE CONTENIDO:</em></p>
                <p><em>TÍTULO I: OBJETO, LEGISLACIÓN Y ÁMBITO DE APLICACIÓN</em></p>
                <p><em>TÍTULO II: DEFINICIONES Y PRINCIPIOS RECTORES</em></p>
                <p><em>TÍTULO III: DERECHOS DE LOS TITULARES Y DEBERES DEL RESPONSABLE DEL TRATAMIENTO</em></p>
                <p><em>TÍTULO IV: AUTORIZACIÓN PARA EL TRATAMIENTO DE DATOS PERSONALES</em></p>
                <p><em>TÍTULO V: TRATAMIENTO Y FINALIDADES DEL TRATAMIENTO</em></p>
                <p><em>TÍTULO VI: ATENCIÓN DE PETICIONES, CONSULTAS Y RECLAMOS</em></p>
                <p><em>TÍTULO VII: PROCEDIMIENTO PARA EL TRATAMIENTO DE DATOS PERSONALES</em></p>
                <p><em>TÍTULO VIII: VIGENCIA</em></p>
                <p><em>TÍTULO IX: VIGENCIA DE LAS BASES DE DATOS Y REGISTRO EN EL RNBD</em></p>
                <p><em>TÍTULO I</em></p>
                <p><em>OBJETO, LEGISLACIÓN Y ÁMBITO DE APLICACIÓN</em></p>
                <ol>
                    <li><strong>OBJETO:</strong> El presente documento, contentivo de las políticas de tratamiento de la información y
                        datos personales de
                        <strong>PROCESSOFT S.A.S,</strong> y pretende dar cumplimiento a lo establecido en el Título VI de la Ley 1581
                        de 2012,
                        específicamente a las disposiciones contenidas en sus artículos 17 y 18, así como a lo reglado en la Sección 3
                        del
                        Capítulo 25 del Decreto Único Reglamentario 1074 de 2015, por medio del cual se reglamentó la precitada ley. En
                        concordancia con lo anterior, se describen a continuación los procedimientos establecidos por nuestra compañía
                        para hacer un debido tratamiento de las informaciones y datos de titularidad de terceros.</li>
                    <li><strong>LEGISLACIÓN APLICABLE E INTERPRETACIÓN:</strong> La PTDP de LA EMPRESA estarán sujetas a las
                        disposiciones
                        contenidas en la Ley 1581 de 2012 y en el Decreto Único 1074 de 2015 que la reglamenta; por tal motivo,
                        cualquier
                        vacío en la normatividad citada se interpretará de conformidad con las disposiciones de la legislación
                        colombiana en
                        general, así como a la luz de los artículos 15 y 20 de la Constitución Nacional de la República de Colombia.
                    </li>
                    <li><strong>ÁMBITO DE APLICACIÓN</strong> : La PTDP de LA EMPRESA será aplicable a dicha sociedad, a sus
                        dependientes, bien
                        sean filiales o subordinadas, que, en virtud de la explotación y el desarrollo legal y responsable del objeto
                        social de
                        la compañía, hubieren recopilado u obtenido información o datos personales de titularidad de distribuidores,
                        proveedores, clientes, colaboradores, trabajadores o de terceros en general.</li>
                </ol>
                <h3 id="t-tulo-ii">TÍTULO II</h3>
                <h3 id="definiciones-y-principios-rectores">DEFINICIONES Y PRINCIPIOS RECTORES</h3>
                <ol>
                    <li><strong>DEFINICIONES DE LA PTDP: LA EMPRESA</strong> pone en conocimiento de los titulares de la información y
                        datos
                        personales las siguientes definiciones y conceptos cuyo uso reiterativo en el marco de las PTDP impone el deber
                        a
                        la compañía de informar de manera completa y oportuna acerca del alcance de las diferentes nociones, al tenor de
                        lo dispuesto por los artículos 3, 5 y 26 de Ley 1581 de 2012 y conforme a lo reglado por el artículo
                        2.2.2.25.1.3 del
                        Decreto Único Reglamentario 1074 de 2015:</li>
                </ol>
                <p>4.1. Autorización: Se entiende por autorización al consentimiento previo, expreso e informado que el titular de la
                    información y datos personales puede otorgar a LA EMPRESA para que esta última pueda ejecutar
                    actividades que impliquen tratamiento de dichos datos e informaciones.
                    4.2. Base de datos: Entiéndase por base de datos al conjunto organizado de datos personales que sea objeto de
                    tratamiento por parte de LA EMPRESA.
                    4.3. Dato personal : Es cualquier información vinculada o que pueda asociarse a una o a varias personas
                    naturales determinadas o determinables.
                    4.4. Dato sensible: Se entiende por datos sensibles a aquellos que afectan la intimidad del titular o cuyo uso
                    indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la
                    orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones
                    sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los
                    derechos y las garantías de partidos políticos de oposición, así como los datos relativos a la salud, a la vida
                    sexual y reproductiva y los datos biométricos.
                    4.5. Dato público: Entiéndase por dato público a aquel que no sea semiprivado, privado o sensible. En general,
                    son considerados datos públicos, entre otros, aquellos relativos al estado civil de las personas, a su profesión
                    u oficio y a su calidad de comerciante o de servidor público. Por su naturaleza, los datos públicos pueden
                    estar contenidos entre otros, en registros públicos, documentos públicos, gacetas y boletines oficiales, así
                    como en sentencias judiciales debidamente ejecutoriadas que no estén sometidas a reserva por expresa
                    disposición legal.
                    4.6. Encargado del tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con
                    otros, realice el tratamiento de datos personales por cuenta del responsable del tratamiento.
                    4.7. Responsable del tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio
                    con otros, decida sobre la base de datos y/o el tratamiento de los datos. Para los efectos de la presente
                    PTDP, LA EMPRESA hace las veces de responsable del tratamiento de forma simultánea.
                    4.8. Titular: Persona natural cuyos datos personales sean objeto de tratamiento.
                    4.9. Tratamiento: Cualquier operación o conjunto de operaciones sobre datos personales, tales como la
                    recolección, almacenamiento, uso, circulación o supresión.
                    4.10. Aviso de privacidad: Comunicación verbal o escrita generada por el responsable del tratamiento, dirigida al
                    titular de las informaciones y datos personales, mediante la cual se le informar acerca de la existencia de las
                    PTDP de LA EMPRESA que le serán aplicables, la forma de acceder a las mismas y las finalidades del
                    tratamiento que se pretende dar a sus datos personales.
                    4.11. Transferencia: La transferencia de datos tiene lugar cuando el responsable y/o encargado del tratamiento de
                    datos personales, ubicado en Colombia, envía la información o los datos personales a un receptor, quien a su
                    vez es responsable del tratamiento, y se encuentra ubicado dentro o fuera del país.
                    4.12. Transmisión: La transmisión es una modalidad de tratamiento de las informaciones y datos personales que
                    implica la comunicación de los mismos dentro o fuera del territorio de la República de Colombia, cuando tenga
                    por objeto la realización de actividades de tratamiento por el encargado, pero siempre por cuenta del
                    responsable.
                    4.13. Registro Nacional de Bases de Datos: Es el directorio público de las bases de datos personales sujetas a
                    actividades de tratamiento que operan en el país, cuya administración está a cargo de la Superintendencia de
                    Industria y Comercio como máxima autoridad administrativa de vigilancia y control en materia de tratamiento
                    de datos personales y hábeas data.</p>
                <ol>
                    <li><strong>PRINCIPIOS RECTORES DEL TRATAMIENTO DE DATOS PERSONALES: LA EMPRESA</strong> , en su calidad de
                        responsable del tratamiento de datos personales, declara que la presente PTDP se encuentra ajustada a las
                        disposiciones de orden legal contenidas en la Ley 1581 de 2012 y en el Decreto Único Reglamentario 1074 de
                        2015, por lo que en el desarrollo de las actividades de tratamiento, en la aplicación de la PTDP, y en la</li>
                </ol>
                <p>interpretación que de ella se hiciere con fundamento en las normas antes citadas, se aplicarán armónicamente los
                    principios de legalidad, finalidad, libertad, veracidad o calidad, transparencia, acceso y circulación restringida,
                    seguridad y confidencialidad, en los términos previstos por el artículo 4º de Ley 1581 de 2012.</p>
                <p>TÍTULO III
                    DERECHOS DE LOS TITULARES Y DEBERES DEL RESPONSABLE DEL TRATAMIENTO</p>
                <ol>
                    <li><strong>DERECHOS DE LOS TITULARES DE LOS DATOS PERSONALES:</strong> Con arreglo a lo dispuesto en el Título IV
                        de la
                        Ley 1581 de 2012, LA EMPRESA debe garantizar a los titulares de las informaciones y datos personales objeto de
                        tratamiento, el ejercicio de los siguientes derechos en cualquier tiempo y sin el cumplimiento de mayores
                        requisitos:
                        6.1. Conocer, actualizar y rectificar sus datos personales frente a LA EMPRESA en su calidad de responsable del
                        <p>tratamiento. Éste derecho se podrá ejercer, entre otros, frente <span class="hljs-selector-tag">a</span>
                            datos parciales, inexactos, incompletos,
                            fraccionados, que induzcan <span class="hljs-selector-tag">a</span> error o frente <span
                                class="hljs-selector-tag">a</span> aquellos cuyo tratamiento esté expresamente prohibido por ley o
                            no haya sido autorizado por el titular.
                        </p> 6.2. Solicitar prueba de la autorización otorgada a LA EMPRESA en su calidad de responsable del
                        tratamiento,<p>salvo cuando expresamente <span class="hljs-keyword">se</span> exceptú<span
                                class="hljs-keyword">e</span> como requisito para <span class="hljs-keyword">el</span> tratamiento, de
                            conformidad <span class="hljs-keyword">con</span> <span class="hljs-keyword">lo</span> previsto
                            <span class="hljs-keyword">en</span> <span class="hljs-keyword">el</span> artículo <span
                                class="hljs-number">10</span> de Ley <span class="hljs-number">1581</span> de <span
                                class="hljs-number">2012</span>.
                        </p> 6.3. Ser informado por parte de LA EMPRESA, en su calidad de responsable del tratamiento, previa solicitud,
                        <p>respecto <span class="hljs-selector-tag">del</span> uso que se le ha dado <span
                                class="hljs-selector-tag">a</span> sus datos personales.
                        </p> 6.4. Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en
                        la<p>presente ley y las demás normas <span class="hljs-keyword">que</span> <span class="hljs-keyword">la</span>
                            modifiquen, adicionen o complementen.
                        </p> 6.5. Revocar la autorización y/o solicitar la supresión del dato personal cuando en el tratamiento de
                        aquellos LA<p><span class="hljs-attribute">EMPRESA</span> <span class="hljs-literal">no</span> respetare los
                            principios, derechos y garantías constitucionales y legales. *
                        </p>
                    </li>
                </ol>
                <p><strong><em>*</em></strong> <em>En todo caso, dicha revocatoria y/o supresión procederá únicamente cuando la
                        Superintendencia de Industria y Comercio haya
                        determinado que, en el desarrollo de las actividades de tratamiento, la empresa ha incurrido en conductas
                        contrarias a la Ley 1581 de
                        2012 y a la Constitución Nacional de la República de Colombia.</em></p>
                <ol>
                    <li><strong>LEGITIMACIÓN PARA EL EJERCICIO DE LOS DERECHOS DEL TITULAR:</strong> Con arreglo a lo estatuido por el
                        artículo 2.2.2.25.4.1 del Decreto Único Reglamentario 1074 de 2015, los derechos de los titulares de los datos e
                        informaciones de carácter personal podrán ser ejercidos por las personas que se mencionan a continuación:
                        7.1. Por el respectivo titular, quien deberá acreditar su identidad en forma suficiente por los distintos medios
                        que<p>ponga <span class="hljs-selector-tag">a</span> disposición el responsable.
                        </p> 7.2. Por sus causahabientes, quienes deberán acreditar tal calidad.
                        7.3. Por el representante y/o apoderado del titular, previa acreditación de la representación o apoderamiento.
                        7.4. Por estipulación a favor de otro o para otro.
                        7.5. En el caso de que el titular de la información sea un menor de edad, sus derechos podrán ser ejercidos<p>
                            únicamente por las personas <span class="hljs-keyword">que</span> <span class="hljs-keyword">de</span>
                            conformidad con <span class="hljs-keyword">la</span> ley <span class="hljs-keyword">est</span>é<span
                                class="hljs-keyword">n</span> facultadas para representarlos.
                        </p>
                    </li>
                    <li><strong>DEBERES DE LOS RESPONSABLES DEL TRATAMIENTO:</strong> LA EMPRESA, en su calidad de responsable del
                        tratamiento de datos personales, reconoce que se encuentra obligado a cumplir los deberes establecidos en el
                        Título VI de la Ley 1581 de 2012.</li>
                </ol>
                <p>TÍTULO IV
                    AUTORIZACIÓN PARA EL TRATAMIENTO DE DATOS PERSONALES</p>
                <ol>
                    <li><strong>MEDIDAS IMPLEMENTADAS PARA GARANTIZAR EL ACCESO A LA PTDP :</strong> En la medida en que LA
                        EMPRESA ha recolectado datos e informaciones de carácter personal en momentos anteriores a la entrada en
                        vigencia del Decreto 1377 de 2013, esto es, antes del 27 de junio de dicho año, la compañía, con el objetivo de
                        cumplir cabalmente con lo establecido en el numeral 1º del artículo 2.2.2.25.2.7 del Decreto Único Reglamentario
                        1074 de 2015, hizo uso de los mecanismos eficientes de comunicación de que trata el numeral 2º de la misma
                        disposición, esto es, “ <em>aquellos que el responsable o encargado usan en el curso ordinario de su interacción
                            con los</em>
                        <em>titulares registrados en sus bases de datos”</em> , con el objetivo de solicitar una nueva autorización a
                        los titulares de las
                        mencionadas informaciones y datos de carácter personal, así como con el objetivo de poner en su conocimiento las
                        presentes PTDP a través del respectivo aviso de privacidad, en el evento en que no fue posible poner a
                        disposición
                        de aquellos esta PTDP.</li>
                </ol>
                <ol>
                    <li><strong>AUTORIZACIÓN DEL TITULAR:</strong> Toda actividad de recopilación, conservación, uso, manejo,
                        actualización,
                        corrección, supresión y, en general, toda actividad mediante la cual se pretenda obtener y/o tratar datos e
                        información de carácter personal de titularidad de terceros, se llevará a cabo mediante autorización previa,
                        expresa,
                        libre e informada de sus respectivos titulares. En todo caso, con el otorgamiento de la autorización por parte
                        del
                        titular para la recolección y el tratamiento de las informaciones y datos personales, se entenderá que éste ha
                        leído
                        las PTDP aquí contenidas, puesto que se le ha informado de manera verbal y escrita que las PTDP se encuentran
                        a disposición del público y que pueden ser solicitadas en cualquier momento a través del correo
                        nsamboni@processoft.com.co. Igualmente, por medio de la autorización para la recolección y tratamiento de la
                        información y datos personales, el titular declara que dichos datos e información son veraces, completos,
                        exactos,
                        actualizados, comprobables, comprensibles y corresponden a la realidad vigente para el momento en que son
                        suministrados.</li>
                    <li><strong>MECANISMO DE PRUEBA DE LA AUTORIZACIÓN DEL TITULAR: LA EMPRESA</strong> pondrá a disposición de los
                        titulares de las informaciones y datos personales objeto de tratamiento, el documento de autorización con la
                        finalidad de que exista un consentimiento libre, expreso, previo y escrito, lo suficientemente informado. La
                        autorización otorgada por el titular de la información podrá constar por escrito, ya sea en un documento físico
                        o en
                        medios magnéticos, así como en archivos de audio, plataformas tecnológicas de almacenamiento de datos en línea
                        o en cualquier otro medio idóneo y apto para probar la existencia del consentimiento del titular y la
                        autorización para
                        el tratamiento de sus datos personales.</li>
                </ol>
                <p>Para aquellos casos en los cuales se suscriba un contrato escrito de cualquier naturaleza entre el titular de las
                    informaciones y datos personales y LA EMPRESA, será viable consignar en dicho documento o en sus respectivos
                    otrosíes, según el caso, la autorización previa para el tratamiento de datos personales.</p>
                <ol>
                    <li><strong>CASOS EN QUE NO ES NECESARIA LA AUTORIZACIÓN</strong> : En los términos del artículo 10 de Ley 1581 de
                        2012,
                        la autorización del titular no será necesaria cuando las informaciones o datos objeto de tratamiento sean de
                        aquellos que se describen a continuación:
                        12.1. Información requerida por una entidad pública o administrativa en ejercicio de sus funciones legales o por
                        orden judicial.
                        12.2. Datos de naturaleza pública.
                        12.3. Casos de urgencia médica o sanitaria.
                        12.4. Tratamiento de información autorizado por la ley para fines históricos, estadísticos o científicos.
                        12.5. Datos relacionados con el registro civil de las personas.</li>
                    <li><strong>REVOCATORIA DE LA AUTORIZACIÓN Y SOLICITUD DE SUPRESIÓN DEL DATO:</strong> De conformidad con lo
                        establecido en el artículo 9 de Ley 1581 de 2012, los titulares de las informaciones y datos personales podrán
                        solicitar en todo momento a LA EMPRESA, en su calidad de responsable del tratamiento, la supresión de sus datos
                        personales y/o la revocatoria de la autorización otorgada para el tratamiento de los mismos, previa presentación
                        de
                        un reclamo.</li>
                </ol>
                <p>En los términos del inciso primero del artículo 2.2.2.25.2.6 del Decreto Único Reglamentario 1074 de 2015, la
                    solicitud de supresión de la información y la revocatoria de la autorización no procederán cuando el titular de
                    aquella
                    tenga un deber legal o contractual de permanecer en la base de datos.</p>
                <p>Vencido el término establecido para dar respuesta a la solicitud de revocatoria de autorización o supresión de los
                    datos personales, sin que LA EMPRESA hubiere revocado la autorización o eliminado los datos, el titular tendrá
                    derecho a acudir a la Superintendencia de Industria y Comercio para que dicha entidad, en uso de sus facultades
                    policivo administrativas o jurisdiccionales, ordene la revocatoria de la autorización y/o la supresión de los datos
                    personales, previo agotamiento del procedimiento sancionatorio establecido en el artículo 22 de Ley 1581 de 2012.
                </p>
                <p>TÍTULO V
                    TRATAMIENTO Y FINALIDADES DEL TRATAMIENTO</p>
                <ol>
                    <li>Considerando el modo de conservación de una base de datos, se puede distinguir entre bases de datos
                        automatizadas y bases de datos manuales o archivos. Las bases de datos automatizadas son aquellas que se
                        almacenan y administran con la ayuda de herramientas informáticas.</li>
                </ol>
                <p>Las bases de datos manuales o archivos son aquellas cuya información se encuentra organizada y almacenada de
                    manera física, como las fichas de pedidos a proveedores que contengan información personal relativa al proveedor,
                    como nombre, identificación, números de teléfono, correo electrónico, etc.</p>
                <p>LA EMPRESA realizará el Tratamiento de datos personales de su personal que ingrese a las instalaciones de la
                    compañía, usuarios de aplicaciones digitales que la compañía administra, empleados, colaboradores, proveedores y
                    sus colaboradores, prospectos de clientes y sus colaboradores y clientes, junto con sus colaboradores.</p>
                <p>En desarrollo de los principios de finalidad y libertad contemplados en la Ley, la recolección de datos personales
                    por
                    parte de LA EMPRESA limitará a aquellos datos personales que son pertinentes y adecuados para la finalidad para
                    la cual son recolectados o requeridos conforme a la normatividad vigente. Salvo en los casos expresamente
                    previstos en la Ley, no se recolectarán datos personales sin autorización del Titular.</p>
                <p>LA EMPRESA mantendrá la confidencialidad de los datos personales objeto de Tratamiento y sólo los divulgará por
                    solicitud expresa de las entidades de vigilancia y control y autoridades que tengan la facultad legal de solicitarla
                    y
                    permitirá en todo momento y de manera gratuita conocer, actualizar y corregir la información personal del Titular de
                    conformidad con la Ley.</p>
                <p>El Tratamiento de datos incluye la recolección, almacenamiento, administración, utilización, transferencia,
                    transmisión y destrucción, en la forma permitida por la ley y se realiza con las siguientes finalidades específicas
                    para cada caso:
                    a) Tratamiento de datos personales de colaboradores, empleados y ex empleados: Se realiza para cumplir con
                    las obligaciones laborales a cargo de LA EMPRESA, tales como pagos de nómina, reportes de Seguridad y
                    Salud en el Trabajo, pagos y reportes al sistema general de seguridad social, DIAN y demás organismos de
                    control, otorgar beneficios al empleado y a sus familiares, atención de consultas, peticiones, solicitudes,
                    acciones y reclamos, hechas por el Titular de la información o por las personas autorizadas por este o la Ley,
                    o por entidades del sistema general de seguridad social a los que el Titular esté o hubiere estado vinculado. En
                    el caso de los ex empleados, se efectúa tratamiento con el fin de mantener un contacto para requerimiento de
                    una labor desempeñada, constancias de vinculación, pagos a la seguridad social, soportes tributarios,
                    atendiendo necesidades contractuales, legales o judiciales.
                    b) Tratamiento de datos personales de personal que accede a instalaciones de la Compañía: LA EMPRESA
                    almacena las grabaciones de las personas naturales que ingresan las instalaciones de la Compañía,
                    entendidas como datos biométricos. Asimismo, ejerce controles de registro de ingreso de equipos, vehículos y
                    demás El tratamiento de estos datos personales se efectúa para fines de seguridad, control de ingreso y salida
                    de visitantes.
                    c) Tratamiento de datos personales de contratistas personas naturales y personas naturales vinculados a los
                    contratistas: Este tratamiento tiene como fin permitir a LA EMPRESA cumplir con las obligaciones
                    contractuales a su cargo, tales como asignación y control de elementos tecnológicos, materiales y equipos en
                    general, entrada y salida de las diferentes instalaciones, seguimiento a cumplimiento de obligaciones a cargo
                    de Contratistas, atención de eventuales emergencias, atención respuesta de consultas, peticiones, solicitudes,
                    acciones y reclamos, hechas por el Titular de la información o las personas legitimadas.
                    d) Tratamiento de datos personales de Proveedores personas naturales y personas naturales vinculados al
                    proveedor: Permite el cumplimiento de obligaciones contractuales a cargo de LA EMPRESA, tales como pagos
                    de honorarios, reportes de pagos, reportes o interacciones que por ley o por políticas internas tiene la
                    obligación de realizar, atención de consultas, peticiones, solicitudes, acciones y reclamos, hechas por el Titular
                    de la información o por sus legitimarios.
                    e) Tratamiento de datos personales de Clientes personas naturales y personas naturales vinculados al cliente: El
                    Tratamiento de datos personales de Clientes que son personas naturales, tiene el propósito de que LA
                    EMPRESA pueda cumplir con las obligaciones contractuales a su cargo, tales como facturación, reportes de
                    pagos o interacciones que por ley o por políticas internas tiene la obligación de realizar, atención de consultas,
                    peticiones, solicitudes, acciones y reclamos, hechas por el Titular de la información o por sus legitimarios.</p>
                <p>f) Tratamiento de datos personales de prospectos de clientes personas naturales y personas naturales
                    vinculados al prospecto de cliente: El Tratamiento de datos personales de Clientes que son personas
                    naturales, tiene el propósito de que LA EMPRESA pueda cumplir con las obligaciones contractuales a su
                    cargo, tales como buscar desarrollar las áreas comerciales, mercadeo, ventas y otras pertinentes de la
                    compañía.
                    g) Tratamiento de datos personales de accionistas, representantes legales, administradores, de personas
                    naturales o jurídicas: Tiene el propósito de que LA EMPRESA pueda cumplir con las obligaciones
                    contractuales a su cargo, así como para identificar factores de riesgo y salud financiera de las Compañías de
                    las cuales hacen parte.</p>
                <ol>
                    <li><strong>PROSCRIPCIÓN DEL TRATAMIENTO DE DATOS PERSONALES DE MENORES DE EDAD:</strong> LA EMPRESA
                        conoce y respeta la prohibición establecida en el artículo 7 de Ley 1581 de 2012 respecto del tratamiento de
                        datos
                        de niños, niñas y adolescentes, salvo en aquellos casos en que los mismos sean de aquellos datos susceptibles de
                        ser considerados como de naturaleza pública.</li>
                </ol>
                <p>Por lo anterior, y en el evento en que la compañía pretenda adelantar actividades de tratamiento de datos
                    personales públicos de titularidad de menores de edad, LA EMPRESA abogará y respetará el interés superior de
                    éstos, asegurando un absoluto respeto de sus derechos fundamentales. Así mismo, LA EMPRESA se abstendrá de
                    someter dichos datos a actividades de tratamiento sin que medie la respectiva autorización del representante legal
                    del menor de edad titular de la información en los términos de ley y de acuerdo con la presente PTDP, previo
                    ejercicio del derecho del menor a ser escuchado, en atención a su capacidad para conocer y entender los términos
                    de la autorización que sus representantes otorguen.</p>
                <ol>
                    <li><strong>TRATAMIENTO AL CUAL SERÁN SOMETIDOS LOS DATOS:</strong> LA EMPRESA garantiza que la información
                        contenida en su base de datos será utilizada de manera correcta y para fines lícitos, conforme a la normatividad
                        vigente y sin agravio al derecho al <em>habeas data</em> amparado por la Constitución Nacional de la República
                        de
                        Colombia. El tratamiento de los datos personales antes descritos por parte de la compañía se circunscribirá
                        únicamente a las actividades de recolección, almacenamiento y uso. En algunos casos, LA EMPRESA podrá
                        transmitir los datos personales recolectados, previa autorización expresa para tal finalidad por parte del
                        titular, a los
                        productores y/o fabricantes de los bienes o servicios comercializados por LA EMPRESA y a las empresas que
                        tengan la calidad de matrices o controlantes de LA EMPRESA, quienes obrarán en calidad de responsables del
                        tratamiento, en los términos y condiciones de sus propias políticas de tratamiento de datos personales. Los
                        datos
                        personales. Lo anterior, con las finalidades que se describen en el artículo siguiente.</li>
                </ol>
                <p>PARÁGRAFO PRIMERO: LA EMPRESA garantiza a todos los depositantes de información y datos personales que
                    ésta no será utilizada para fines distintos a los respectivamente autorizados por sus titulares, ni será vendida, ni
                    comercializada a terceros bajo ninguna figura, nacional ni internacionalmente, sin que medie previa autorización.
                </p>
                <h3 id="t-tulo-vi">TÍTULO VI</h3>
                <h3 id="atenci-n-de-peticiones-consultas-y-reclamos">ATENCIÓN DE PETICIONES, CONSULTAS Y RECLAMOS</h3>
                <ol>
                    <li><strong>ATENCIÓN DE PETICIONES, CONSULTAS Y RECLAMOS</strong> : LA EMPRESA ha habilitado el correo electrónico
                        serviciocliente@processoft.com.co como canal para atender de manera adecuada y oportuna las peticiones,
                        consultas y reclamos que eleven los titulares de las informaciones y datos personales a la empresa.</li>
                </ol>
                <p>No obstante, lo anterior, las peticiones y reclamos de que trata el Título VII de esta PTDP, podrán ser radicadas por
                    escrito en las oficinas de la compañía, ubicada en la Calle 64 N # 5B – 146 LC 23 en el municipio de Santiago de
                    Cali, departamento del Valle del Cauca.</p>
                <ol>
                    <li><strong>PERSONAS A QUIENES SE LES PUEDE SUMINISTRAR LA INFORMACIÓN:</strong> En los términos del artículo 13 de
                        Ley 1581 de 2012, las informaciones y datos personales podrán ser suministrados por LA EMPRESA, previa
                        solicitud escrita para el efecto, a las siguientes personas:
                        18.1. A los respectivos titulares, sus causahabientes o sus representantes legales.
                        18.2. A las entidades públicas o administrativas en ejercicio de sus funciones.</li>
                </ol>
                <p>18.3. A los terceros que hubieren sido expresamente autorizados por el titular de los datos o que por expresa
                    disposición legal estén facultados para solicitar la información.</p>
                <ol>
                    <li><strong>TÉRMINO PARA RESOLVER CONSULTAS:</strong> De conformidad con lo reglado en el artículo 14 de Ley 1581 de
                        2012,
                        LA EMPRESA está en la obligación de dar respuesta a las consultas elevadas por los titulares de los datos
                        personales o por sus respectivos causahabientes encaminadas a consultar y conocer la información personal objeto
                        de tratamiento, en un término máximo de diez (10) días hábiles contados a partir de la fecha de radicación de la
                        solicitud.</li>
                </ol>
                <p>En el evento en que la compañía no pueda atender la solicitud dentro del término antes descrito, estará en la
                    obligación de notificar al solicitante acerca de los motivos que dieron lugar a la demora y, en todo caso, dará
                    respuesta a la solicitud dentro de los cinco (5) días hábiles siguientes al vencimiento del primer término.</p>
                <ol>
                    <li><strong>TÉRMINO PARA RESOLVER PETICIONES Y RECLAMOS:</strong> Atendiendo a lo dispuesto por el numeral 3 del
                        artículo
                        15 de Ley 1581 de 2012, las peticiones que no estén relacionadas con una solicitud de conocimiento o consulta de
                        la información objeto de tratamiento, así como los reclamos que interpusieren los titulares o sus respectivos
                        causahabientes, deberán ser resueltas por LA EMPRESA en un término no mayor a quince (15) días contados a
                        partir del día siguiente a la fecha de su radicación.</li>
                </ol>
                <p>En el evento en que la compañía no pueda atender la petición o reclamo dentro del término antes descrito, estará
                    en la obligación de notificar al solicitante acerca de los motivos que dieron lugar a la demora y, en todo caso,
                    dará
                    respuesta a la solicitud dentro de los ocho (8) días hábiles siguientes al vencimiento del primer término.</p>
                <ol>
                    <li><strong>REQUISITO DE PROCEDIBILIDAD:</strong> La presentación de consultas, peticiones y reclamos ante la
                        empresa
                        constituye requisito de procedibilidad para elevar una queja ante la Superintendencia de Industria y Comercio
                        frente
                        a una presunta vulneración de los derechos de los titulares de las informaciones o datos personales, por lo que
                        dicha entidad no dará trámite a las quejas que se interpusieren sin el agotamiento de la etapa previa antes
                        mencionada. Todo lo anterior, de conformidad con lo consagrado en el artículo 16 de Ley 1581 de 2012.</li>
                </ol>
                <h3 id="t-tulo-vii">TÍTULO VII</h3>
                <h3 id="procedimiento-para-el-tratamiento-de-datos-personales">PROCEDIMIENTO PARA EL TRATAMIENTO DE DATOS PERSONALES
                </h3>
                <h3 id="22-consideraciones-generales-frente-al-tratamiento-de-la-informaci-n-y-datos">22. CONSIDERACIONES GENERALES
                    FRENTE AL TRATAMIENTO DE LA INFORMACIÓN Y DATOS</h3>
                <p>PERSONALES: LA EMPRESA realiza la recolección de las informaciones y datos personales a través de los
                    documentos requeridos para la vinculación de proveedores, a través de las hojas de vida presentadas por los
                    trabajadores en los procesos de selección y documentos necesarios para la vinculación de los mismos a los
                    diferentes sistemas de seguridad social y riesgos laborales, así como los suministrados por los clientes para el
                    cumplimiento de las finalidades previamente indicadas.</p>
                <p>Las informaciones y datos personales recolectados por LA EMPRESA serán almacenados en medios físicos y
                    digitales según el tipo de dato y los soportes en que se encuentre registrado. LA EMPRESA dispondrá de medidas
                    físicas y tecnológicas razonables para garantizar la protección e integridad de los datos almacenados por LA
                    EMPRESA, así como para atender de manera oportuna cualquier incidente que se presente y represente un riesgo
                    para los datos personales objeto de tratamiento.</p>
                <ol>
                    <li><strong>PROCEDIMIENTO PARA CONOCER LA INFORMACIÓN:</strong> Los titulares de las informaciones o datos
                        personales o
                        sus respetivos causahabientes podrán consultar la información personal del titular que repose en las bases de
                        datos
                        de LA EMPRESA<strong>.</strong> Para ello, pueden radicar la respectiva solicitud en los canales de atención
                        señalados en esta
                        política para la atención de peticiones, consultas y reclamos.</li>
                </ol>
                <p>En caso en que la solicitud sea interpuesta por escrito, el documento deberá contener, como mínimo, el nombre
                    completo del titular y su número de identificación, nombre completo e identificación del solicitante, indicación de
                    la
                    solicitud de conocimiento y acceso a la información objeto de tratamiento de forma clara y concisa, y datos para
                    notificación (dirección, teléfono, celular o móvil y correo electrónico).</p>
                <p>LA EMPRESA deberá dar una respuesta a la solicitud de consulta o conocimiento de la información dentro del
                    término establecido en el Título VI de esta PTDP, en consonancia con lo establecido en el artículo 14 de Ley 1581
                    de 2012.</p>
                <ol>
                    <li><strong>PROCEDIMIENTO PARA INTERPONER PETICIONES Y RECLAMOS:</strong> El titular de las informaciones o datos
                        personales o sus respectivos causahabientes podrán interponer un reclamo ante LA EMPRESA, en su calidad de
                        responsable del tratamiento, en el momento en que consideren que la información contenida en una base de datos
                        de la empresa debe ser objeto de corrección, actualización o supresión, o cuando adviertan un presunto
                        incumplimiento de cualquiera de los deberes contenidos en esta PTDP y en la Ley 1581 de 2012, el cual será
                        tramitado bajo las siguientes reglas:</li>
                </ol>
                <p>24.1. El reclamo deberá interponerse por escrito a través de los canales habilitados y estar dirigido a LA EMPRESA,
                    identificando al titular de los datos e información personal con nombre completo, apellidos y número de
                    identificación, deberá contener además una descripción de los hechos en que se funda la reclamación, la
                    dirección en la que el(los) solicitante(s) recibirán notificaciones y deberá acompañarse con las pruebas
                    documentales que se desee hacer valer.
                    24.2. En el evento en que el reclamo sea recibido por un departamento, área o dependencia de la compañía que
                    carezca de competencia para darle trámite y resolverlo, procederá trasladarlo a quien corresponde en un
                    término no mayor a dos (2) días hábiles e informará de la situación al solicitante.
                    24.3. Cuando el escrito de reclamación no cuente con los elementos mínimos descritos en el inciso primero de este
                    artículo, LA EMPRESA, por conducto de sus dependientes y colaboradores, requerirá al solicitante dentro de
                    los cinco (5) días hábiles siguientes a la radicación de la reclamación para que subsane las fallas o aporte los
                    documentos que hagan falta.
                    24.4. LA EMPRESA dará respuesta a la petición o reclamo dentro del término establecido en el Título VI de esta
                    PTDP, en consonancia con lo establecido en el artículo 15 de Ley 1581 de 2012.</p>
                <p>TÍTULO VIII
                    VIGENCIA</p>
                <ol>
                    <li>La presente PTDP de LA EMPRESA rige a partir del <strong>1º de octubre de 2016</strong> , la cual se ajusta a
                        los términos legales
                        y de manera indefinida, por lo que su contenido obliga a la compañía mientras permanezcan vigentes las
                        relaciones
                        contractuales, comerciales, laborales o meramente informativas con los titulares de las informaciones y datos
                        personales. Lo anterior, sin perjuicio del derecho de los titulares a solicitar la revocatoria de la
                        autorización para el
                        tratamiento de sus datos e informaciones personales.</li>
                </ol>
                <p>En todo caso, y aun cuando medie solicitud de revocatoria de la autorización para el tratamiento, LA EMPRESA
                    advierte que de conformidad con lo dispuesto en el Título IV de esta PTDP, los datos personales serán conservados
                    cuando así se requiera para el cumplimiento de una obligación de carácter legal o contractual que hubiere surgido
                    entre la empresa y el respectivo titular.</p>
                <p>LA EMPRESA se reserva el derecho a hacer ajustes al contenido de la presente PTDP cuando las actividades del
                    tratamiento y/o la finalidad del tratamiento de los datos e información personal cambien, o cuando los cambios
                    normativos en la materia lo justifiquen. En todo caso, dichos cambios serán debidamente comunicados a los
                    titulares a través de los mecanismos eficientes de comunicación comúnmente utilizados en el giro ordinario de las
                    relaciones comerciales o promocionales que con ellos se sostienen.</p>
                <p>TÍTULO IX
                    INSCRIPCIÓN DE BASES DE DATOS EN EL REGISTRO NACIONAL DE BASES DE DATOS – RNBD</p>
                <ol>
                    <li><strong>CONSIDERACIONES GENERALES DEL RNBD:</strong> En los términos del artículo 2.2.2.26.1.3 del Decreto Único
                        Reglamentario 1074 de 2015, LA EMPRESA en su calidad de persona jurídica de derecho privado que hace las
                        veces de responsable del tratamiento de datos e informaciones de carácter personal, debe inscribir las bases de
                        datos contentivas de dichas informaciones en el Registro Nacional de Base de Datos, de manera independiente. Lo
                        anterior, atendiendo a los términos y condiciones de inscripción previstos en la Sección 3 del Capítulo 26 del
                        Decreto Único Reglamentario 1074 de 2015, en cuyo artículo 2.2.2.26.3.2 se establece que será la
                        Superintendencia de Industria y Comercio quien establecerá el procedimiento de inscripción de las bases de datos
                    </li>
                </ol>
                <p>en el Registro Nacional de Bases de Datos que deberán cumplir los responsables del tratamiento, previa validación
                    de su identidad, de acuerdo con la reglamentación que expida la mencionada entidad.</p>
                <ol>
                    <li><strong>CONSULTA DEL RNBD:</strong> Con sujeción a lo establecido en el artículo 2.2.2.26.1.4 del Decreto Único
                        Reglamentario
                        1074 de 2015, los ciudadanos podrán consultar en el Registro Nacional de Bases de Datos – RNBD – la
                        información mínima prevista en el artículo 2.2.2.26.1 de dicho decreto, “ <em>con el fin de facilitar el
                            ejercicio de sus</em>
                        <em>derechos a conocer, actualizar, rectificar, suprimir el dato y/o revocar la autorización.”</em></li>
                    <li><strong>INFORMACIÓN MÍNIMA DEL RNBD:</strong> De conformidad con lo establecido en el artículo 2.2.2.26.2.1 del
                        Decreto
                        Único Reglamentario 1074 de 2015, la información mínima que debe contener el Registro Nacional de Bases de
                        Datos – RNBD – es la siguiente:</li>
                </ol>
                <p>28.1. Datos de identificación, ubicación y contacto del responsable del tratamiento de la base de datos, en este
                    caso, LA EMPRESA, incluyendo su denominación o razón social y su número de identificación tributaria (NIT)
                    por ser una persona jurídica (artículo 2.2.2.26.2.2 del Decreto Único Reglamentario 1074 de 2015).
                    28.2. Datos de identificación, ubicación y contacto del o de los encargados del tratamiento de la base de datos, en
                    este caso, LA EMPRESA, en su calidad de responsable del tratamiento de los datos e informaciones
                    personales, incluyendo su denominación o razón social y su número de identificación tributaria (NIT) por ser
                    una persona jurídica (artículo 2.2.2.26.2.3 del Decreto Único Reglamentario 1074 de 2015).
                    28.3. Canales para que los titulares ejerzan sus derechos, esto es, aquellos identificado en los Capítulos VI y VII
                    de
                    esta PTDP.
                    28.4. Forma de tratamiento de la base de datos, esto es, si las actividades de tratamiento de aquella se realizan de
                    forma manual o automatizada.
                    28.5. La presente PTDP.</p>
                <p>Paralelamente, el último inciso del artículo 2.2.2.26.2.1 del Decreto Único Reglamentario 1074 de 2015 estatuye que “
                    <em>[l]a
                        Superintendencia de Industria y Comercio, como autoridad de protección de datos personales, podrá establecer
                        dentro
                        del Registro Nacional de Bases de Datos información adicional a la mínima prevista en este artículo, en uso de
                        las
                        facultades que le atribuyó la Ley 1581 de 2012 en el literal h) del artículo 21”</em> , potestad esta de la que
                    hizo uso a través
                    de la Circular Externa No, 002 del 3 de noviembre de 2015, incluyendo en el numeral 2.1.de dicho capítulo, como
                    información mínima adicional a suministrar en el Registro Nacional de Bases de Datos – RNBD – la siguiente:</p>
                <p>• Información almacenada en la base de datos.
                    • Medidas de seguridad de la información. <em>
                        • Procedencia de los datos personales.
                        • Transferencia internacional de datos personales.
                        • Transmisión internacional de datos personales.
                        • Cesión o transferencia nacional de base de datos.
                        • Reporte de novedades, diferenciando entre los reclamos presentados por los titulares</em> y los incidentes de
                    seguridad * , los cuales deberán ser reportados dentro de los términos y oportunidades establecidas para ello
                    en los numerales (i) y (ii) del literal g) del artículo 2.1 antes referenciado.</p>
                <p><strong><em>*</em></strong> <em>Por expresa disposición legal, la información relacionada con las medidas de
                        seguridad, los reclamos presentados por los titulares y
                        los incidentes reportados, no estarán disponibles para consulta pública.</em></p>
                <p><strong>PARÁGRAFO PRIMERO:</strong> El alcance de la información adicional antes enunciada será aquel descrito
                    expresamente en
                    el artículo 2.1 del Capítulo Segundo del Título V de la Circular Única de la Superintendencia de Industria y
                    Comercio,
                    adicionado mediante la Circular Externa No 002 del 3 de noviembre de 2015.</p>
                <ol>
                    <li><strong>PROCEDIMIENTO PARA LA INSCRIPCIÓN EN EL RNBD:</strong> A pesar del cronograma sugerido por la
                        Superintendencia de Industria y Comercio en el artículo 2.2. del Capítulo Segundo del Título V de la Circular
                        Única
                        de la Superintendencia de Industria y Comercio, adicionado mediante la Circular Externa No 002 del 3 de
                        noviembre
                        de 2015, LA EMPRESA procederá a inscribir sus bases de datos en el Registro Nacional de Bases de Datos –
                        RNBD – dentro del término de un (1) año contado a partir del día siguiente a la fecha en la que la
                        Superintendencia
                        de Industria y Comercio hubiere habilitado dicho registro, esto es, a partir del 9 de noviembre de 2015 y hasta
                        el 9</li>
                </ol>
                <p>de noviembre de 2016. Lo anterior, con sujeción a lo reglado en el artículo 2.2.2.26.3.1 del Decreto Único
                    Reglamentario 1074 de 2015.</p>
                <p>La inscripción de las bases de datos de la compañía se realizará de acuerdo con las instrucciones contenidas en el
                    “ Manual del Usuario del Registro Nacional de Bases de Datos –RNBD- “ , publicado en el sitio web de la
                    Superintendencia de Industria y Comercio.</p>
                <ol>
                    <li><strong>ACTUALIZACIÓN DE LA INFORMACIÓN CONTENIDA EN EL RNBD:</strong> De conformidad con lo dispuesto en el
                        artículo 2.3 del Capítulo Segundo del Título V de la Circular Única de la Superintendencia de Industria y
                        Comercio,
                        adicionado mediante la Circular Externa No 002 del 3 de noviembre de 2015, LA EMPRESA actualizará la
                        información contenida en el RNBD, así:
                        30.1. Dentro de los primeros diez (10) días hábiles de cada mes, cuando se realicen cambios sustanciales a la
                        información registrada.
                        30.2. Anualmente, entre el dos (2) de enero y el treinta y uno (31) de marzo, a partir el 2018.
                        30.3. Dentro de los quince (15) primero días hábiles de los meses de febrero y agosto de cada año, a partir de
                        su
                        inscripción, respecto de la información relativa a los reclamos presentadas por los titulares de que trata el
                        numeral (i) del literal g) del artículo 2.1 de la norma citada, debiendo realizarse el primer reporte en el
                        primer
                        semestre de 2017, con la información correspondiente al segundo semestre de 2016.</li>
                </ol>
                <p>PARÁGRAFO PRIMERO: Para los efectos del numeral (i) antes descrito, se entenderá por cambios sustanciales
                    los descritos en el inciso segundo del artículo 2.3 del Capítulo Segundo del Título V de la Circular Única de la
                    Superintendencia de Industria y Comercio, adicionado mediante la Circular Externa No 002 del 3 de noviembre de
                    2015.</p>
                <p>PROCESSOFT S.A.S.</p>
                <p>NIT 900. 941. 137 - 2</p>

            </div>
        </div>
    </div>

</section>