
<div class="my-container pt-2">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>    
</div>
<div class="container-fluid page-content" *ngIf="items">

    <div>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item text-secondary">Listado de búsqueda</li>
            <li class="breadcrumb-item"><a href="/inicio">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href='javascript:history.go(-1)'>Clasificados</a></li>
          </ol>
        </nav>

    </div>
    <div class="row bg-white" *ngFor="let datos of items">

        <!--alerta propietario-->
        <ngb-alert *ngIf="vendidoMessage" type="success" (close)="vendidoMessage = null">{{ vendidoMessage }}</ngb-alert>
        <div class="rte-vendido-propietario">
            <div class="" *ngIf="codigo_usuario==datos.cliente_codigo">         
                <!-- <button class="btn col"  [routerLink]="['/publicar',datos.venta_codigo]" >Editar</button> -->
                <button class="btn col"  [routerLink]="['/publicar',datos.venta_codigo_encrypt]" >Editar</button>
                <!-- <button class="btn col" (click)="vendidoSuccessMessage()">Anular</button> -->
                <button class="btn col" (click)="reportAsCanceled(datos.venta_codigo_encrypt)">Anular</button>
                <!--<button class="btn col" (click)="vendidoSuccessMessage()">Vendido</button-->
                <!-- <button class="btn col" mat-button (click)="openDialog()">Vendido</button> -->
                <button class="btn col" mat-button (click)="reportAsSold(datos.venta_codigo_encrypt)">Vendido</button>

            </div>
        </div>

        <section class="swip col-12 col-md-7 col-lg-8 p-2">

            <div class="imagenes-carro" id="galeria">

                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>

            <div class="contenedor-nombre-vehiculo">
                <h1 class="nombre-vehiculo">
                    {{datos.marca_nombre}} {{datos.linea_nombre}}
                </h1>

                <div class="tarjeta-tags">
                    <span>{{datos.capacidadmotor_nombre}}</span>
                    <span>{{datos.clase_nombre}}</span>
                    <span>{{datos.venta_modelo}}</span>
                </div>

                <div class="tarjeta-precio">
                    {{datos.venta_valor | currency:'COP':'symbol-narrow':'2.0-1'}}
                </div>

                <div class="tarjeta-tags">
                    <span>Este vehículo se encuentra en {{datos.ciudad_nombre}}</span>
                </div>
            </div>


            <!-- acordeon Ficha tecnica-->
            <!-- <ngb-accordion (panelChange)="beforeChange($event)"> -->
            <ngb-accordion activeIds="static-1" id="infor-carro">
                <ngb-panel id="static-1" title="FICHA TÉCNICA">
                    <ng-template ngbPanelContent>
                        <div *ngFor="let datos of items" class="row contenido-ficha">

                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label>Clase:</label>
                                <p>{{datos.clase_nombre}}</p>
                            </div>

                            <div class="col-6 col-md-6 col-lg-3">
                                <label>Marca:</label>
                                <p>{{datos.marca_nombre}}</p>
                            </div>

                             <div class="col-6 col-md-6 col-lg-3">
                                <label>Familia:</label>
                                <p>{{datos.linea_familia}}</p>
                            </div>


                            <div class="col-6 col-md-6 col-lg-3">
                                <label>Modelo:</label>
                                <p>{{datos.venta_modelo}}</p>
                            </div>

                          

                            <div class="col-6 col-md-6 col-lg-3">
                                <label>Combustible:</label>
                                <p>{{datos.tipomotor_descripcion}}</p>
                            </div>

                            <div class="col-6 col-md-6 col-lg-3">
                                <label>Motor:</label>
                                <p>{{datos.capacidadmotor_nombre}}</p>
                            </div>


                            <div class="col-6 col-md-6 col-lg-3">
                                <label>Tracción:</label>
                                <p>{{datos.traccion_nombre}}</p>
                            </div>

                             <div class="col-6 col-md-6 col-lg-3">
                                <label>Kilometraje:</label>
                                <p>{{datos.venta_kilometraje}}</p>
                            </div>
                            
                            <div class="col-6 col-md-6 col-lg-3">
                                <label>Placa:</label>
                                <p>{{datos.venta_placa_termina}}</p>
                            </div>
                            
                            <div class="col-6 col-md-6 col-lg-3">
                                <label>Matriculado en:</label>
                                <p>{{datos.ciudad_matricula_d}}</p>
                            </div>

                            <div class="col-6 col-md-6 col-lg-3">
                                <label>Único Propietario:</label>
                                <p>{{datos.venta_unicopropietario}}</p>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>


                <ngb-panel title="ACCESORIOS" *ngIf="items_accesorio">
                    <ng-template ngbPanelContent>
                        <div class="row contenido-ficha">
                            <div *ngFor="let datos of items_accesorio"  class="col-md-6">
                                <label>{{datos.accesorio_nombre}}</label>
                                <p>{{datos.accref_nombre}} - {{datos.accref_fabricante}}</p>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>

            <div class="card descripcion">
                <h5 class="titulo">Descripción</h5>               
                <p>{{datos.venta_descripcion}}</p>
            </div>
            <!-- descripcion-->

            <!-- codigo de publicacion -->
            <div class="rte-vendido-usuario">
                <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

                <alert></alert>
                <span>cod:#{{datos.venta_codigo}}</span>
                <a (click)="notificarVendido(datos.venta_codigo)">Reportar como vendido</a>
            </div>

        </section>

        <section class="col-12 col-md-5 col-lg-4 informacion" [ngClass]="{'scroll-tarjeta': isScrolled}">
            <!--
            <button class="tarjeta-favorito" (click)="setFavorito(datos.venta_codigo,i)" [ngClass]="datos.isfavorito=='S' ? 'active' : 'inactive'" type="button" *ngIf="codigo_usuario!=''">
                <i class="material-icons fav">favorite</i>
                <i class="material-icons nofav">favorite_border</i>
            </button-->

            <div class="contenedor-nombre-vehiculo-left">
                <h1 class="nombre-vehiculo">
                    {{datos.marca_nombre}} {{datos.linea_nombre}}
                </h1>

                <div class="tarjeta-tags">
                    <span>{{datos.capacidadmotor_nombre}}</span>
                    <span>{{datos.clase_nombre}}</span>
                    <span>{{datos.venta_modelo}}</span>
                </div>

                <div class="tarjeta-precio">
                    {{datos.venta_valor | currency:'COP':'symbol-narrow':'2.0-1'}}
                </div>

                <div class="favorito">
                    <button class="tarjeta-favorito" (click)="setFavorito(datos.venta_codigo_encrypt,i)"
                        [ngClass]="datos.isfavorito=='S' ? 'active' : 'inactive'" type="button" *ngIf="codigo_usuario!=''">
                        <i class="material-icons fav">favorite</i>
                        <i class="material-icons nofav">favorite_border</i>
                    </button>
                </div>
               
                

                <div class="tarjeta-tags">
                    <span>Este vehículo se encuentra en {{datos.ciudad_nombre}}</span>
                </div>
            </div>


            <!-- concesionario -->
            <div class="card concesionario">
                <div class="row">
                    <div class="info-concesionario" *ngIf="datos.cliente_esconcesionario=='S'">
                        <div class="logo-concesionario">
                            <img src="{{datos.cliente_imagen}}">
                        </div>
                        <h5>{{datos.cliente_nombre}}</h5>
                        <div class="ubicacion">
                            <label>
                                <i class="material-icons">location_on</i> {{datos.ciudad_nombre}}, colombia</label>
                        </div>
                        <a routerLink="/clasificados" [queryParams]="{ p_cliente: datos.cliente_codigo}" class="ver-carros" target="_blank">Ver sus vehículos</a>
                        <!--
                        <a routerLink="/concesionario" (click)="d('Cross click')" class="ver-carros">Ver sus vehículos</a>
                        -->
                    </div>

                    <div class="col nombre-concesionario" id="contacto-vendedor">
                        <div *ngIf="datos.vendedor!=''">
                            <h5>Vendedor:</h5>
                            <label>{{datos.vendedor}}</label>
                        </div>
                        <div *ngIf="datos.venta_telefonocontacto2!=null || datos.venta_telefonocontacto1!=null" >
                            <h5>Teléfono:</h5>
                            <ul>
                                <li *ngIf="datos.venta_telefonocontacto1!=null">{{datos.venta_telefonocontacto1}}</li>
                                <li *ngIf="datos.venta_telefonocontacto2!=null">{{datos.venta_telefonocontacto2}}</li>
                                <li></li>
                            </ul>
                        </div>

                        <div>
                            <a href="tel:{{datos.clasificado_telefono}}" class="btn-material btn-green tel">{{datos.clasificado_telefono}}</a>
                        </div>
                        <!--
                        <div>
                            <a href="https://api.whatsapp.com/api/send?phone=57{{datos.clasificado_telefono}}" class="btn-material btn-red tel">WHATSAPP</a>
                        </div>
                    -->

                    </div>
                </div>

            </div>


            <div class="card">
                <!-- contactar al vendedor -->
                <ngb-accordion #acc="ngbAccordion" *ngIf="items" activeIds="ngb-panel-0" id="pregunta-vendedor">
                    <ngb-panel title="Pregunta al vendedor">
                        <ng-template ngbPanelContent>
                            <div class="col-12">
                                <form [formGroup]="form_mensaje">
                                  
                                    <mat-form-field class="input-full-width">
                                        <input matInput formControlName="correo" placeholder="Correo electrónico">                              
                                    </mat-form-field>
                                    <mat-form-field class="input-full-width">
                                        <input matInput formControlName="nombre" placeholder="Nombre">                              
                                    </mat-form-field>
                                    <mat-form-field class="input-full-width">
                                        <input matInput formControlName="telefono" placeholder="Teléfono de contacto" [textMask]="{mask: mask, guide: false, modelClean: true}">                              
                                    </mat-form-field>
                                    <mat-form-field class="input-full-width">
                                        <textarea matInput placeholder="Mensaje" formControlName="mensaje"></textarea>                              
                                    </mat-form-field>

                                <!--<form name="form" novalidate="" class="ng-pristine ng-invalid ng-touched">
                                    <div class="form-group input" ng-reflect-klass="form-group input" ng-reflect-ng-class="[object Object]">
                                        <label for="username">Correo electrónico</label>
                                        <input class="form-control ng-pristine ng-invalid ng-touched" name="username" required="" type="text" ng-reflect-required=""
                                            ng-reflect-name="username" value="{{correo_usuario}}">
                                    </div>
                                    <div class="form-group input" ng-reflect-klass="form-group input" ng-reflect-ng-class="[object Object]">
                                        <label for="name">Nombre</label>
                                        <input class="form-control ng-pristine ng-invalid ng-touched" name="username" required="" type="text" ng-reflect-required=""
                                            ng-reflect-name="name" value="{{nombre_usuario}}">
                                    </div>

                                    <div class="form-group input" ng-reflect-klass="form-group input" ng-reflect-ng-class="[object Object]">
                                        <label for="telefono">teléfono de contacto</label>
                                        <input class="form-control ng-pristine ng-invalid ng-touched" name="username" required="" type="text" ng-reflect-required=""
                                            ng-reflect-name="telefono" value="{{telefono_usuario}}">
                                    </div>

                                    <div class="form-group input" ng-reflect-klass="form-group input" ng-reflect-ng-class="[object Object]">
                                        <label class="position-relative">Mensaje</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>

                                -->
                                     <mat-checkbox  checked="false" class="d-block acepto-registro mr-2"></mat-checkbox>Acepto el <a href="https://cdnprocessoft.s3.amazonaws.com/SITIOS/XuQlxMLqjS_vGRUP1rcXyNlDKh3dwzcsokrQU-C0s2w/files/AVISO%20DE%20PRIVACIDAD.pdf" target="_blank">&nbsp; Aviso de privacidad &nbsp;</a> y la <a href="https://cdnprocessoft.s3.amazonaws.com/SITIOS/XuQlxMLqjS_vGRUP1rcXyNlDKh3dwzcsokrQU-C0s2w/files/PTDP%20-%20PROCESSOFT%20S%20A%20S.pdf" target="_blank">&nbsp; Política de tratamiento de datos</a>     

                                  
                                
                                    <div class="form-group button">
                                        <button class="btn-busqueda btn-material btn btn-red " (click)="sendMensaje(datos.venta_codigo)">ENVIAR MENSAJE</button>
                                    </div>
                                </form>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
                <!-- contactar al vendedor -->
            </div>
            <div class="col-12 financia-box text-black-50">
                <h3 class="mb-0 text-center">Lleva este vehículo</h3>
                <span>con cuotas mensuales desde</span>
                <h1 class="mt-3">{{datos.cuota | currency:'COP':'symbol-narrow':'2.0-1'}}</h1>
                <a _ngcontent-c2="" class="btn-material bt-green mt-3 text-white" [routerLink]="['/financiera/usado/',datos.venta_codigo]" style="background: #2a9a44;">¡FINANCIA YA!</a>
                <span class="col-12 condicion">*La aprobación de financiamiento y valor de cuotas no es responsabilidad de Indicar, sino de las políticas
                    de la Financiera</span>
                   
            </div>

            <!-- tips seguridad -->
            <div class="card tip-seguridad">
                <h5 class="title">Consejos para tu compra</h5>
                <ul>
                    <li>No pagues sin verificar personalmente la documentación y el estado del vehículo.</li>
                    <li>Desconfía de ofertas debajo del precio de mercado.</li>
                    <li>Hable directamente con el comprador por teléfono.</li>
                    <li>Muestre el vehículo (o vea el auto de su interés) en un lugar seguro, por ejemplo en el parqueadero de
                        un centro comercial, y siempre esté acompañado por personas de confianza.</li>
                </ul>
            </div>
        </section>


        <section class="contacto-footer">
            <div class="row">
                <div class="col-6">
                    <a href="tel:{{datos.clasificado_telefono}}" class="btn-material btn-blue" >
                        <i class="material-icons">call</i>LLAMAR</a>
                </div>

                <div class="col-6">
                    <a class="btn-material btn-green" href="https://wa.me/57{{datos.clasificado_telefono}}?text=Hola%20{{datos.cliente_nombre}}%20estoy%20interesado%20en%20el%20vehículo%20{{datos.marca_nombre}}%20{{datos.linea_nombre}}%20publicado%20en%20Indicar.%20https://www.indicar.com.co/clasificados/detalle/{{datos.venta_codigo}}">
                        <i class="icon-whatsapp"></i>WHATSSAP</a>

                         <!--href="https://api.whatsapp.com/api/send?phone=+57{{datos.clasificado_telefono}}"-->
                        
                </div>
            </div>
        </section>
    </div>




    

    <section class="relacionados">


    </section>
