
<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>    
</div>

<div class="container-fluid fix pt-4" >
			<app-usado-concesionario  [cliente]="cliente" *ngIf="iscliente" [telefonos]="telefonos" ></app-usado-concesionario>

	<div class="row">
		<app-usado-filtro 
		class="filtro-pc" 
		*ngIf="!isResponsive"
		[ftipoclasificado]="ftipoclasificado"
  		[fclase]="fclase"
  		[fmarca]="fmarca"
		[ffamilia]="ffamilia"
		[fdepartamento]="fdepartamento"  
  		[fciudad]="fciudad"
  		[fprecio]="fprecio"
  		[fmodelo]="fmodelo"
  		[fkm]="fkm"
  		[fforma]="fforma"
  		[ftraccion]="ftraccion"
  		[fcaja]="fcaja"
  		[ftipomotor]="ftipomotor"
  		[fcapacidadmotor]="fcapacidadmotor"
  		[fplaca]="fplaca"
		></app-usado-filtro>		
		<app-usado-filtro-responsive *ngIf="isResponsive" class="filtro-responsive fadeInRight"  [ngClass]="filtroR ? 'active' : 'inactive'"
		[ftipoclasificado]="ftipoclasificado"
  		[fclase]="fclase"
  		[fmarca]="fmarca"
		[ffamilia]="ffamilia"
		[fdepartamento]="fdepartamento" 
  		[fciudad]="fciudad"
  		[fprecio]="fprecio"
  		[fmodelo]="fmodelo"
  		[fkm]="fkm"
  		[fforma]="fforma"
  		[ftraccion]="ftraccion"
  		[fcaja]="fcaja"
  		[ftipomotor]="ftipomotor"
  		[fcapacidadmotor]="fcapacidadmotor"
  		[fplaca]="fplaca"
		></app-usado-filtro-responsive >

		<div class="filtro-btn">
            <!--button class="btn filtro-tablet" (click)="filtroR=!filtroR" [ngClass]="filtroR ? 'active' : 'inactive'" >Filtros</button-->
            <button class="btn filtro-icon-responsive" (click)="filtroR=!filtroR" [ngClass]="filtroR ? 'active' : 'inactive'"><i class="material-icons open">tune</i><i class="material-icons closed">close</i></button>
        </div>
		
		<!--div>
        	<button class="btn cerrar-filtro" (click)="filtroR=!filtroR" [ngClass]="filtroR ? 'active' : 'inactive'"><i class="material-icons">close</i></button>
		</div-->


		<div class="overlay-busqueda" #hola (click)="filtroR=!filtroR"  [ngClass]="filtroR ? 'active' : 'inactive'"></div>

		<div class="col">
			<app-usado-item2 
			[item]="items" 
			[filtros]="p_filtros" 
			[totalregsitros]="total_items" 
			[cliente]="cliente" 			
			></app-usado-item2>
			<app-paginador [total_items]="total_items"   
			(eventPaginador)="setPage($event)"></app-paginador>
		</div>
		
	</div>

</div>
