<div class="valorizador">
    <div class="header-valorador">
	    <div class="container-fluid fix">
	        <h1>
	            Valora tú vehículo
	        </h1>
	    </div>
	</div>

   <div class="container-fluid fix back-white w-900" >

   		 <div class="col-md-12 text-center">
            <h3 class="mt-4">El valor sugerido de su vehículo</h3>
        </div>

   		<div class="valor-sugerido mt-5">
	          <h5 class="text-center">AVEO EMOTION GT 5P HB 4X2 AUT GSL 1600 CC FE 1 AB PRT</h5>

	          <div class="row car-valor">
	            <div class="col-md-4">
	              <div class="title">Modelo</div>
	              <div class="content">
	                <p>2014</p>
	              </div>
	              <label>Año modelo del vehículo</label>
	            </div>

	            <div class="col-md-4">
	              <div class="title">Valor usado</div>
	              <div class="content">
	                <span _ngcontent-c4="" matprefix="">$&nbsp;</span>
	                <p>24,230,000</p>
	              </div>
	              <label>Es el valor promedio por el cual el vehículo es vendido en el mercado.</label>
	            </div>

	            <div class="col-md-4">
	              <div class="title">Valor retoma</div>
	              <div class="content">
	                <span _ngcontent-c4="" matprefix="">$&nbsp;</span>
	                <p>24,230,000</p>
	              </div>
	              <label>Es el valor promedio por el cual un concesionario de usados o un retomador compraría el vehículo.</label>
	            </div>
	          </div>
        </div>

        <div class="col-md-12 col-sm-12 text-center pt-3">
            <a href="/valora" class="btn-material btn-red" style="max-width: 200px;">Volver a valorar</a>
        </div>

           
   </div>
</div>