<div class="container-fluid page-content">



 <section class="swiper-contenido" [ngClass]="toggleSwiper ? 'active animated slideInUp' : 'inactive'">
        <button class="close-swiper" (click)="toggleSwiper=!toggleSwiper">
            <i class="material-icons">close</i>
        </button>



        <swiper class="swiper" [config]="config" >
            <button class="tarjeta-favorito" (click)="tarjetaFav=!tarjetaFav"  [ngClass]="tarjetaFav ? 'active animated swing' : 'inactive'" type="button">
                <i class="material-icons fav">favorite</i>
                <i class="material-icons nofav">favorite_border</i>
            </button>

            <div class="swiper-wrapper test">
                <div class="swiper-slide">
                    <img (click)="toggleSwiper=!toggleSwiper"  class="img-fluid" src="https://d1wx0q0ct4xanw.cloudfront.net/LA/LINEAS/gn9ZO0p3V2x8BIwb3v50i3cp4kowQTyg1RyHK3-TuH4/gn9ZO0p3V2x8BIwb3v50i3cp4kowQTyg1RyHK3-TuH4h3KLg4W6TkVfTafvWhJoKx1Uab6nRigVsP8EIzNkJgw.jpg" alt="">
                   
                    
                </div>
                <div class="swiper-slide">
                    <img  (click)="toggleSwiper=!toggleSwiper"  class="img-fluid" src="https://d1wx0q0ct4xanw.cloudfront.net/LA/LINEAS/gn9ZO0p3V2x8BIwb3v50i3cp4kowQTyg1RyHK3-TuH4/gn9ZO0p3V2x8BIwb3v50i3cp4kowQTyg1RyHK3-TuH4XuQlxMLqjS_vGRUP1rcXyNlDKh3dwzcsokrQU-C0s2w.jpg" alt="">
                                         
                </div>
                <div class="swiper-slide">
                      <img (click)="toggleSwiper=!toggleSwiper"  class="img-fluid"  src="https://d1wx0q0ct4xanw.cloudfront.net/LA/LINEAS/gn9ZO0p3V2x8BIwb3v50i3cp4kowQTyg1RyHK3-TuH4/gn9ZO0p3V2x8BIwb3v50i3cp4kowQTyg1RyHK3-TuH4jxh1iBD-MPFd2NMAIMSFB4uTEez9PhpbGMjW3GfkYyY.jpg" alt="">
                     
                    
                </div>

            </div>

            <div class="swiper-pagination"></div>
        </swiper>
    </section>

    <section class="informacion">

        <div class="tarjeta" >
          

            <h1 class="nombre-vehiculo">
                NISSAN NEW NP300 FRONTIER CS CH 4X2 MEC DIE 2500 CC DH PRT
            </h1>

            <div class="tarjeta-tags">
                    <span>1800 CC</span>
                    <span>140.000 Km</span>
                    <span>2010</span>
                </div>

            <div class="tarjeta-precio">
                 $ 59.000.000
            </div>

            <button class="tarjeta-comparar" (click)="tarjetaComp=!tarjetaComp"  [ngClass]="tarjetaComp ? 'active animated swing' : 'inactive'" type="button">
                <i class="material-icons fav">compare</i>
                <p>Comparar</p>
            </button>

            <button class="btn-fullwidth btn-material btn-financia">
                Financia este vehículo
            </button>   

        </div>



    </section>

    <section class="ficha-tecnica">
            
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0, ngb-panel-1, ngb-panel-2">

  <ngb-panel title="Simple">

    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainabl
      e VHS.
    </ng-template>

  </ngb-panel>

   <ngb-panel title="Simple">

    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainabl
      e VHS.
    </ng-template>
    
  </ngb-panel>


   <ngb-panel title="Simple">

    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainabl
      e VHS.
    </ng-template>
    
  </ngb-panel>
  
</ngb-accordion>

    </section>

    <section class="contacto row">
        <div class="llamar col-6">
            <a href="tel:15551234567"><i class="material-icons">call</i> Llamar</a>
        </div>
        <div class="whatsapp col-6">
            <a href="https://api.whatsapp.com/send?phone=15551234567">Whatsapp</a>
        </div>
    </section>
  
</div>