
.icon-2pnb:before { content: '\e800'; } /* '' */
.icon-3phb:before { content: '\e801'; } /* '' */
.icon-4pnb:before { content: '\e802'; } /* '' */
.icon-5phb:before { content: '\e803'; } /* '' */
.icon-busnato:before { content: '\e804'; } /* '' */
.icon-bustrompon:before { content: '\e805'; } /* '' */
.icon-cabinamedia:before { content: '\e806'; } /* '' */
.icon-cabinamediapickup:before { content: '\e807'; } /* '' */
.icon-cabinasencilla:before { content: '\e808'; } /* '' */
.icon-cabinasencillachasis:before { content: '\e809'; } /* '' */
.icon-cabinasencillapickup:before { content: '\e80a'; } /* '' */
.icon-doblecabina:before { content: '\e80b'; } /* '' */
.icon-doblecabinapickup:before { content: '\e80c'; } /* '' */
.icon-tractocamion:before { content: '\e80d'; } /* '' */
.icon-vancargo:before { content: '\e80e'; } /* '' */
.icon-vanpasajeros:before { content: '\e80f'; } /* '' */
.icon-wagon3p:before { content: '\e810'; } /* '' */
.icon-wagon5p:before { content: '\e811'; } /* '' */
.icon-transmision_auto:before { content: '\e812'; } /* '' */
.icon-transmision_dual:before { content: '\e813'; } /* '' */
.icon-transmision_manual:before { content: '\e814'; } /* '' */