<!-- fondo y buscador principal -->
<section class="header-principal">
  <div class="cuadro-negro"></div>
  <div class="container-fluid fix buscador">
    <div class="titulo-pagina-inicio">
      <h2 class="col-12">Encuentra tu vehículo ideal</h2>
    </div>
    <div class="buscafacil">
      <app-inicio-filtro></app-inicio-filtro>
    </div>
  </div>
</section>
<section class="herramientas2">
  <div class="tools-section">
    <div class="tools-item">
      <img
        src="assets/template/icono-calcular-cuota.svg"
        alt="Clacular cuota"
        title="Calcula tu cuota - indicar"
      />
      <span>Calcula tu cuota</span>
    </div>
    <div class="tools-item">
      <img
        src="assets/template/icono-solicitar-credito.svg"
        alt="Clacular cuota"
        title="Calcula tu cuota - indicar"
      />
      <span>Solicita crédito</span>
    </div>
    <div class="tools-item">
      <img
        src="assets/template/icono-concesionario.svg"
        alt="Clacular cuota"
        title="Calcula tu cuota - indicar"
      />
      <span>Concesionarios</span>
    </div>
  </div>
</section>
<!-- NOTICIAS -->
<!-- <a routerLink="/noticias">Enlace noticias</a> -->
<!-- SECTION GANGAS DEL MOMENTO -->
<app-inicio-gangas></app-inicio-gangas>
<br>

<div style="text-align: center">
  <ng-adsense
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-7159056057507747"
    data-ad-slot="5223120834"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ng-adsense>
</div>
<!-- SECTION UNICO DUENIO -->
<app-inicio-unico-duenio></app-inicio-unico-duenio>

<!-- HERRAMIENTAS -->

<!-- loading -->
<div class="load-content" *ngIf="loading">
  <div class="content-spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
