<!-- fondo y buscador principal -->
<section class="header-principal">
    <div class="cuadro-negro"></div>
    <div class="container-fluid fix buscador">
        <div class="titulo-pagina-inicio">
            <h2 class="col-12 ">
                Encuentra tu vehículo ideal
            </h2>
         </div>
        <div class="buscafacil">
            <app-inicio-filtro></app-inicio-filtro>
        </div>
    </div>
</section>  
<!-- NOTICIAS -->
<!-- <a routerLink="/noticias">Enlace noticias</a> -->
<!-- SECTION GANGAS DEL MOMENTO -->
<app-inicio-gangas></app-inicio-gangas>
<!-- SECTION UNICO DUENIO -->
<app-inicio-unico-duenio></app-inicio-unico-duenio>
<!-- HERRAMIENTAS -->
<section class="herramientas" style="padding:0px !important">
    <div class="container-fluid fix">
        <div class="col-12 titulo-seccion">
            <h3 class="titulo">Herramientas<span id="region"></span></h3>        
            <p class="subtitulo">Te ayudamos a encontrar el vehículo ideal</p>
        </div>
        <div class="row" style="margin:0px !important">
            <div class="col-md-4 col-sm-4 col-4 herramientas">
                <a routerLink="/financiamiento/calcular-cuota">
                    <img src="assets/images/calcula_bl.svg" alt="Calcular cuota">
                    <h5>Calcula tu cuota</h5>
                </a>
            </div>
    
            <div class="col-md-4 col-sm-4 col-4 herramientas">
                <a routerLink="/financiamiento/solicitar-credito">
                    <img src="assets/images/financia_bl.svg" alt="Solicitar credito">
                    <h5>Solicita credito</h5>
                </a>
            </div>
    
            <div class="col-md-4 col-sm-4 col-4 herramientas" >
                <a routerLink="/concesionarios">
                    <img src="assets/images/concesionario.svg" alt="Concesionarios">
                    <h5>Concesionario</h5>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- loading -->
<div class="load-content" *ngIf="loading">
    <div class="content-spinner">
        <mat-spinner></mat-spinner>
    </div>
</div>