<div class="section-content-standard">
    <div class="container-fluid">
        <!-- CONTENT -->
        <div class="global-content">
            <div class="row padding-row">
                <div class="section-title">
                    <h3 class="titulo">{{title}}</h3>
                    <hr style="width: 70%">
                </div>
                <div class="section-posts">
                    <div class="section-img">
                        <img src="{{image}}" alt="">
                    </div>
                    <div class="section-content-post" [innerHTML]="content"></div>
                </div>
                
                <!-- <section class="section-news-principal" >
                    
                </section> -->
            </div>
        </div>
    </div>
</div>