<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <div *ngIf="!sidenav.opened">
      <i class="fas fa-filter"></i>&nbsp;&nbsp;<strong>Filtros</strong>
    </div>

    <div *ngIf="sidenav.opened">
      <i class="far fa-times-circle"></i>&nbsp;&nbsp;<strong>Cerrar</strong>
    </div>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <div class="container-fluid fix filtros-contenido p-0">
      <div class="form-group col">
        <label class="title-menu"><strong>Tipo de Búsqueda</strong></label>
        <mat-form-field appearance="outline" class="col-12">
          <mat-select class="input-border" (selectionChange)="tipoBusqueda($event)"  placeholder="Seleccione..." required>
            <mat-option selected value="1">Búsqueda Basica</mat-option>
            <mat-option value="2">Búsqueda Avanzada</mat-option>
            <mat-option value="3">Búsqueda Profesional</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div class="form-group col">
        <label class="title-menu"><strong>Clase de Vehículo</strong></label>
        <div class="check-filtros">
          <mat-checkbox
            (change)="getDataFilter('marca', $event)"
            *ngFor="let data of listClases; let i = index"
            value="{{ data.id }}"
            >{{ data.nombre }}</mat-checkbox
          >
        </div>
      </div>
      <div *ngIf="profesional|| avanzada">
      <mat-divider></mat-divider>
      <div class="form-group col">
        <label class="title-menu"><strong>Forma de Vehículo</strong></label>
        <div class="section">
          <div class="check-filtros">
            <!-- (change)="getDataFilter('linea', $event,familia)" -->
            <mat-checkbox
              *ngFor="let forma of listForma"
              value="{{ forma.id }}"
              >{{ forma.nombre }}</mat-checkbox
            >
          </div>
        </div>
      </div>
    </div>
      <div *ngIf="profesional">
      <mat-divider></mat-divider>
      <div class="form-group col">
        <label class="title-menu"><strong>Tipo de Carrocería</strong></label>
        <div class="section">
          <div class="check-filtros">
            <!-- (change)="getDataFilter('linea', $event,familia)" -->
            <mat-checkbox
              *ngFor="let forma of listForma"
              value="{{ forma.id }}"
              >{{ forma.nombre }}</mat-checkbox
            >
          </div>
        </div>
      </div>
     
      <mat-divider></mat-divider>
      <div class="form-group col">
        <label class="title-menu"><strong>Tipo de Segmento</strong></label>
        <mat-form-field appearance="outline" class="col-12">
          <mat-select class="input-border" placeholder="Seleccione..." required>
            <mat-option
              *ngFor="let segmento of listSegmento"
              [value]="segmento.id"
            >
              {{ segmento.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    
        <mat-divider></mat-divider>
      <div class="form-group col">
        <label class="title-menu"><strong>Tipo de Servicio</strong></label>
        <mat-form-field appearance="outline" class="col-12">
          <mat-select class="input-border" placeholder="Seleccione..." required>
            <mat-option
              *ngFor="let servicio of listTipoServicio"
              [value]="servicio.id"
            >
              {{ servicio.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      </div>


      <mat-divider></mat-divider>
      <div class="form-group col">
        <label class="title-menu"><strong>Marcas</strong></label>

        <div class="check-filtros">
          <mat-checkbox
            (change)="getDataFilter('familia', $event, data)"
            *ngFor="let data of listMarcas"
            value="{{ data.id }}"
            >{{ data.nombre }}</mat-checkbox
          >
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="form-group col">
        <label class="title-menu"><strong>Familias</strong></label>

        <div class="section">
          <div *ngFor="let familia of listFamilias">
            <label
              ><strong>{{ familia.nombre }}</strong></label
            >

            <div class="check-filtros">
              <mat-checkbox
                (change)="getDataFilter('linea', $event, familia)"
                *ngFor="let data of familia.data"
                value="{{ data.id }}"
                >{{ data.nombre }}</mat-checkbox
              >
            </div>
            <hr />
          </div>
        </div>
      </div>
     <div *ngIf="avanzada ||  profesional">

      <mat-divider></mat-divider>
      <!-- traccion -->
      <div class="form-group col">
        <label class="title-menu"><strong>Tracción</strong></label>
        <mat-form-field appearance="outline" class="col-12">
          <mat-select class="input-border" placeholder="Seleccione..." required>
            <mat-option
              *ngFor="let traccion of listTraccion"
              [value]="traccion.id"
            >
              {{ traccion.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
     </div>

 
    <mat-divider></mat-divider>
    <div class="form-group col">
      <label class="title-menu"><strong>Tipo de Caja</strong></label>

      <div class="check-filtros">
        <mat-checkbox
          *ngFor="let caja of listCajaTipo"
          (change)="getDataFilter('caja', $event, caja)"
          value="{{ caja.id }}"
          >{{ caja.nombre }}</mat-checkbox
        >
      </div>
    </div>
 
      

      <div *ngIf="profesional">
        <mat-divider></mat-divider>
        <div class="form-group col">
          <label class="title-menu"><strong>Tipo de Motor</strong></label>
          <mat-form-field appearance="outline" class="col-12">
            <mat-select class="input-border" placeholder="Seleccione..." required>
              <mat-option
                *ngFor="let motor of listTipoMotor"
                [value]="motor.id"
              >
                {{ motor.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
     
       <!-- Equipamento -->
      <div *ngIf="profesional">
        <mat-divider></mat-divider>
     
      <div class="form-group col" >
        <label class="title-menu"><strong>Equipamiento</strong></label>
        <mat-form-field appearance="outline" class="col-12">
          <mat-select class="input-border" placeholder="Seleccione..." required>
            <mat-option
              *ngFor="let equipamento of listEquipamento"
              [value]="equipamento.id"
            >
              {{ equipamento.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      </div>

      <mat-divider></mat-divider>
      <!-- Linea -->
      <div class="form-group col">
        <label class="title-menu"><strong>Linea</strong></label>
        <div class="section">
          <div *ngFor="let linea of listLineas">
            <label>{{ linea.nombre }}</label>
            <hr />
            <div class="check-filtros">
              <!-- (change)="getDataFilter('linea', $event,familia)" -->
              <mat-checkbox
                *ngFor="let data of linea.data"
                value="{{ data.id }}"
                >{{ data.nombre }}</mat-checkbox
              >
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8 table-scroll">
      <div>
        <h3 class="titleheader">
          Consulta el valor del vehículo que quieres vender <br />
          o comprar y compara los precios por año modelo <br />
          de los vehículos de tu interés
        </h3>
      </div>

      <div>
        <section class="flex-container">
          <div class="cajaHeader1"></div>

          <div class="cajaNuevo precioNuevo"><Strong>Nuevos</Strong></div>
          <div class="cajaUsado precioUsados"><strong>Usados</strong></div>
        </section>

        <!-- años de los vehiculos -->
        <section class="flex-container">
          <div class="cajaHeader1"></div>

          <span class="cajaHeader" *ngFor="let nuevo of listAnoNuevo">
            <div class="cajaHeader precioNuevoAnos">
              <strong>{{ nuevo.modelo }}</strong>
            </div>
          </span>

          <span *ngFor="let usado of listAnoUsados">
            <div class="cajaHeader precioUsadosAnos">
              <strong>{{ usado.modelo }}</strong>
            </div>
          </span>
        </section>
        <hr style="width: 100%" />
        <!-- años de los precios data -->

        <div
          *ngFor="
            let dataPrecio of listPrecios | paginate: page_size:page_number
          "
        >
          <section class="flex-container">
            <div class="caja">
              <img style="width: 90px" [src]="dataPrecio.imagen" alt="" />
            </div>
            <div class="textCja">
              {{ dataPrecio.nombre }}
            </div>

            <span
              class="precioNuevo"
              *ngFor="let precioNuevo of dataPrecio.lista_nuevo"
            >
              <ng-container
                *ngIf="precioNuevo.precio == 'N/A'; else elseTemplate"
              >
                <div class="caja">
                  <strong>
                    {{ precioNuevo.precio }}
                  </strong>
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <div class="caja">
                  <strong>
                    {{ precioNuevo.precio | currency }}
                  </strong>
                </div>
              </ng-template>
            </span>

            <span
              class="precioUsados"
              *ngFor="let precioUsado of dataPrecio.lista_usado"
            >
              <ng-container
                *ngIf="precioUsado.precio == 'N/A'; else elseTemplate"
              >
                <div class="caja">
                  <strong>
                    {{ precioUsado.precio }}
                  </strong>
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <div class="caja">
                  <strong>
                    {{ precioUsado.precio | currency }}
                  </strong>
                </div>
              </ng-template>
            </span>
          </section>
          <hr />
        </div>
      </div>

      <!-- <mat-paginator
              [length]="listPrecios.length"
              [pageSize]="page_size"
              [pageSizeOptions]="pageSizeOptions"
              (page)="handlePage($event)"
              showFirstLastButtons
            ></mat-paginator> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
