<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <div *ngIf="!sidenav.opened">
      <i class="fas fa-filter"></i>&nbsp;&nbsp;<strong>Filtros</strong>
    </div>

    <div *ngIf="sidenav.opened">
      <i class="far fa-times-circle"></i>&nbsp;&nbsp;<strong>Cerrar</strong>
    </div>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <div class="container-fluid fix filtros-contenido p-0">
      <div class="form-group col">
        <label class="title-menu"><strong>Tipo de Busqueda</strong></label>
        <mat-form-field appearance="outline" class="col-12">
          <mat-select class="input-border" placeholder="Seleccione..." required>
            <mat-option value="1">Busqueda Basica</mat-option>
            <mat-option value="2">Busqueda Avanzada</mat-option>

            <mat-option value="3">Busqueda Profesional</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div class="form-group col">
        <label class="title-menu"><strong>Clase de vehículo</strong></label>
        <div class="check-filtros">
          <mat-checkbox
            (change)="getDataFilter('marca', $event)"
            *ngFor="let data of listClases; let i = index"
            value="{{ data.id }}"
            >{{ data.nombre }}</mat-checkbox
          >
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="form-group col">
        <label class="title-menu"><strong>Marcas</strong></label>

        <div class="check-filtros">
          <mat-checkbox
          
            (change)="getDataFilter('familia', $event, data)"
            *ngFor="let data of listMarcas"
            value="{{ data.id }}"
            >{{ data.nombre }}</mat-checkbox
          >
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="form-group col">
        <label class="title-menu"><strong>Familia</strong></label>

        <div class="section">
          <ng-container *ngIf="listFamilias.length==0; else elseTemplate">
              <label >No has seleccionado ninguna marca</label>
          </ng-container>
          <ng-template #elseTemplate>
            <div *ngFor="let familia of listFamilias">
              <label
                ><strong>{{ familia.nombre }}</strong></label
              >
  
              <div class="check-filtros">
                <mat-checkbox
                  (change)="getDataFilter('linea', $event, familia)"
                  *ngFor="let data of familia.data"
                  value="{{ data.id }}"
                  >{{ data.nombre }}</mat-checkbox
                >
              </div>
              <hr />
            </div>
          </ng-template>
          
        </div>
      </div>

      <mat-divider></mat-divider>
      <div class="form-group col">
        <label class="title-menu"><strong>Tipo de Caja</strong></label>

        <div class="check-filtros">
          <mat-checkbox
            *ngFor="let caja of listCajaTipo"
            (change)="getDataFilter('caja', $event, caja)"
            value="{{ caja.id }}"
            >{{ caja.nombre }}</mat-checkbox
          >
        </div>
      </div>
      <mat-divider></mat-divider>

      <mat-divider></mat-divider>
      <div class="form-group col">
        <label class="title-menu"><strong>Linea</strong></label>
        <div class="section">
          <div *ngFor="let linea of listLineas">
            <label>{{ linea.nombre }}</label>
            <hr />
            <div class="check-filtros">
              <!-- (change)="getDataFilter('linea', $event,familia)" -->
              <mat-checkbox
                *ngFor="let data of linea.data"
                value="{{ data.id }}"
                >{{ data.nombre }}</mat-checkbox
              >
            </div>
            <hr />
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8 table-scroll">
     
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
