mat-toolbar {
  background: #ffffff;
  color: #004195;
}
mat-sidenav {
  margin: 16px;
  width: 350px;
  border-right: none;
  background: #fff;
  color: #004195;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  font-size: 0.9rem;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.contenido {
  grid-area: contenido;
}

.section {
  max-height: 250px;
  padding: 1rem;
  overflow-y: auto;
  direction: ltr;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}
.section h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.section p + p {
  margin-top: 1rem;
}

.section::-webkit-scrollbar {
  width: 20px;
}

.section::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.section::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #0054b7;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 1px 5px;
  grid-template-areas:
    "title-header title-header"
    "contenido contenido";
  align-content: space-evenly;
}
.title-header {
  grid-area: title-header;
}
.contenido {
  grid-area: contenido;
}

.link-top {
  width: 50%;
  height: 1px;
  border-top: solid #acc0d8 1px;
}

.link-right {
  width: 190px;
  height: 20%;
  border-right: dashed #acc0d8 1px;
  padding-right: 40px;
}

.table-scroll {
  overflow: scroll;
}
/* Firefox */
.table-scroll {
  scrollbar-width: thin;
  scrollbar-color: #0054b7 #ffffff;
}

/* Chrome, Edge, and Safari */
.table-scroll::-webkit-scrollbar {
  width: 16px;
}

.table-scroll::-webkit-scrollbar-track {
  background: #ffffff;
}

.table-scroll::-webkit-scrollbar-thumb {
  background-color: #0054b7;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

/* precio Nuevos */

.precioNuevoAnos {
  color: rgb(4, 189, 4);
  font-size: 1.50rem;
}
.precioUsadosAnos {
  color: #0054b7;
  font-size: 1.50rem;
}

.precioNuevo {
  color: rgb(4, 189, 4);
  font-size: 0.99rem;
}
.precioUsados {
  color: #0054b7;
  font-size: 0.99rem;
}
.preciosList {
  padding: 40px;
}





.titleheader{
	color: #004195;
	text-align: justify;
	/* text-align: center; */
	margin: 20px;
	padding: 10px;
	align-items: flex-end;
	display: flex;
   
	justify-content: right;
   

}

.check-filtros {
  margin-right: 100%;
}



  .flex-container {
	display: flex;
  }
.caja {
  /* border: 1px  solid  #004195; */
  font-family: Arial, Helvetica, sans-serif;

  width: 80px;
  height: 80px;
  line-height: 80px;
  flex: 0 0 auto;
  text-align: justify;
  margin: 35px;
  align-items: center;
  display: flex;
 
  justify-content: center;
}

.cajaNuevo{
   
  border-bottom: 2px  solid  #37a114;
  font-family: Arial, Helvetica, sans-serif;
  
  width: 290px;
  height: 80px;
  line-height: 80px;
  flex: 0 0 auto;
  text-align: justify;
  margin: 25px;
  align-items: center;
  display: flex;
   font-size: 1.7em;
  justify-content: center;
  
  
}
.cajaUsado {
  border-bottom: 2px  solid  #004195;
font-family: Arial, Helvetica, sans-serif;

width: 100%;
height: 80px;
line-height: 80px;
flex: 0 0 auto;
text-align: justify;
margin: 25px;

align-items: center;
display: flex;
font-size: 1.7em;
justify-content: center;
}

.cajaHeader1{
   
    /* border: 1px  solid  #004195; */
    font-family: Arial, Helvetica, sans-serif;
    
    width: 300px;
    height: 70px;
    line-height: 70px;
    flex: 0 0 auto;
    text-align: justify;
    margin: 2px;
    align-items: center;
    display: flex;
     
    justify-content: center;
    
}
.cajaHeader {
	/* border: 1px  solid  #004195; */
	font-family: Arial, Helvetica, sans-serif;
  
	width: 90px;
	height: 20px; 
	line-height: 20px;
	flex: 0 0 auto;
	text-align: justify;
	margin: 30px;
	align-items: center;
	display: flex;
   
	justify-content: center;
  }
.textCja {
  font-size: 0.8em;

  flex: 0 0 auto;
  /* border: 1px  solid  #004195; */
  font-family: Arial, Helvetica, sans-serif;

  width: 150px;
  height: 80px;
  /* line-height: 40px; */
  text-align: justify;
  /* text-align: center; */
  margin: 5px;

  align-items: center;
  display: flex;
 
  justify-content: left;
 
}

