
        <table class="table table-borderless compact">
          <thead>
            <tr>
              <th colspan="2"></th>
              <th colspan="3">Nuevos</th>
              <th colspan="22">Usados</th>
            </tr>
            <tr>
              <th colspan="2"></th>
              <span class="precioNuevo" *ngFor="let item of listAnoNuevo">
                <th>
                  {{ item.modelo }}
                </th>
              </span>

              <span *ngFor="let item of listAnoUsados">
                <th >
                  {{ item.modelo }}
                </th>
              </span>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let dataPrecio of listPrecios | paginate: page_size:page_number
              "
            >
            <th>
              <div>
                <img style="width: 60px" [src]="dataPrecio.imagen" alt="" />
              </div>
            </th>


              <td style="width: 35px">
                <p class="link-right">{{ dataPrecio.nombre }}</p>
              </td>
              <!-- precio de vehiculos nuevos -->
              <span
                class="precioNuevo"
                *ngFor="let precioNuevo of dataPrecio.lista_nuevo"
              >
                <ng-container
                  *ngIf="precioNuevo.precio == 'N/A'; else elseTemplate"
                >
                  <td>
                    <strong>
                      {{ precioNuevo.precio }}
                    </strong>
                  </td>
                </ng-container>
                <ng-template #elseTemplate>
                  <td>
                    <strong>
                      {{ precioNuevo.precio | currency }}
                    </strong>
                  </td>
                </ng-template>
              </span>

              <!-- precio de vehiculos usados -->

              <span
              class="precioUsados"
              *ngFor="let precioUsado of dataPrecio.listAnoUsados"
            >
              <ng-container
                *ngIf="precioUsado.precio == 'N/A'; else elseTemplate"
              >
                <td>
                  <strong>
                    {{ precioUsado.precio }}
                  </strong>
                </td>
              </ng-container>
              <ng-template #elseTemplate>
                <td>
                  <strong>
                    {{ precioUsado.precio | currency }}
                  </strong>
                </td>
              </ng-template>
            </span>
            </tr>

            <div class="link-top"></div>
          </tbody>
        </table>
        <mat-paginator
        [length]="listPrecios.length"
        [pageSize]="page_size"
        [pageSizeOptions]="pageSizeOptions"
        (page)="handlePage($event)"
        showFirstLastButtons
      ></mat-paginator>
        <!--  -->
