.calcular-cuota{
  background: url('../../../assets/images/pasarela.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 70vh;
}
.content-form{
  background: #ffffff;
  padding: 20px;
  box-shadow: 3px 2px 9px -3px black;
  z-index: 1;
}
.content-form .section-header h1 {
  font-size: 24px;
  font-weight: 600;
  padding-left: 20px;
}
.global-content-full.calcular-cuota {
  padding: 30px 0px;
}


.valor-cuota{
  background: white;
  left: -15px;
  position: relative;
  padding: 20px;
}
@media screen and (max-width:768px){
  .valor-cuota{
      left: 0px;
      margin: 0px 20px;
  }
  .content-form{
      margin: 0px 26px;
  }
}


.myButton {
	background-color:#013b8e;
	border-radius:28px;
	border:1px solid #013b8e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;

	font-size:13px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #013b8e;
}
/* .myButton:hover {
	background-color:#0551bb;
} */
.myButton:active {
	position:relative;
	top:-1px;
}
